force-app/main/default/flows/AbrirCerrarOrden.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Abrir_WO</name>
        <label>Abrir WO</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Ir_a_Work_Order</name>
        <label>Copy 1 of Ir a Work Order</label>
        <locationX>874</locationX>
        <locationY>5114</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>genera_Pedido_Servicio</name>
        <label>genera Pedido Servicio</label>
        <locationX>346</locationX>
        <locationY>5114</locationY>
        <actionName>ServicioGenerarPedidoFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copia_1_de_Genera_registro_de_cambio</targetReference>
        </connector>
        <faultConnector>
            <targetReference>obtiene_cuenta</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idWorkOrder</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ir_a_Work_Order</name>
        <label>Ir a Work Order</label>
        <locationX>346</locationX>
        <locationY>5330</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>asigna_faltan_campos_ot</name>
        <label>asigna faltan campos ot</label>
        <locationX>478</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>FaltanCamposWO</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validaciones_de_aprobacion_faltantes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_ids_de_respuesta_pedido</name>
        <label>asigna ids de respuesta pedido</label>
        <locationX>310</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>RespuestasIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_respuesta_pedido.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_respuesta_pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaci_n_5</name>
        <label>Asignación 5</label>
        <locationX>478</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>faltanAprobacionesDescuentos</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_si_no_hay_contacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigna_ids_work_order</name>
        <label>assigna ids work order</label>
        <locationX>330</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>idsWO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLineasNoFacturadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExistenLineasNoFacturadas</name>
        <label>ExistenLineasNoFacturadas</label>
        <locationX>198</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ExistenLineasNoF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_si_respuesta_pedidos_no_es_nulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Entregado_y_Reservado</name>
        <label>No Entregado y Reservado</label>
        <locationX>930</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>NoEntregadoYReservado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_wolis</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_si_respuesta_pedidos_no_es_nulo</name>
        <label>Copy 1 of si respuesta pedidos no es nulo</label>
        <locationX>330</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>decide_si_est_cerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Respuesta_Pedido_no_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRespuestaPedido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_respuesta_pedido</targetReference>
            </connector>
            <label>Copy 1 of Respuesta Pedido no nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_si_est_cerrado</name>
        <label>decide si está cerrado</label>
        <locationX>330</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>EsNotadeCredito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esta_cerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_work_order.isLocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>esta cerrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_si_faltan_campos_en_work_order</name>
        <label>Decide si faltan campos en work order</label>
        <locationX>610</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>validaciones_de_aprobacion_faltantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_faltan_campos_en_wo</name>
            <conditionLogic>1 OR 3 OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_work_order.Realizar_encuesta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.BMW_CategorizacionDeRespuestaEncuesta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Kilometros__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Realizar_encuesta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_faltan_campos_ot</targetReference>
            </connector>
            <label>si faltan campos en wo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_si_no_hay_contacto</name>
        <label>Decide si no hay contacto</label>
        <locationX>610</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>GetTipoCargoGarantia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_hay_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_work_order.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Pantalla_Inicial</targetReference>
            </connector>
            <label>No hay contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>EsNotadeCredito</name>
        <label>EsNotadeCreditoOUsuarioPuedeCerrarSinEstado</label>
        <locationX>610</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>obtiene_work_order_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotaCreditoActiva</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_work_order.Nota_de_cr_dito_activa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.puedeCerrarSinReserva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_si_faltan_campos_en_work_order</targetReference>
            </connector>
            <label>IsNotaCreditoActiva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_todo_bien_con_campos</name>
        <label>Esta todo bien con campos</label>
        <locationX>610</locationX>
        <locationY>4898</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Pantalla_Inicial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Todo_ok_con_campos</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>FaltanCamposWO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoEntregadoYReservado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>faltanAprobacionesDescuentos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Aprobaci_n_Centro_de_Costos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Aprobador_Centro_de_Costos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.tipoDeGasto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Interno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pantalla_Inicial</targetReference>
            </connector>
            <label>Todo ok con campos</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfLineasNoFacturadas</name>
        <label>IfLineasNoFacturadas</label>
        <locationX>330</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_si_respuesta_pedidos_no_es_nulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lineasnofacturadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLineasNoFacturadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistenLineasNoFacturadas</targetReference>
            </connector>
            <label>lineasnofacturadas</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNoActividadComercial</name>
        <label>IfNoActividadComercial</label>
        <locationX>330</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>IfLineasNoFacturadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Actividad_Comercial</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>GetCuentaFacturaci_n.C_digo_de_Actividad_Econ_mica__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCuentaFacturaci_n.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>empresarial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCuentaFacturaci_n.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jurídico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2025-11-01T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Pantalla_Inicial</targetReference>
            </connector>
            <label>No Actividad Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfTipoCargoGarantia</name>
        <label>IfTipoCargoGarantia o BSI</label>
        <locationX>610</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>GetTipoInterno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_IfTipoCargoGarantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTipoCargoGarantia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.N_mero_de_reclamo_de_garant_as__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaNumeroReclamoGarantia</targetReference>
            </connector>
            <label>IfTipoCargoGarantia O BSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfTipoInterno</name>
        <label>IfTipoInterno</label>
        <locationX>610</locationX>
        <locationY>4490</locationY>
        <defaultConnector>
            <targetReference>Esta_todo_bien_con_campos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tipoInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTipoInterno</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_PantallaNumeroReclamoGarantia_o_BSI</targetReference>
            </connector>
            <label>tipoInterno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Revisa_estatus_wolis</name>
        <label>Revisa estatus wolis</label>
        <locationX>1062</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>recorre_wolis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esta_distinto_de_entregado_y_reservado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recorre_wolis.Estado_reserva__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorre_wolis.Estado_entrega__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Entregado_y_Reservado</targetReference>
            </connector>
            <label>esta distinto de entregado y reservado</label>
        </rules>
    </decisions>
    <decisions>
        <name>validaciones_de_aprobacion_faltantes</name>
        <label>validaciones de aprobacion faltantes</label>
        <locationX>610</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>Decide_si_no_hay_contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>le_falta_alguna_combinacion</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_work_order.Nivel_de_aprobaci_n_descuento_para_art_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Estado_de_aprobaci_n_descuento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Nivel_de_aprobaci_n_descuento_para_MO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_work_order.Estado_de_aprobaci_n_descuento_MO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaci_n_5</targetReference>
            </connector>
            <label>le falta alguna combinacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_order_line_item_no_es_nulo</name>
        <label>Work order line item no es nulo</label>
        <locationX>906</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Decide_si_faltan_campos_en_work_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_es_nulo_woli</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_work_order_line_items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_wolis</targetReference>
            </connector>
            <label>no es nulo woli</label>
        </rules>
    </decisions>
    <description>Con Restricción De Actividad Económica</description>
    <formulas>
        <name>FechaCambio</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Abrir {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abrir y Cerrar Orden</label>
    <loops>
        <name>Recorre_respuesta_pedido</name>
        <label>Recorre respuesta pedido</label>
        <locationX>222</locationX>
        <locationY>1490</locationY>
        <collectionReference>GetRespuestaPedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_ids_de_respuesta_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decide_si_est_cerrado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_wolis</name>
        <label>recorre wolis</label>
        <locationX>842</locationX>
        <locationY>2306</locationY>
        <collectionReference>obtiene_work_order_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Revisa_estatus_wolis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decide_si_faltan_campos_en_work_order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copia_1_de_Genera_registro_de_cambio</name>
        <label>Copia 1 de Genera registro de cambio</label>
        <locationX>346</locationX>
        <locationY>5222</locationY>
        <connector>
            <targetReference>Ir_a_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Acci_n_realizada__c</field>
            <value>
                <elementReference>get_work_order.Estado_OT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraCambio__c</field>
            <value>
                <elementReference>FechaCambio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orden_de_trabajo__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsuarioQuerealizaElCambio__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Historial_OT_abierta_cerrada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Genera_registro_de_cambio</name>
        <label>Genera registro de cambio</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Abrir_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>Acci_n_realizada__c</field>
            <value>
                <elementReference>get_work_order.Estado_OT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraCambio__c</field>
            <value>
                <elementReference>FechaCambio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orden_de_trabajo__c</field>
            <value>
                <elementReference>Get_WO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsuarioQuerealizaElCambio__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Historial_OT_abierta_cerrada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Pedido</name>
        <label>Get Pedidos</label>
        <locationX>330</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRespuestaPedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pantalla_Inicial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_work_order</name>
        <label>get work order</label>
        <locationX>330</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assigna_ids_work_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCuentaFacturaci_n</name>
        <label>GetCuentaFacturación</label>
        <locationX>330</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNoActividadComercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_work_order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLineasNoFacturadas</name>
        <label>GetLineasNoFacturadas</label>
        <locationX>330</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCuentaFacturaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Facturado</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_work_order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRespuestaPedido</name>
        <label>Get Respuesta Pedido</label>
        <locationX>330</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_work_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Respuesta_pedido__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTipoCargoGarantia</name>
        <label>GetTipoCargoGarantia o BSI</label>
        <locationX>610</locationX>
        <locationY>3866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfTipoCargoGarantia</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_work_order.WorkOrderNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>tipoCargo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <filters>
            <field>tipoCargo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tipoCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTipoInterno</name>
        <label>GetTipoInterno</label>
        <locationX>610</locationX>
        <locationY>4382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfTipoInterno</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_work_order.WorkOrderNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>tipoCargo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tipoCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_cuenta</name>
        <label>obtiene cuenta</label>
        <locationX>610</locationX>
        <locationY>5222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pantalla_de_Error_en_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_work_order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_work_order_line_items</name>
        <label>obtiene work order line items</label>
        <locationX>906</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_order_line_item_no_es_nulo</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4 ) AND 3 AND (5 OR 6)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trabajo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Materiales</stringValue>
            </value>
        </filters>
        <filters>
            <field>EsKit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TrabajoFormulaProducto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Materiales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_Solicitud_Compra__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estado_Solicitud_Compra__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recibido en bodega</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>abre_la_orden</name>
        <label>abre la orden</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Genera_registro_de_cambio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isLocked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateWorkOrder</name>
        <label>Copy 1 of UpdateWorkOrder</label>
        <locationX>478</locationX>
        <locationY>4706</locationY>
        <connector>
            <targetReference>Esta_todo_bien_con_campos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pedido_interno_es_de_plan__c</field>
            <value>
                <elementReference>Cargo_Interno_Corresponde_a_Plan_de_Mantenimiento</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>UpdateWorkOrder</label>
        <locationX>478</locationX>
        <locationY>4190</locationY>
        <connector>
            <targetReference>GetTipoInterno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_mero_de_reclamo_de_garant_as__c</field>
            <value>
                <elementReference>N_mero_de_reclamo_de_garant_a</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Pantalla_Inicial</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Pantalla Inicial</label>
        <locationX>198</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfLineasNoFacturadas</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_MuestraEstado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Estado de la Orden: Abierto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_espacio</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 18, 3); background-color: rgb(246, 247, 251); font-size: 12px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif;&quot;&gt;No se puede generar pedido: La cuenta debe  tener definida código de actividad económica. Para completar esta información dirigirse al módulo de cuenta contacto y agregue el código de actividad económica.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Pantalla_Inicial</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Pantalla Inicial</label>
        <locationX>478</locationX>
        <locationY>3674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTipoCargoGarantia</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_MuestraEstado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Estado de la Orden: Abierto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_espacio</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(246, 247, 251); color: rgb(228, 18, 3);&quot;&gt;No se puede generar pedido: La orden de trabajo no tiene contacto, por favor agregelo y vuelva a intentar.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Pantalla_Inicial</name>
        <label>Copy 1 of Copy 1 of Pantalla Inicial</label>
        <locationX>874</locationX>
        <locationY>5006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Ir_a_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MuestraEstado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Estado de la Orden: Abierto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_espacio</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 18, 3); background-color: rgb(246, 247, 251); font-size: 12px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif;&quot;&gt;No se puede generar pedido: Existen artículos pendientes de entregar&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoEntregadoYReservado</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MuestraFaltanCamposWO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 18, 3); background-color: rgb(246, 247, 251); font-size: 12px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif;&quot;&gt;No se puede enviar el pedido si los campos: Realizar encuesta, categorización de encuesta y kilometros no están llenos.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FaltanCamposWO</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mensajeAprobaciones</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(246, 247, 251); color: rgb(228, 18, 3);&quot;&gt;No se puede enviar el pedido aprobaciones pendientes.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>faltanAprobacionesDescuentos</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FaltaAprobadorCentroCosto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(246, 247, 251); color: rgb(228, 18, 3);&quot;&gt;No se puede enviar el pedido aprobación centro de costos pendiente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_WO.Aprobador_Centro_de_Costos__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_WO.tipoDeGasto__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Interno</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>centroDeCostosRechazado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 18, 3); background-color: rgb(246, 247, 251); font-size: 12px; font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif;&quot;&gt;No se puede enviar el pedido aprobación centro de costos rechazado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_WO.Aprobaci_n_Centro_de_Costos__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Rechazado</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_WO.tipoDeGasto__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Interno</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Pantalla_Inicial</name>
        <label>Copy 1 of Pantalla Inicial</label>
        <locationX>346</locationX>
        <locationY>5006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>genera_Pedido_Servicio</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MuestraEstadoCerrado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Estado de la Orden: Abierto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_espacio</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_AbrirPedido2</name>
            <extensionName>SLSFB:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cerrar Orden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_PantallaNumeroReclamoGarantia_o_BSI</name>
        <label>Copy 2 of PantallaNumeroReclamoGarantia o BSI</label>
        <locationX>478</locationX>
        <locationY>4598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_UpdateWorkOrder</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_AlertaNumeroReclamo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(251, 122, 0);&quot;&gt;Se ha detectado que esta orden de trabajo tiene al menos una línea con tipo de &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(251, 122, 0);&quot;&gt;cargo Interno&lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(251, 122, 0);&quot;&gt;. Para poder generar el pedido correspondiente, es necesario ingresar Si corresponde a un plan de mantenimiento o no.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cargo_Interno_Corresponde_a_Plan_de_Mantenimiento</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cargo Interno Corresponde a Plan de Mantenimiento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_Error_en_cuenta</name>
        <label>Pantalla de Error en cuenta</label>
        <locationX>610</locationX>
        <locationY>5330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorCuenta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(255, 8, 8);&quot;&gt;Error al ejecutar el servicio de Generar Pedido. Las validaciones de la cuenta: {!obtiene_cuenta.Name}, no fueron exitosas. Revise los campos de teléfono y correo de la cuenta para solucionar el error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Inicial</name>
        <label>Pantalla Inicial</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>abre_la_orden</targetReference>
        </connector>
        <fields>
            <name>MuestraEstadoCerrado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Estado de la Orden: Cerrado&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>espacio</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoFacturada</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Todas las lineas de la Orden se encuentran facturadas.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistenLineasNoF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AbrirPedido2</name>
            <extensionName>SLSFB:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Abrir Orden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>destructive</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_work_order.Etapa_de_flujo_de_trabajo__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Orden Facturada</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistenLineasNoF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>datatableSimple</name>
            <extensionName>c:orderResponsesSimpleDataTableLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workOrderNumber</name>
                <value>
                    <elementReference>Get_WO.WorkOrderNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableSoftlandSync</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>responseList</name>
                <value>
                    <elementReference>GetRespuestaPedido</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaNumeroReclamoGarantia</name>
        <label>PantallaNumeroReclamoGarantia o BSI</label>
        <locationX>478</locationX>
        <locationY>4082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
        <fields>
            <name>AlertaNumeroReclamo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(251, 122, 0); font-size: 18px;&quot;&gt;Se ha detectado que esta orden de trabajo tiene al menos una línea con tipo de &lt;/span&gt;&lt;strong style=&quot;color: rgb(251, 122, 0); font-size: 18px;&quot;&gt;cargo garantía o bsi&lt;/strong&gt;&lt;span style=&quot;color: rgb(251, 122, 0); font-size: 18px;&quot;&gt;. Para poder generar el pedido correspondiente, es necesario ingresar el &lt;/span&gt;&lt;strong style=&quot;color: rgb(251, 122, 0); font-size: 18px;&quot;&gt;número de reclamo de garantía&lt;/strong&gt;&lt;span style=&quot;color: rgb(251, 122, 0); font-size: 18px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Si todavía no conoce el número de reclamo, continue con el proceso. Una vez lo tenga, puede ingresar el dato abriendo la orden y cerrándola nuevamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>N_mero_de_reclamo_de_garant_a</name>
            <dataType>String</dataType>
            <fieldText>Número de reclamo de garantía</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>204</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistenLineasNoF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>faltanAprobacionesDescuentos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FaltanCamposWO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idsWO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoEntregadoYReservado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PedidoAbrir</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestasIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
