force-app/main/default/flows/ActivaCampa_aT_cnica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ActualizarAsset</name>
        <label>ActualizarAsset</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getAsset.Campa_a_t_cnica_activa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ActualizarAsset</name>
        <label>Copy 1 of ActualizarAsset</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>getAsset.Campa_a_t_cnica_activa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_UpdateAsset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campa_aTecnica</name>
        <label>CampañaTecnica</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getOtherCampa_as</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarAsset</targetReference>
            </connector>
            <label>ifNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNull</name>
        <label>IfNull</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOtherCampa_as</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ActualizarAsset</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <interviewLabel>ActivaCampañaTécnica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActivaCampañaTécnica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campa_aTecnica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOtherCampa_as</name>
        <label>getOtherCampañas</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAsset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campa_a_t_cnica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateAsset</name>
        <label>Copy 1 of UpdateAsset</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputReference>getAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>UpdateAsset</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>getAsset</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
        <object>Campa_a_t_cnica__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
