force-app/main/default/flows/activar_reservas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Copy_1_of_si_existe</name>
        <label>Copy 1 of si existe</label>
        <locationX>1678</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_si_tiene_un_asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtener_el_calendario_relacionado2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ignorarDuplicado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of si tiene un asesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_tiene_shadow</name>
        <label>Copy 1 of tiene shadow</label>
        <locationX>2206</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_no_permitri_vacias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_si_tiene_shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_eliminar_el_shadow</targetReference>
            </connector>
            <label>Copy 1 of si tiene shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_tiene_shadow</name>
        <label>Copy 2 of tiene shadow</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>no_permitri_vacias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_si_tiene_shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_eliminar_el_shadow</targetReference>
            </connector>
            <label>Copy 2 of si tiene shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>es_diferente_al_actual</name>
        <label>es diferente al actual</label>
        <locationX>1183</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>saber_el_recordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_diferente_al_actual_asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>obtenerAsesorXC.Asesor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cambiar_asesor</targetReference>
            </connector>
            <label>es diferente al actual asesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>existeasesor</name>
        <label>existeasesor?</label>
        <locationX>1337</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>saber_el_recordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_existe_asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerAsesorXC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>es_diferente_al_actual</targetReference>
            </connector>
            <label>si existe aseosr</label>
        </rules>
    </decisions>
    <decisions>
        <name>owner_es_calendario</name>
        <label>owner es calendario</label>
        <locationX>1502</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>saber_el_recordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_es_un_calendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtenerAsesorXC</targetReference>
            </connector>
            <label>si es un calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>saber_el_recordType</name>
        <label>saber el recordType</label>
        <locationX>1502</locationX>
        <locationY>1115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_Reserva_CalViejo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012PH000002dSxlYAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Código de reserva:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>esCalViejo</targetReference>
            </connector>
            <label>es Reserva CalViejo</label>
        </rules>
        <rules>
            <name>es_calendario_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Falso Prueba</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_tiene_shadow</targetReference>
            </connector>
            <label>es calendario vacio</label>
        </rules>
        <rules>
            <name>es_Normal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012PH000002dSzNYAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ignorarDuplicado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>saber_si_es_asesor_o_cal</targetReference>
            </connector>
            <label>es Normal</label>
        </rules>
        <rules>
            <name>es_Reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012PH000002dSxlYAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedByFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ignorarDuplicado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>es Reserva</label>
        </rules>
        <rules>
            <name>esVacioCopia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UpdatedByFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_tiene_shadow</targetReference>
            </connector>
            <label>esVacioCopia</label>
        </rules>
        <rules>
            <name>estavacia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tiene_shadow</targetReference>
            </connector>
            <label>estavacia</label>
        </rules>
    </decisions>
    <decisions>
        <name>saber_si_es_asesor_o_cal</name>
        <label>saber si es asesor o cal</label>
        <locationX>952</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>obtener_el_calendario_relacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_calendario</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <label>es calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>si_existe</name>
        <label>si existe</label>
        <locationX>1150</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_un_asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtener_el_calendario_relacionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ignorarDuplicado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>si tiene un asesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_shadow</name>
        <label>tiene shadow</label>
        <locationX>2646</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_no_permitri_vacias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eliminar_el_shadow</targetReference>
            </connector>
            <label>si tiene shadow</label>
        </rules>
    </decisions>
    <description>eliminar vacias + cal viejo + shadow en no productivos + control de duplicados + sin element + test calendario</description>
    <interviewLabel>activar reservas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>activar reservas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Copy_1_of_eliminar_el_shadow</name>
        <label>Copy 1 of eliminar el shadow</label>
        <locationX>2074</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Copy_1_of_no_permitri_vacias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Shadow__c</elementReference>
            </value>
        </filters>
        <object>Event_Shadow__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_1_of_no_permitri_vacias</name>
        <label>Copy 1 of no permitri vacias</label>
        <locationX>2206</locationX>
        <locationY>1523</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_eliminar_el_shadow</name>
        <label>Copy 2 of eliminar el shadow</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>no_permitri_vacias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Shadow__c</elementReference>
            </value>
        </filters>
        <object>Event_Shadow__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_no_permitri_vacias</name>
        <label>Copy 2 of no permitri vacias</label>
        <locationX>2646</locationX>
        <locationY>1523</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>eliminar_el_shadow</name>
        <label>eliminar el shadow</label>
        <locationX>2514</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Copy_2_of_no_permitri_vacias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Shadow__c</elementReference>
            </value>
        </filters>
        <object>Event_Shadow__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>no_permitri_vacias</name>
        <label>no permitri vacias</label>
        <locationX>446</locationX>
        <locationY>1523</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>obtener_el_calendario_relacionado</name>
        <label>obtener el calendario relacionado</label>
        <locationX>1150</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>si_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendario__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0054U00000BfksuQAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_el_calendario_relacionado2</name>
        <label>Copy 2 of obtener el calendario relacionado</label>
        <locationX>1678</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_si_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendario__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0054U00000BfksuQAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtenerAsesorXC</name>
        <label>obtenerAsesorXC</label>
        <locationX>1337</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeasesor</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>cambiar_asesor</name>
        <label>cambiar asesor</label>
        <locationX>1051</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>saber_el_recordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>obtenerAsesorXC.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>esCalViejo</name>
        <label>esCalViejo</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>esCalViejo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>1678</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>obtener_el_calendario_relacionado2</targetReference>
        </connector>
        <inputAssignments>
            <field>es_Reserva__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>owner_es_calendario</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
