force-app/main/default/flows/Actualiza_tipo_de_registro_de_BMW_a_MINI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Comprueba si el RecordTypeId es igual al de BMW</description>
        <name>Is_record_type_BMW</name>
        <label>Is record type BMW</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_record_type_BMW_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_MINI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Cuando se conviete un Trafico (Lead) a Oportunidad (Opportunity) y tipo de registro sea BMW pero el campo de la oportunidad “RT Lead” sea MINI, se actualiza el tipo de registro de la oportunidad a MINI</description>
    <interviewLabel>Actualiza tipo de registro de BMW a MINI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza tipo de registro de BMW a MINI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Consulta el &quot;RecordTypeId&quot; del tipo MINI</description>
        <name>Get_record_type_MINI</name>
        <label>Get record type MINI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_BMW_to_MINI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeIdMINI</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Cuando el tipo de registro sea BMW pero el campo de la oportunidad “RT Lead” sea MINI, actualice el tipo de registro de la oportunidad a MINI</description>
        <name>Update_Record_Type_BMW_to_MINI</name>
        <label>Update Record Type BMW to MINI</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeIdMINI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_record_type_BMW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RT_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contiene el valor del tipo de registro BMW</description>
        <name>recordTypeIdBMW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contiene el valor del tipo de registro MINI</description>
        <name>recordTypeIdMINI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
