force-app/main/default/flows/ActualizaTiposDeCargoVacios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IFTipoCargo</name>
        <label>IFTipoCargo</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>IFCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo</targetReference>
            </connector>
            <label>IFCliente</label>
        </rules>
        <rules>
            <name>IfAseguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aseguradora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo_0</targetReference>
            </connector>
            <label>IfAseguradora</label>
        </rules>
        <rules>
            <name>IFGarantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garantia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo_0_0</targetReference>
            </connector>
            <label>IFGarantia</label>
        </rules>
        <rules>
            <name>IFBSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo_0_0_0</targetReference>
            </connector>
            <label>IFBSI</label>
        </rules>
        <rules>
            <name>IFInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo_0_0_0_0</targetReference>
            </connector>
            <label>IFInterno</label>
        </rules>
        <rules>
            <name>IFBSIInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWORKOrder.tipoDeGasto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSI Interno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTIpoCargo_0_0_0_0_0</targetReference>
            </connector>
            <label>IFBSIInterno</label>
        </rules>
    </decisions>
    <interviewLabel>ActualizaTiposDeCargoVacios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActualizaTiposDeCargoVacios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetWORKOrder</name>
        <label>GetWORKOrder</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IFTipoCargo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerWOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerWOLI</name>
        <label>ObtenerWOLI</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWORKOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarTIpoCargo</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarTIpoCargo_0</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarTIpoCargo_0_0</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarTIpoCargo_0_0_0</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarTIpoCargo_0_0_0_0</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarTIpoCargo_0_0_0_0_0</name>
        <label>ActualizarTIpoCargo</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>tipoCargo__c</field>
            <value>
                <stringValue>6</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tipoCargo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tipoCargo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
