force-app/main/default/flows/Actualiza_caso_a_cerrado_cuando_ot_es_facturada_y_todas_son_facturadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Asigna_variable_para_no_actualizar</name>
        <label>Asigna variable para no actualizar</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Actualiza</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_WO_Related</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encuentra_orden_rel_no_facturada</name>
        <label>Encuentra orden rel no facturada</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Recorre_WO_Related</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_wo_rel_no_facturada_o_rechazada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_WO_Related.Etapa_de_flujo_de_trabajo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Orden Facturada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_WO_Related.Etapa_de_flujo_de_trabajo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Orden Rechazada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_variable_para_no_actualizar</targetReference>
            </connector>
            <label>Si hay wo rel no facturada o rechazada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_se_debe_actualizar</name>
        <label>Si se debe actualizar</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_actualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Actualiza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualiza_caso_relacionado</targetReference>
            </connector>
            <label>Si actualiza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_otras_wo_relacionadas</name>
        <label>Tiene otras wo relacionadas</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Actualiza_caso_relacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_wo_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_otras_wo_relacionadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_WO_Related</targetReference>
            </connector>
            <label>Si tiene wo related</label>
        </rules>
    </decisions>
    <interviewLabel>Actualiza caso a cerrado cuando ot es facturada y todas son facturadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza caso a cerrado cuando ot es facturada y todas son facturadas</label>
    <loops>
        <name>Recorre_WO_Related</name>
        <label>Recorre WO Related</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Obtiene_otras_wo_relacionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Encuentra_orden_rel_no_facturada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Si_se_debe_actualizar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_el_caso_Relacionado</name>
        <label>Obtiene el caso Relacionado</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_otras_wo_relacionadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_otras_wo_relacionadas</name>
        <label>Obtiene otras wo relacionadas</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_otras_wo_relacionadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_el_caso_Relacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_caso_relacionado</name>
        <label>Actualiza caso relacionado</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualiza_caso_relacionado</name>
        <label>Copy 1 of Actualiza caso relacionado</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_el_caso_Relacionado</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orden Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orden Rechazada</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Actualiza</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
