force-app/main/default/flows/AlertaVehiculoReservado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_alerta_a_asesores</name>
        <label>Envia alerta a asesores</label>
        <locationX>138</locationX>
        <locationY>1703</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Borrar_current_owners</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OppOwners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notificación: Vehículo reservado.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyBell</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EnviaCorreosVehiculoReservado</name>
        <label>Envia Correos Vehículo reservado</label>
        <locationX>138</locationX>
        <locationY>1595</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Envia_alerta_a_asesores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>OppEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Recorre_Oportunidades.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Emails2</name>
        <label>Asigna Emails</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>OppEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_Oportunidades.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_Oportunidades.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnviaCorreosVehiculoReservado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigna_los_Ids_de_Opp</name>
        <label>Assigna los Ids de Opp</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_Oportunity_Products.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Oportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigna_Variables_Opp</name>
        <label>Assigna Variables Opp</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>OppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_Oportunidades.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AsesorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_Oportunidades.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_Oportunidades.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Emails2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Borrar_current_owners</name>
        <label>Borrar current owners</label>
        <locationX>138</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>OwnerOppList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OwnerOppList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OppEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppOwners</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OppOwners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Oportunidades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Si_hay_opportunity_Products</name>
        <label>Decide Si hay opportunity Products</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Product_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_Oportunity_Products</targetReference>
            </connector>
            <label>Si hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_si_hay_opps</name>
        <label>Decide si hay opps</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_Oportunidades</targetReference>
            </connector>
            <label>si hay opps</label>
        </rules>
    </decisions>
    <formulas>
        <name>BodyBell</name>
        <dataType>String</dataType>
        <expression>&apos;Estimado &apos;+{!AsesorName}+&apos;.Se le informa que el vehículo &apos;+{!ObtieneProductoRelacionado.Name}+&apos; de marca &apos;+TEXT({!ObtieneProductoRelacionado.Marca__c})+ &apos; y modelo &apos;+{!ObtieneProductoRelacionado.modelo__c}+&apos; se ha reservado en la oportunidad &apos;+ {!$Record.Opportunity.Name}+ &apos; por el asesor &apos;+{!$Record.Opportunity.Owner_Name__c}+&apos;.Saludos cordiales.&apos;</expression>
    </formulas>
    <interviewLabel>Alerta Véhiculo Reservado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerta Véhiculo Reservado</label>
    <loops>
        <name>Recorre_Oportunidades</name>
        <label>Recorre Oportunidades</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Obtiene_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigna_Variables_Opp</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Recorre_Oportunity_Products</name>
        <label>Recorre Oportunity Products</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Obtiene_Product_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigna_los_Ids_de_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtiene_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_si_hay_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redmotors_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Opportunities</name>
        <label>Obtiene Opportunities</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OppIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada Ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Product_Opportunity</name>
        <label>Obtiene Products Opportunity</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Si_hay_opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtieneProductoRelacionado</name>
        <label>Obtiene Producto Relacionado</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_Product_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtieneProductoRelacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reservado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reservado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReservadoDesdeAqui__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(50, 51, 56); font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Estimado {!AsesorName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 51, 56); font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Se le informa que el vehículo {!ObtieneProductoRelacionado.Name} de marca {!ObtieneProductoRelacionado.Marca__c} y modelo {!ObtieneProductoRelacionado.modelo__c} se ha reservado en la oportunidad {!$Record.Opportunity.Name} por el asesor {!$Record.Opportunity.Owner_Name__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 51, 56); font-family: Figtree, Roboto, &amp;quot;Noto Sans Hebrew&amp;quot;, &amp;quot;Noto Kufi Arabic&amp;quot;, &amp;quot;Noto Sans JP&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Saludos cordiales.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Notificación: Vehículo reservado</text>
    </textTemplates>
    <variables>
        <name>AsesorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerOppList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
