force-app/main/default/flows/Alerta_email_oportunidad_de_financiamiento_creado_cotizador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Alerta_Email_Creado_Cotizador</name>
        <label>send_Alerta_Email_Creado_Cotizador</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailDestino1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>correoBravarian</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailOportunidadFinanCotizador</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>correoBravarian</name>
        <dataType>String</dataType>
        <value>
            <stringValue>consultas@alticacr.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>subjectAlertaEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registro oportunidad de financiamiento: Cotizador web</stringValue>
        </value>
    </constants>
    <formulas>
        <name>SubjectEmail1</name>
        <dataType>String</dataType>
        <expression>&apos;Registro oportunidad de financiamiento:&apos; + {!getAccountClient.Name} + &apos;–&apos;+ {!$Record.DistribuidorFormula__c} +&apos; | Cotizador web&apos;</expression>
    </formulas>
    <formulas>
        <name>urlOportunidadFinanciamiento</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Alerta email oportunidad de financiamiento creado cotizador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerta email oportunidad de financiamiento creado cotizador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountClient</name>
        <label>getAccountClient</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_Alerta_Email_Creado_Cotizador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nombre_Cliente_Altica__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountClient</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Creado_cotizador__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Oportunidad_de_Financiamiento__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailOportunidadFinanCotizador</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color: white; font-family: arial; border-collapse: collapse; width: 100%; white-space: pre;&quot;&gt;    &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;        &lt;td style=&quot;white-space: pre;&quot; align=&quot;center&quot;&gt;&lt;br&gt;        &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; style=&quot;width: 600px; background-color: white; white-space: pre;&quot;&gt;            &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:10px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;border-bottom: 1px solid #2F7BB4&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;border-left: 1px solid rgb(47, 123, 180); border-right: 1px solid rgb(47, 123, 180); border-bottom: 1px solid rgb(47, 123, 180); white-space: pre;&quot;&gt;&lt;br&gt;                    &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;background-color: rgb(229, 230, 230); width: 100%; white-space: pre;&quot;&gt;                    &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;                        &lt;td style=&quot;text-align: left; background-color: rgb(229, 230, 230); padding: 45px; font-size: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                            Oportunidad de financiamiento: {!getAccountClient.Name} – {!$Record.Distribuidor__c}&lt;br&gt;                        &lt;/td&gt;                                            &lt;/tr&gt;                    &lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;                &lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;border-left: 1px solid rgb(47, 123, 180); border-right: 1px solid rgb(47, 123, 180); white-space: pre;&quot;&gt;&lt;br&gt;                    &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; style=&quot;width: 100%; height: 30px; white-space: pre;&quot;&gt;                        &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;La siguiente oportunidad de financiamiento ha sido registrada desde el cotizador web:. &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td&gt;&amp;nbsp;&lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Nombre: &lt;a rel=&quot;noopener noreferrer&quot; href=&quot;{!urlOportunidadFinanciamiento}&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Cliente: {!getAccountClient.Name} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Agencia: {!$Record.VendedorAgencia__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Vendedor: {!$Record.Nombre_Vendedor__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Marca del vehículo: {!$Record.Marca_Altica__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Modelo / estilo: {!$Record.Modelo_Altica__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Año: {!$Record.Ano__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Precio: {!$Record.Precio_Lista_Total__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Prima: {!$Record.Prima_Altica__c} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                        &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;span&gt;Id de la OF: {!$Record.Id} &lt;/span&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                         &lt;tr style=&quot;white-space: pre;&quot;&gt;                            &lt;td style=&quot;padding-left: 20px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;p&gt;&lt;br&gt;Central telefónica: 0800-015 0756&lt;br&gt;&lt;/p&gt;&lt;br&gt;&lt;p style=&quot;width:580px&quot;&gt;&lt;br&gt;WhatsApp: 6445-0823&lt;br&gt;&lt;/p&gt;&lt;br&gt;&lt;p style=&quot;width:580px&quot;&gt;&lt;br&gt;Correo electrónico: &lt;a href=&quot;mailto:consultas@alticacr.com&quot;&gt;consultas@alticacr.com&lt;/a&gt;&lt;br&gt;&lt;/p&gt;&lt;br&gt;&lt;br&gt;&lt;p style=&quot;width:580px&quot;&gt;No necesita responder a este mensaje ya que es informativo y se genera de forma automática.&lt;/p&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;width: 580px; border-top: 4px solid rgb(245, 245, 249); white-space: pre;&quot;&gt;    &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;th&gt; &lt;a href=&quot;https://www.facebook.com/alticacr&quot;&gt;Facebook&lt;/a&gt; &lt;/th&gt;    &lt;th&gt;&lt;a href=&quot;https://www.instagram.com/alticaservicios/&quot;&gt;Instagram&lt;/a&gt;&lt;/th&gt;    &lt;th&gt;&lt;a href=&quot;https://www.youtube.com/@alticasociosfinancieros4464&quot;&gt;Youtube&lt;/a&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                    &lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;                &lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:25px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4; border-bottom: 1px solid #2F7BB4&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;border-left: 1px solid rgb(47, 123, 180); border-right: 1px solid rgb(47, 123, 180); border-bottom: 1px solid rgb(47, 123, 180); white-space: pre;&quot;&gt;&lt;br&gt;                    &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table style=&quot;background: rgb(244, 244, 244); width: 100%; padding: 30px 50px; font-family: Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); white-space: pre;&quot;&gt;                        &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;                                                                                                                    &lt;td style=&quot;width: 750px; white-space: pre;&quot;&gt;&lt;br&gt;                                &lt;br&gt;                            &lt;/td&gt;                        &lt;/tr&gt;                    &lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;                &lt;/td&gt;            &lt;/tr&gt;            &lt;tr style=&quot;white-space: pre;&quot;&gt;                &lt;td style=&quot;padding:25px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;            &lt;/tr&gt;        &lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;    &lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>emailDestino1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>kalmanza@alticacr.com, elopez@alticacr.com</stringValue>
        </value>
    </variables>
</Flow>
