force-app/main/default/flows/Alerta_44_dias_de_reserva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_correo_alerta</name>
        <label>Enviar correo alerta</label>
        <locationX>666</locationX>
        <locationY>1500</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Asigna_Email_List_vacio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>asigna_email_list_con_gerente</name>
        <label>asigna email list con gerente</label>
        <locationX>930</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmailOwner}+&apos;,&apos;+{!EmailGerente}+&apos;,luis.sandoval.rocha@gmail.com,notificacionestd@redmotorscr.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_alerta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Email_List_vacio</name>
        <label>Asigna Email List vacio</label>
        <locationX>666</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_oportunidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_emails</name>
        <label>asigna emails</label>
        <locationX>138</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmailOwner}+&apos;,luis.sandoval.rocha@gmail.com,notificacionestd@redmotorscr.com,jmoreira@redmotorscr.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_alerta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_id_opp_prod</name>
        <label>asigna id opp prod</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>OLIIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_opplineitems.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_opplineitems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_valores_del_correo</name>
        <label>asigna valores del correo</label>
        <locationX>666</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>NombreOportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EtapaOportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdOportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeOportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.RecordTypeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailGerente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.EmailGerente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreGerente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_oportunidades.NombreGerente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreVendedor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!recorre_oportunidades.Owner.FirstName} {!recorre_oportunidades.Owner.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decide_si_email_gerente_es_nulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asigna_email_list_con_gerente</name>
        <label>Copy 1 of asigna email list con gerente</label>
        <locationX>666</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmailOwner}+&apos;,&apos;+{!EmailGerente}+&apos;,luis.sandoval.rocha@gmail.com,notificacionestd@redmotorscr.com,jmoreira@redmotorscr.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_alerta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asigna_emails</name>
        <label>Copy 1 of asigna emails</label>
        <locationX>402</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EmailOwner}+&apos;,luis.sandoval.rocha@gmail.com,notificacionestd@redmotorscr.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_alerta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decide_si_email_gerente_es_nulo</name>
        <label>decide si email gerente es nulo</label>
        <locationX>666</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Enviar_correo_alerta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>email_gerente_nulo_bmw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailGerente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorre_oportunidades.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_emails</targetReference>
            </connector>
            <label>email gerente nulo bmw</label>
        </rules>
        <rules>
            <name>email_geerente_nulo_no_bmw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailGerente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorre_oportunidades.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_asigna_emails</targetReference>
            </connector>
            <label>email geerente nulo no bmw</label>
        </rules>
        <rules>
            <name>email_gerente_no_nulo_bmw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailGerente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorre_oportunidades.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_asigna_email_list_con_gerente</targetReference>
            </connector>
            <label>email gerente no nulo bmw</label>
        </rules>
        <rules>
            <name>email_gerente_no_nulo_no_bmw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailGerente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorre_oportunidades.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_email_list_con_gerente</targetReference>
            </connector>
            <label>email gerente no nulo no bmw</label>
        </rules>
    </decisions>
    <decisions>
        <name>hay_oportunidades</name>
        <label>hay oportunidades</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_hay_oportunidades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_oportunidades</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_oportunidades</targetReference>
            </connector>
            <label>si hay oportunidades</label>
        </rules>
    </decisions>
    <decisions>
        <name>hay_productos_de_oportunidad</name>
        <label>hay productos de oportunidad</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_producto_de_oportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_opplineitems</targetReference>
            </connector>
            <label>si hay</label>
        </rules>
    </decisions>
    <interviewLabel>Alerta 44 días de reserva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerta 44 días de reserva</label>
    <loops>
        <name>recorre_oportunidades</name>
        <label>recorre oportunidades</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <collectionReference>obtiene_oportunidades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_valores_del_correo</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>recorre_opplineitems</name>
        <label>recorre opplineitems</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>obtiene_producto_de_oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_id_opp_prod</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>obtiene_oportunidades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtiene_oportunidades</name>
        <label>obtiene oportunidades</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hay_oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OLIIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Autos usados</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Motos usados</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Taller</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tiene_Vehiculos_Reservados__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada Ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada Perdida</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_producto_de_oportunidad</name>
        <label>obtiene producto de oportunidad</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hay_productos_de_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DiasEnReserva__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>44.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reservado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtiene_producto_de_oportunidad</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-16</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Oportunidad con reserva sin cerrarse ganada en 44 días.&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;Estimado {!NombreVendedor}:&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;La Oportunidad {!NombreOportunidad} de {!RecordTypeOportunidad} se encuentra con una reserva en etapa {!EtapaOportunidad} sin presentar ningún movimiento en los últimos 44 días, al cumplirse 45 días sin cerrarse ganada se procederá a eliminar la reserva del vehículo.&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;Para acceder a esta oportunidad haga clic en el siguiente link:
https://redmotors.lightning.force.com/{!IdOportunidad}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Notificación de desreserva.</text>
    </textTemplates>
    <variables>
        <name>EmailGerente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EtapaOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreGerente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gerente</stringValue>
        </value>
    </variables>
    <variables>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreVendedor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLIIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
