force-app/main/default/flows/AnidarArticulosManoObraV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AgregarTIposDeTrabajo</name>
        <label>AgregarTIposDeTrabajo</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>TIposTrabajosIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTiposTrabajo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTiposTrabajo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarIDWOLis</name>
        <label>AsignarIDWOLis</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>WolisIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopWolis.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarNombreTipoTrabajo</name>
        <label>AsignarNombreTipoTrabajo</label>
        <locationX>396</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>NombreTipoTrabajoSeleccionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreTipoDeTrabajo.Nombre_TTC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IFNoSelection</name>
        <label>IFNoSelection</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>NombreTipoDeTrabajo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoTrabajoSeleccionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla0</targetReference>
            </connector>
            <label>IfNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfSeleccionados</name>
        <label>IfSeleccionados</label>
        <locationX>396</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seleccionados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WolisSeleccionados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla1</targetReference>
            </connector>
            <label>Seleccionados</label>
        </rules>
    </decisions>
    <interviewLabel>AnidarArticulosManoObraV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AnidarArticulosManoObraV2</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>572</locationX>
        <locationY>2030</locationY>
        <collectionReference>WolisSeleccionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateWoli</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopTiposTrabajo</name>
        <label>LoopTiposTrabajo</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>GetTipodeTrabajo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AgregarTIposDeTrabajo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pantalla0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopWolis</name>
        <label>LoopWolis</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>GetWolis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarIDWOLis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopTiposTrabajo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaso</name>
        <label>GetCaso</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTipodeTrabajo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrder.Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTipodeTrabajo</name>
        <label>GetTipodeTrabajo</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWolis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaso.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tiposDeTrabajoCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWolis</name>
        <label>GetWolis</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopWolis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NombreTipoDeTrabajo</name>
        <label>GetTipoDeTrabajoById</label>
        <locationX>396</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarNombreTipoTrabajo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoTrabajoSeleccionado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tiposDeTrabajoCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWoli</name>
        <label>UpdateWoli</label>
        <locationX>660</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TipoTrabajoCaso__c</field>
            <value>
                <elementReference>TipoTrabajoSeleccionado</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Pantalla0</name>
        <label>Pantalla0</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IFNoSelection</targetReference>
        </connector>
        <fields>
            <name>T1</name>
            <fieldText>&lt;p&gt;Seleccione el trabajo a realizar al que desea asociar los artículos y mano de obra.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TiposTrabajoDataTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>TIposTrabajosIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>tiposDeTrabajoCaso__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Nombre_TTC__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TipoTrabajoSeleccionado</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla1</name>
        <label>Pantalla1</label>
        <locationX>396</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfSeleccionados</targetReference>
        </connector>
        <fields>
            <name>Texto2</name>
            <fieldText>&lt;p&gt;Seleccione los artículos y mano de obra que se deseé relacionar con el trabajo a realizar: &lt;strong&gt;{!NombreTipoTrabajoSeleccionado}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTable1</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>WolisIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>WorkOrderLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>AliasArticuloModuloAnidar__c,Quantity,TotalPrice,TIpoTrabajoName__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WolisSeleccionados</assignToReference>
                <name>lstSelectedIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NombreTipoTrabajo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreTipoTrabajoSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TIposTrabajosIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoTrabajoSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WolisIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WolisSeleccionados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
