force-app/main/default/flows/ArchivarLineasRechazadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AsignarC</name>
        <label>AsignarC</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ArchivoLineas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Archivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorreLineasRechazadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarNuevaLinea</name>
        <label>AsignarNuevaLinea</label>
        <locationX>754</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Archivo.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Descuento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.porcentajeDescuento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Codigo_producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.BMW_CodigoDeProducto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Alias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.Producto_OR_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Archivo.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorreLineasRechazadas.PricebookEntry.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdsTrabajosRechazados</name>
        <label>IdsTrabajosRechazados</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>idsTrabajos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTrabajos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTrabajos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GetTrabajosNull</name>
        <label>GetTrabajosNull</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>LoopTrabajos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTrabajos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotienetrabajosRechazados</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfGetLineasNull</name>
        <label>IfGetLineasNull</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>lineasrechazadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullLineas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLineasRechazadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_NotienetrabajosRechazados</targetReference>
            </connector>
            <label>NullLineas</label>
        </rules>
    </decisions>
    <interviewLabel>ArchivarLineasRechazadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ArchivarLineasRechazadas</label>
    <loops>
        <name>LoopTrabajos</name>
        <label>LoopTrabajos</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <collectionReference>getTrabajos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdsTrabajosRechazados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetLineasRechazadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorreLineasRechazadas</name>
        <label>RecorreLineasRechazadas</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <collectionReference>GetLineasRechazadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarNuevaLinea</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateArchivoLineas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateArchivoLineas</name>
        <label>CreateArchivoLineas</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>DeleteWolis</targetReference>
        </connector>
        <inputReference>ArchivoLineas</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteWolis</name>
        <label>DeleteWolis</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>ArchivadasCorrectamente</targetReference>
        </connector>
        <inputReference>GetLineasRechazadas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetLineasRechazadas</name>
        <label>GetLineasRechazadas</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfGetLineasNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoTrabajoCaso__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idsTrabajos</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTrabajos</name>
        <label>getTrabajos</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTrabajosNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_aprobaci_n_service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tiposDeTrabajoCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTrabajos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ArchivadasCorrectamente</name>
        <label>ArchivadasCorrectamente</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Las líneas se archivaron correctamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_NotienetrabajosRechazados</name>
        <label>Copy 2 of NotienetrabajosRechazados</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Not</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;No se encontraron líneas rechazadas en la orden de trabajo.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>lineasrechazadas</name>
        <label>lineasrechazadas</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecorreLineasRechazadas</targetReference>
        </connector>
        <fields>
            <name>Nombre</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Se estarán archivando las siguientes líneas:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineasRechazadasTabla</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lineas rechazadas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetLineasRechazadas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Producto_OR_Alias__c&quot;,&quot;guid&quot;:&quot;column-e0c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre del Producto&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Producto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-a92f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TIpoTrabajoName__c&quot;,&quot;guid&quot;:&quot;column-5dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre de trabajo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo de trabajo&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotienetrabajosRechazados</name>
        <label>NotienetrabajosRechazados</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;El caso relacionado a la orden de trabajo no tiene trabajos a realizar rechazados.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Archivo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Archivo_lineas_rechazadas__c</objectType>
    </variables>
    <variables>
        <name>ArchivoLineas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Archivo_lineas_rechazadas__c</objectType>
    </variables>
    <variables>
        <name>idsTrabajos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
