force-app/main/default/flows/Asigna_Actualiza_impuesto_en_OT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Actualiza_campo_auxiliar</name>
        <label>Actualiza campo auxiliar</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Obtener_OT.AyudaImpuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_impuesto_a_la_OT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_impuesto_a_la_OT</name>
        <label>Asigna impuesto a la OT</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Obtener_OT.Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valorImpuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_impuesto_en_OT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_impuesto_cuenta</name>
        <label>Asignar impuesto cuenta</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>valorImpuesto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_impuestos.Impuesto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_campo_para_actualizar_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_impuesto_estandar</name>
        <label>Asignar impuesto estandar</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>valorImpuesto</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_campo_para_actualizar_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Actualiza_campo_auxiliar</name>
        <label>Copy 1 of Actualiza campo auxiliar</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Obtener_OT.AyudaImpuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_impuesto_a_la_OT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actualizar_campo_para_actualizar_registro</name>
        <label>Actualizar campo para actualizar registro</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Asigna_impuesto_a_la_OT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_OT.AyudaImpuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_es_false</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_campo_auxiliar</targetReference>
            </connector>
            <label>Si es false</label>
        </rules>
        <rules>
            <name>Si_es_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_OT.AyudaImpuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_es_True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualiza_campo_auxiliar</targetReference>
            </connector>
            <label>Si es True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_impuesto_la_cuenta</name>
        <label>Tiene impuesto la cuenta</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Actualizar_campo_para_actualizar_registro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_impuesto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_impuestos.Impuesto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_impuesto_cuenta</targetReference>
            </connector>
            <label>Si tiene impuesto</label>
        </rules>
        <rules>
            <name>No_tiene_impuesto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_impuestos.Impuesto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_impuesto_estandar</targetReference>
            </connector>
            <label>No tiene impuesto</label>
        </rules>
    </decisions>
    <interviewLabel>Asigna/Actauliza impuesto en OT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asigna/Actualiza impuesto en OT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_cuenta_de_facturaci_n</name>
        <label>Obtener cuenta de facturación</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_impuestos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_OT.Cuenta_de_Facturacion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_impuestos</name>
        <label>Obtener impuestos</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_impuesto_la_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_cuenta_de_facturaci_n.Impuesto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Impuesto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_OT</name>
        <label>Obtener OT</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_cuenta_de_facturaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_impuesto_en_OT</name>
        <label>Actualiza impuesto en OT</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Pantalla_impuesto</targetReference>
        </connector>
        <inputReference>Obtener_OT</inputReference>
    </recordUpdates>
    <screens>
        <name>Pantalla_impuesto</name>
        <label>Pantalla impuesto</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeImpuesto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Se actualizo el impuesto del cliente con éxito&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_OT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>valorImpuesto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
