force-app/main/default/flows/AsignacionService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Asignaci_n_3</name>
        <label>Asignación 3</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_3__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_4__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_5__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_6__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfAsignnacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar</name>
        <label>asignar</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Asignacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsignaciones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfNullAsignaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarNivel1</name>
        <label>AsignarNivel1</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asignaci_n_responsable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nivel 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifAsignacionNivel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarTiempoResoluci_n</name>
        <label>AsignarTiempoResoluciòn</label>
        <locationX>446</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hora_resoluci_n__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculoHoraResolucion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_registros_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asignar</name>
        <label>Copy 1 of asignar</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Asignacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_GetAsignaciones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfNullAsignaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Asignaci_n_3</name>
        <label>Copy 2 of Asignación 3</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_3__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_4__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_5__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Asignado_nivel_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Asignado_nivel_6__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfAsignnacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_SetHoras</name>
        <label>Copy 2 of SetHoras</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Horas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Tiempo_Baja__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTiempoResoluci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_SetHoras</name>
        <label>Copy 3 of SetHoras</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Horas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTiempoResoluci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_SetHoras</name>
        <label>Copy 4 of SetHoras</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Horas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Tiempo_Media__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTiempoResoluci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHoras</name>
        <label>SetHoras</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Horas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignacion.Tiempo_Alta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTiempoResoluci_n</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AsignadoNuevo</name>
        <label>AsignadoNuevo</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Asignaci_n_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AsignadoCambia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Asignacion.Asignado_nivel_1__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaci_n_3</targetReference>
            </connector>
            <label>AsignadoCambia</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF</name>
        <label>IF</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GetAsignaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IFAutosNuevos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autos nuevos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetAsignaciones</targetReference>
            </connector>
            <label>IFAutosNuevos</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifAsignacionNivel</name>
        <label>ifAsignacionNivel</label>
        <locationX>446</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_SetHoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHoras</targetReference>
            </connector>
            <label>Alta</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_SetHoras</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Baja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SetHoras</targetReference>
            </connector>
            <label>Baja</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfAsignnacion</name>
        <label>IfAsignnacion</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>ifAsignacionNivel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AsignacionNivel1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asignaci_n_responsable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarNivel1</targetReference>
            </connector>
            <label>AsignacionNivel1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNullAsignaciones</name>
        <label>IfNullAsignaciones</label>
        <locationX>776</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Decisi_n_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asignacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignadoNuevo</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculoHoraResolucion</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(NOW()) + ({!Horas}/ 24)</expression>
    </formulas>
    <interviewLabel>AsignacionService {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AsignacionService</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_GetAsignaciones</name>
        <label>Copy 1 of GetAsignaciones</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_asignar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marca__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marca_service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sucursal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sucursal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asignaci_n_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAsignaciones</name>
        <label>GetAsignaciones</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asignar</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Tipo_caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sucursal__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Sucursal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sucursal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asignaci_n_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_registros_1</name>
        <label>Actualizar registros 1</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0124U00000111E9QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0124U00000111EAQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Asignacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asignaci_n_Service__c</objectType>
    </variables>
    <variables>
        <name>Horas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
