force-app/main/default/flows/BMW_ImportarPlantilla.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asigna_Bavarian_Dolar</name>
        <label>Asigna Bavarian Dolar</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Dólar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Price_Book_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Bavarian_Local</name>
        <label>Asigna Bavarian Local</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Price_Book_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Oto_Dolar</name>
        <label>Asigna Oto Dolar</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Dólares</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Price_Book_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Oto_Local</name>
        <label>Asigna Oto Local</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtiene_Price_Book_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Price_Book</name>
        <label>Asigna Price Book</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>BMW_ObtenerPresupuesto.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Price_Book_Pre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Presupuesto_Actual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_tipo_de_veh_culo</name>
        <label>Asigna tipo de vehículo</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>NuevoTipodeVehiculo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Vehiculo.Tipo_de_veh_culo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BMW_ObtenerPlantillas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BMW_AsignaIdsDePlantilla</name>
        <label>Asigna Ids de Plantilla</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>IdsDePlantilla</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BMW_ParaCadaPlantilla.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BMW_ParaCadaPlantilla</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BMW_AsignaPartidas</name>
        <label>Asigna Partidas</label>
        <locationX>666</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Descuento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Lista_De_Precio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.BMW_PrecioDeVenta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.BMW_Bodega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_bodega_x_territorio.Bodega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.BMW_Alias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.BMW_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidasDePresupuesto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartidaDePresupuesto1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BMW_ParaCadaPartidaDePlantilla</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asigna_Ids_de_Plantilla</name>
        <label>Copia 1 de Asigna Ids de Plantilla</label>
        <locationX>534</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>IdsDePlantilla</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copia_1_de_Para_Cada_Plantilla.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Para_Cada_Plantilla</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asigna_Partidas</name>
        <label>Copy 1 of Asigna Partidas</label>
        <locationX>930</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Descuento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Lista_De_Precio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Lista_De_Precio.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.BMW_Bodega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_bodega_x_territorio.Bodega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidaDePresupuesto1.BMW_Alias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.BMW_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartidasDePresupuesto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartidaDePresupuesto1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BMW_ParaCadaPartidaDePlantilla</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ids_plantillas_vac_as</name>
        <label>Ids plantillas vacías</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>IdsDePlantilla</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Obtener_Plantillas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tipo_de_vehiclo_seleccionado</name>
        <label>tipo de vehiclo seleccionado</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NuevoTipodeVehiculo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_Tipo_de_Vehiculo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BMW_ObtenerPlantillas</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Autom_vil</name>
        <choiceText>Automóvil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automóvil</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cuadraciclo</name>
        <choiceText>Cuadraciclo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cuadraciclo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motocicleta</name>
        <choiceText>Motocicleta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motocicleta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mula</name>
        <choiceText>Mula</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mula</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Determina_Nombre_Price_Book</name>
        <label>Determina Nombre Price Book</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Obtiene_Price_Book_Pre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Otobai_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otobai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Oto_Local</targetReference>
            </connector>
            <label>Otobai Local</label>
        </rules>
        <rules>
            <name>Otobai_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otobai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Oto_Dolar</targetReference>
            </connector>
            <label>Otobai Dolar</label>
        </rules>
        <rules>
            <name>Bavarian_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bavarian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Bavarian_Local</targetReference>
            </connector>
            <label>Bavarian Local</label>
        </rules>
        <rules>
            <name>Bavarian_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bavarian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Bavarian_Dolar</targetReference>
            </connector>
            <label>Bavarian Dolar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plantilla_Ya_Seleccionada</name>
        <label>Plantilla Ya Seleccionada</label>
        <locationX>578</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>BMW_ObtenerLineasDePlantilla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Plantilla_seleccionada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlantillaSeleccionada</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BMW_ObtenerLineasDePlantilla</targetReference>
            </connector>
            <label>Plantilla seleccionada</label>
        </rules>
        <rules>
            <name>Plantilla_No_y_Buscar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buscarButton.innerValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ids_plantillas_vac_as</targetReference>
            </connector>
            <label>Plantilla No y Buscar</label>
        </rules>
        <rules>
            <name>Plantilla_No_y_No_buscar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlantillaSeleccionada</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buscarButton.innerValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plantilla_no_seleccionada</targetReference>
            </connector>
            <label>Plantilla No y No buscar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Book_vac_o</name>
        <label>Price Book vacío</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Obtener_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Price_Book</targetReference>
            </connector>
            <label>Price Book Vacío</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selecciono_Plantilla</name>
        <label>Selecciono Plantilla</label>
        <locationX>446</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>BMW_ObtenerLineasDePlantilla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_selecciono_plantilla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlantillaSeleccionada</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Plantilla_no_seleccionada</targetReference>
            </connector>
            <label>No selecciono plantilla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_precio_de_venta</name>
        <label>Tiene precio de venta</label>
        <locationX>798</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Asigna_Partidas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_Precio_de_venta1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ParaCadaPartidaDePlantilla.BMW_PrecioDeVenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ParaCadaPartidaDePlantilla.BMW_PrecioDeVenta__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BMW_AsignaPartidas</targetReference>
            </connector>
            <label>Si tiene Precio V</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Tipo_de_veh_culo</name>
        <label>Tiene Tipo de vehículo</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>BMW_ObtenerPlantillas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Vehiculo.Tipo_de_veh_culo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_tipo_de_veh_culo</targetReference>
            </connector>
            <label>Si tiene</label>
        </rules>
        <rules>
            <name>No_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Vehiculo.Tipo_de_veh_culo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecciona_Tipo_de_Vehiculo</targetReference>
            </connector>
            <label>No tiene</label>
        </rules>
    </decisions>
    <interviewLabel>Importar Plantilla {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Importar Plantilla</label>
    <loops>
        <name>BMW_ParaCadaPartidaDePlantilla</name>
        <label>Para cada Partida de Plantilla</label>
        <locationX>578</locationX>
        <locationY>3530</locationY>
        <collectionReference>BMW_ObtenerLineasDePlantilla</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtiene_Lista_De_Precio</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BMW_CrearPartidasDePresupuesto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BMW_ParaCadaPlantilla</name>
        <label>Para Cada Plantilla</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <collectionReference>BMW_ObtenerPlantillas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BMW_AsignaIdsDePlantilla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BMW_ImportarPlantilla</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copia_1_de_Para_Cada_Plantilla</name>
        <label>Copia 1 de Para Cada Plantilla</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <collectionReference>Copia_1_de_Obtener_Plantillas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copia_1_de_Asigna_Ids_de_Plantilla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Resultado_busqueda_de_Importar_Plantilla</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BMW_CrearPartidasDePresupuesto</name>
        <label>Crear Partidas De Presupuesto</label>
        <locationX>578</locationX>
        <locationY>4130</locationY>
        <connector>
            <targetReference>Plantilla_Importada</targetReference>
        </connector>
        <inputReference>PartidasDePresupuesto</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BMW_ObtenerLineasDePlantilla</name>
        <label>Obtener Lineas de Plantilla</label>
        <locationX>578</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BMW_ParaCadaPartidaDePlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plantilla_de_Presupuesto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantillaSeleccionada</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_Plantilla_de_Presupuesto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BMW_ObtenerPlantillas</name>
        <label>Obtener Plantillas</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BMW_ParaCadaPlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMW_Compania__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.BMW_Compania__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMW_TipoDeVehiculo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NuevoTipodeVehiculo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plantilla_de_Presupuesto__c</object>
        <sortField>Nombre__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BMW_ObtenerPresupuesto</name>
        <label>Obtener Presupuesto</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determina_Nombre_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copia_1_de_Obtener_Plantillas</name>
        <label>Copia 1 de Obtener Plantillas</label>
        <locationX>446</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Para_Cada_Plantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BMW_Compania__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.BMW_Compania__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMW_TipoDeVehiculo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NuevoTipodeVehiculo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nombre__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Nombre_Plantilla</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plantilla_de_Presupuesto__c</object>
        <sortField>Nombre__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Oportunidad</name>
        <label>Obtener Oportunidad</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_bodega_x_territorio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BMW_ObtenerPresupuesto.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Vehiculo</name>
        <label>Obtener Vehículo</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Tipo_de_veh_culo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.BMW_PlacaDeVehiculoOElVIN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_bodega_x_territorio</name>
        <label>Obtiene bodega x territorio</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Vehiculo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.BMW_TallerDeServicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BodegaxTerritorio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Lista_De_Precio</name>
        <label>Obtiene Lista De Precio</label>
        <locationX>798</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_precio_de_venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BMW_ParaCadaPartidaDePlantilla.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Price_Book_Pre.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Price_Book_Pre</name>
        <label>Obtiene Price Book Pre</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_vac_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Presupuesto_Actual</name>
        <label>Actualiza Presupuesto Actual</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Obtener_Oportunidad</targetReference>
        </connector>
        <inputReference>BMW_ObtenerPresupuesto</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BMW_ImportarPlantilla</name>
        <label>Importar Plantilla</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Plantilla_Ya_Seleccionada</targetReference>
        </connector>
        <fields>
            <name>Seleccione</name>
            <fieldText>&lt;p&gt;Seleccione la Plantilla que desea Importar&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_Plantilla</name>
            <dataType>String</dataType>
            <fieldText>Nombre Plantilla</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Si desea buscar por nombre de plantilla, llene este campo&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PlantillasDataTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>IdsDePlantilla</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Plantilla_de_Presupuesto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Nombre__c,BMW_Compania__c,BMW_TipoDeVehiculo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <stringValue>Nombre__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PlantillaSeleccionada</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>buscarButton</name>
            <extensionName>SLSFB:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Buscar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copia_1_de_Plantilla_no_seleccionada</name>
        <label>Copia 1 de Plantilla no seleccionada</label>
        <locationX>314</locationX>
        <locationY>3146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BMW_ObtenerLineasDePlantilla</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_texto_Plantilla_No_Seleccionada</name>
            <fieldText>&lt;p&gt;No se selecciono ninguna platilla. Intente de nuevo por favor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Plantilla Importada</description>
        <name>Plantilla_Importada</name>
        <label>Plantilla Importada</label>
        <locationX>578</locationX>
        <locationY>4238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BMW_PlantillaImportada</name>
            <fieldText>&lt;p&gt;Plantilla importada exitosamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plantilla_no_seleccionada</name>
        <label>Plantilla no seleccionada</label>
        <locationX>754</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BMW_ObtenerLineasDePlantilla</targetReference>
        </connector>
        <fields>
            <name>texto_Plantilla_No_Seleccionada</name>
            <fieldText>&lt;p&gt;No se selecciono ninguna platilla. Intente de nuevo por favor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultado_busqueda_de_Importar_Plantilla</name>
        <label>Resultado busqueda de Importar Plantilla</label>
        <locationX>446</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selecciono_Plantilla</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Seleccione</name>
            <fieldText>&lt;p&gt;Seleccione la Plantilla que desea Importar&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copia_1_de_PlantillasDataTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>IdsDePlantilla</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Plantilla_de_Presupuesto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Nombre__c,BMW_Compania__c,BMW_TipoDeVehiculo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <stringValue>Nombre__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PlantillaSeleccionada</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecciona_Tipo_de_Vehiculo</name>
        <label>Selecciona Tipo de Vehículo</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>tipo_de_vehiclo_seleccionado</targetReference>
        </connector>
        <fields>
            <name>BMW_Tipo_de_Vehiculo</name>
            <choiceReferences>Autom_vil</choiceReferences>
            <choiceReferences>Motocicleta</choiceReferences>
            <choiceReferences>Mula</choiceReferences>
            <choiceReferences>Cuadraciclo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de vehículo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BMW_ObtenerPresupuesto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdsDePlantilla</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NuevoTipodeVehiculo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartidaDePresupuesto1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>PartidasDePresupuesto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>PlantillaSeleccionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
