force-app/main/default/flows/BMW_DuplicaPartidasDePresupuesto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asigna1duplicado</name>
        <label>Asigna 1 duplicado</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_10_duplicado</name>
        <label>Asigna 10 duplicado</label>
        <locationX>2426</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_2_duplicado</name>
        <label>Asigna 2 duplicado</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_3_duplicado</name>
        <label>Asigna 3 duplicado</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_4_duplicado</name>
        <label>Asigna 4 duplicado</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_5_duplicado</name>
        <label>Asigna 5 duplicado</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_6_duplicado</name>
        <label>Asigna 6 duplicado</label>
        <locationX>1370</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_7_duplicado</name>
        <label>Asigna 7 duplicado</label>
        <locationX>1634</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_8_duplicado</name>
        <label>Asigna 8 duplicado</label>
        <locationX>1898</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_9_duplicado</name>
        <label>Asigna 9 duplicado</label>
        <locationX>2162</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VecesDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_QLI_Ids</name>
        <label>Asigna QLI Ids</label>
        <locationX>1458</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>QLIIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_QLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_QLI_Seleccionados</name>
        <label>Asigna QLI Seleccionados</label>
        <locationX>1634</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>QLINew.BMW_Alias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.BMW_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.BMW_Bodega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.BMW_Bodega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.BMW_Dispinible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.BMW_Dispinible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.BMW_Disponibilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.BMW_Disponibilidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINew.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QLI_Recorre_Seleccionados.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLINuevos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLINew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_numero_Duplicados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Record_Id</name>
        <label>Asigna Record Id</label>
        <locationX>1370</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>QuoteiD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuantos_Duplicados</name>
        <label>Cuantos Duplicados</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>QLI_List_Seleccionados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>X1_dupllicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna1duplicado</targetReference>
            </connector>
            <label>1 dupllicado</label>
        </rules>
        <rules>
            <name>X2_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_2_duplicado</targetReference>
            </connector>
            <label>2 duplicado</label>
        </rules>
        <rules>
            <name>X3_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_3_duplicado</targetReference>
            </connector>
            <label>3 duplicado</label>
        </rules>
        <rules>
            <name>X4_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_4_duplicado</targetReference>
            </connector>
            <label>4 duplicado</label>
        </rules>
        <rules>
            <name>X5_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_5_duplicado</targetReference>
            </connector>
            <label>5 duplicado</label>
        </rules>
        <rules>
            <name>X6_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_6_duplicado</targetReference>
            </connector>
            <label>6 duplicado</label>
        </rules>
        <rules>
            <name>X7_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_7_duplicado</targetReference>
            </connector>
            <label>7 duplicado</label>
        </rules>
        <rules>
            <name>X8_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_8_duplicado</targetReference>
            </connector>
            <label>8 duplicado</label>
        </rules>
        <rules>
            <name>X9_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_9_duplicado</targetReference>
            </connector>
            <label>9 duplicado</label>
        </rules>
        <rules>
            <name>X10_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_NumeroDuplicar</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_10_duplicado</targetReference>
            </connector>
            <label>10 duplicado</label>
        </rules>
    </decisions>
    <interviewLabel>Duplica Partidas de Presupuesto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplica partidas de presupuesto</label>
    <loops>
        <name>Loop_numero_Duplicados</name>
        <label>Loop numero Duplicados</label>
        <locationX>1546</locationX>
        <locationY>1550</locationY>
        <collectionReference>VecesDuplicados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_QLI_Seleccionados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>QLI_Recorre_Seleccionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_QLI</name>
        <label>Loop QLI</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Quote_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_QLI_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selecciona_Partidas_a_Duplicar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QLI_Recorre_Seleccionados</name>
        <label>QLI Recorre Seleccionados</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <collectionReference>QLI_List_Seleccionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_numero_Duplicados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_QLI_News</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_QLI_News</name>
        <label>Crea QLI News</label>
        <locationX>1370</locationX>
        <locationY>1982</locationY>
        <inputReference>QLINuevos</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteiD</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteiD</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QLI_List_Seleccionados</name>
        <label>QLI List Seleccionados</label>
        <locationX>1370</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QLI_Recorre_Seleccionados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>QLISeleccionados</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Selecciona_Partidas_a_Duplicar</name>
        <label>Selecciona Partidas a Duplicar</label>
        <locationX>1370</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cuantos_Duplicados</targetReference>
        </connector>
        <fields>
            <name>SelectQLIList</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>QLIIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>QuoteLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>BMW_ProductCustomTable__c,UnitPrice,Quantity,Subtotal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstSelectiD</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>QLISeleccionados</assignToReference>
                <name>lstSelectedIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BMW_NumeroDuplicar</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Número de veces que se duplicará</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asigna_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstSelectiD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLINew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLINuevos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLISeleccionados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteiD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VecesDuplicados</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
