force-app/main/default/flows/BMWFest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_CreaTrafico</name>
        <label>Copy 1 of Copy 2 of Copy 1 of CreaTrafico</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Trafico.Marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarcaSelect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Familia1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Familia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Modelo_De_Inter_s1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Observaciones__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asesor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Ano1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2024</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_CreaTrafico</name>
        <label>Copy 2 of Copy 1 of CreaTrafico</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Trafico.Marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Familia1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fakmilia2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Modelo_De_Inter_s1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Observaciones__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asesor2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Campana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>701PH00000FyBxqYAF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Ano1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2024</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatetrafico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_CreaTrafico</name>
        <label>Copy 2 of CreaTrafico</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Trafico.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellido2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correo2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Celular2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modelo_de_inter_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreaTrafico</name>
        <label>CreaTrafico</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Trafico.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellido1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correo1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Celular1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Walking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Orgánico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Campana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>701PH00000FyBxqYAF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.FechaPosibleCompra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 a 3 meses</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trafico.Numero_de_Identificacion_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscaCliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearTrafico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>traf</name>
        <label>traf</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Trafico</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTraficos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Existe_trafico</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ExistenTraficos</name>
        <label>ExistenTraficos</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>traf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoExisteTrafico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTraficos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existe_trafico</targetReference>
            </connector>
            <label>NoExisteTrafico</label>
        </rules>
    </decisions>
    <description>con forro de modelos</description>
    <formulas>
        <name>Desc</name>
        <dataType>String</dataType>
        <expression>{!MarcaSelect} + &quot; &quot;+ {!Familia} + &quot; &quot;+ {!Modelo}</expression>
    </formulas>
    <interviewLabel>BMWFest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMWFest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearTrafico</name>
        <label>CrearTrafico</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Modelo_de_inter_s</targetReference>
        </connector>
        <inputReference>Trafico</inputReference>
    </recordCreates>
    <recordCreates>
        <name>task</name>
        <label>task</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>taskid</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_updatetrafico</targetReference>
        </connector>
        <inputAssignments>
            <field>Observaciones__c</field>
            <value>
                <elementReference>Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>Presencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BMW Fest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>GetTraficos.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetTraficos</name>
        <label>GetTraficos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTraficosCerrados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_Identificacion_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscaCliente</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archivado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTraficosCerrados</name>
        <label>GetTraficosCerrados</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistenTraficos</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Numero_de_Identificacion_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscaCliente</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Archivado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updatetrafico</name>
        <label>Copy 1 of updatetrafico</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_Correcto</targetReference>
        </connector>
        <inputReference>Trafico</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatetrafico</name>
        <label>updatetrafico</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Correcto</targetReference>
        </connector>
        <inputReference>Trafico</inputReference>
    </recordUpdates>
    <screens>
        <name>BMWFest</name>
        <label>BMWFest</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTraficos</targetReference>
        </connector>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redmotors.file.force.com/sfc/servlet.shepherd/version/download/068PH000008BU7p?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;bmwfest.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BuscaCliente</name>
            <dataType>String</dataType>
            <fieldText>Buscar cliente por cédula</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, ingrese únicamente números y asegúrese de que la cédula contenga 9 o 12 dígitos.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    ISNUMBER({!BuscaCliente}),
    LEN({!BuscaCliente}) &gt;= 9,
    LEN({!BuscaCliente}) &lt;= 12
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Correcto</name>
        <label>Copy 1 of Correcto</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BMWFest</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Secreo</name>
            <fieldText>&lt;p&gt;Se creó correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Red</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>taskid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Ver task</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Existe_trafico</name>
        <label>Copy 1 of Existe trafico</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_CreaTrafico</targetReference>
        </connector>
        <fields>
            <name>Nombre2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficos.FirstName</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo Nombre solo debe contener letras.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Nombre2}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Apellido2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficos.LastName</elementReference>
            </defaultValue>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo Nombre solo debe contener letras.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Apellido2}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cedula2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficos.Numero_de_Identificacion_del__c</elementReference>
            </defaultValue>
            <fieldText>Cedula</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, ingrese únicamente números y asegúrese de que la cédula contenga 9 o 12 dígitos.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    ISNUMBER({!Cedula2}),
    LEN({!Cedula2}) &gt;= 9,
    LEN({!Cedula2}) &lt;= 12
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Correo2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficos.Email</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, introduzca un formato de correo electrónico válido (ejemplo@dominio.com).&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Correo2}, &quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Celular2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficos.Phone</elementReference>
            </defaultValue>
            <fieldText>Celular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo &apos;Celular&apos; solo debe contener números.&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Celular2})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Nota</name>
            <fieldText>&lt;p&gt;Nota Importante: Se creará una actividad asociada con el tráfico existente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Modelo_de_inter_s</name>
        <label>Copy 1 of Modelo de interés</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_CreaTrafico</targetReference>
        </connector>
        <fields>
            <name>TextoDisplay</name>
            <fieldText>&lt;p&gt;i4	            &lt;strong&gt;BMW-I4-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;i5	           &lt;strong&gt; BMW-I5-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX	            &lt;strong&gt;BMW-IX40-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX	             &lt;strong&gt;BMW-IX50-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX1	&lt;strong&gt;BMW-IX1-20-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX2	&lt;strong&gt;BMW-IX2-30-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX3	&lt;strong&gt;BMW-IX3-VR-INSPIRING&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;M3	&lt;strong&gt;BMW-M3-VR-M-COMPETI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;M4	&lt;strong&gt;BMW-M4-VR-M-COMPETI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 1	&lt;strong&gt;BMW-128-TI-VR-TI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 2	&lt;strong&gt;BMW-218-GC-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 3	&lt;strong&gt;BMW-320-VR-SPORT-LIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 4	&lt;strong&gt;BMW-430-C-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 5	&lt;strong&gt;BMW-530-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 7	&lt;strong&gt;BMW-I7&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X1	&lt;strong&gt;BMW-X1-18I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X3	&lt;strong&gt;BMW-X3-20I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X4	&lt;strong&gt;BMW-X4-20I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X5	&lt;strong&gt;BMW-X5-30D-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X6	&lt;strong&gt;BMW-X6-30D-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X7	&lt;strong&gt;BMW-X7-40I-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Z	&lt;strong&gt;BMW-Z4-20i-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;3 PUERTAS	&lt;strong&gt;COOPER-VR-HATCH&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;ELÉCTRICO	&lt;strong&gt;COOPER-SE-VR-CR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;5 PUERTAS	&lt;strong&gt;COOPER-VR-5-TURER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;CABRIO		&lt;strong&gt;COOPER-S-VR-CABRIO&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;COUNTRYMAN 	&lt;strong&gt;NEW-S-VR-COUNTRYMA&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;JCW		&lt;strong&gt;JCW-VR-HAT-SPITF&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Marca</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Marca__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Familia1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Marca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Marca2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Familia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Fakmilia2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Modelo_De_Inter_s1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Modelo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>Modelo2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Marca2</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Fakmilia2</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Modelo2</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Asesor2</name>
            <dataType>String</dataType>
            <fieldText>Asesor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo &apos;Asesor&apos; solo debe contener letras.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Asesor2}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Correcto</name>
        <label>Correcto</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BMWFest</targetReference>
        </connector>
        <fields>
            <name>Secreo</name>
            <fieldText>&lt;p&gt;Se creó correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Red</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Trafico.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Ver tráfico</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existe_trafico</name>
        <label>Existe trafico</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreaTrafico</targetReference>
        </connector>
        <fields>
            <name>Nombre1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficosCerrados.FirstName</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo Nombre solo debe contener letras.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Nombre1}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Apellido1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficosCerrados.LastName</elementReference>
            </defaultValue>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;El campo Nombre solo debe contener letras.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Apellido1}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Correo1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficosCerrados.Email</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Por favor, introduzca un formato de correo electrónico válido (ejemplo@dominio.com).&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Correo1}, &quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Celular1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTraficosCerrados.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Celular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo &apos;Celular&apos; solo debe contener números.&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER({!Celular1})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modelo_de_inter_s</name>
        <label>Modelo de interés</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_CreaTrafico</targetReference>
        </connector>
        <fields>
            <name>textodisplay2</name>
            <fieldText>&lt;p&gt;i4	            &lt;strong&gt;BMW-I4-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;i5	           &lt;strong&gt; BMW-I5-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX	            &lt;strong&gt;BMW-IX40-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX	             &lt;strong&gt;BMW-IX50-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX1	&lt;strong&gt;BMW-IX1-20-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX2	&lt;strong&gt;BMW-IX2-30-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;iX3	&lt;strong&gt;BMW-IX3-VR-INSPIRING&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;M3	&lt;strong&gt;BMW-M3-VR-M-COMPETI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;M4	&lt;strong&gt;BMW-M4-VR-M-COMPETI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 1	&lt;strong&gt;BMW-128-TI-VR-TI&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 2	&lt;strong&gt;BMW-218-GC-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 3	&lt;strong&gt;BMW-320-VR-SPORT-LIN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 4	&lt;strong&gt;BMW-430-C-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 5	&lt;strong&gt;BMW-530-VR-EXECUTIVE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Serie 7	&lt;strong&gt;BMW-I7&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X1	&lt;strong&gt;BMW-X1-18I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X3	&lt;strong&gt;BMW-X3-20I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X4	&lt;strong&gt;BMW-X4-20I-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X5	&lt;strong&gt;BMW-X5-30D-VR-XLINE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X6	&lt;strong&gt;BMW-X6-30D-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;X7	&lt;strong&gt;BMW-X7-40I-VR-PREMIUM&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Z	&lt;strong&gt;BMW-Z4-20i-VR-PAQ-M&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;3 PUERTAS	&lt;strong&gt;COOPER-VR-HATCH&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;ELÉCTRICO	&lt;strong&gt;COOPER-SE-VR-CR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;5 PUERTAS	&lt;strong&gt;COOPER-VR-5-TURER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;CABRIO		&lt;strong&gt;COOPER-S-VR-CABRIO&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;COUNTRYMAN 	&lt;strong&gt;NEW-S-VR-COUNTRYMA&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;JCW		&lt;strong&gt;JCW-VR-HAT-SPITF&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marca</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Marca__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Familia1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Marca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>MarcaSelect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Familia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Familia</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Modelo_De_Inter_s1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Modelo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>Modelo</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Asesor</name>
            <dataType>String</dataType>
            <fieldText>Asesor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo &apos;Asesor&apos; solo debe contener letras.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Asesor}, &quot;^[a-zA-Z ]+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BMWFest</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Fakmilia2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Familia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Marca2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarcaSelect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Modelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Modelo2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Trafico</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
