force-app/main/default/flows/CambiodeMonedaWO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AsignarTipoDeCambioyMoneda</name>
        <label>AsignarTipoDeCambioyMoneda</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GetWorkOrder.TipoDeCambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_cambio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWorkOrder.Moneda_destino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonedaDestinoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarWO</name>
        <label>AsignarWO</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GetWorkOrder.Moneda_destino__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetWorkOrder.TipoDeCambio__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarWOLIsIds</name>
        <label>AsignarWOLIsIds</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>WOLIsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forEachWoli.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaIdsAsignacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachWoli</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CortarUltimaComa</name>
        <label>CortarUltimaComa</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TextIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CutFormulaIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CambioMonedaPagina2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfVolver</name>
        <label>IfVolver</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetWolis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Volver1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>volver</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarWO</targetReference>
            </connector>
            <label>Volver1</label>
        </rules>
    </decisions>
    <formulas>
        <name>CutFormulaIds</name>
        <dataType>String</dataType>
        <expression>LEFT({!TextIds}, LEN({!TextIds}) - 1)</expression>
    </formulas>
    <formulas>
        <name>formulaIdsAsignacion</name>
        <dataType>String</dataType>
        <expression>{!TextIds} + {!forEachWoli.Id} + &quot;,&quot;</expression>
    </formulas>
    <formulas>
        <name>MonedaDestino</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;USD&quot;, &quot;CRC&quot;, 
   IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;CRC&quot;, &quot;USD&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>MonedaDestinoFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;USD&quot;, &quot;CRC&quot;, 
   IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;CRC&quot;, &quot;USD&quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>TextoCambioMoneda</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;USD&quot;, &quot;Moneda destino: Colones&quot;, 
   IF(TEXT({!GetWorkOrder.CurrencyIsoCode}) = &quot;CRC&quot;, &quot;Moneda destino: Dólares&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>CambiodeMonedaWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CambiodeMonedaWO</label>
    <loops>
        <name>forEachWoli</name>
        <label>forEachWoli</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>GetWolis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarWOLIsIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CortarUltimaComa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWolis</name>
        <label>GetWolis</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEachWoli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CambiarMoneda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWO</name>
        <label>UpdateWO</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>GetWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>UpdateWorkOrder</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <inputReference>GetWorkOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>CambiarMoneda</name>
        <label>CambiarMoneda</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfVolver</targetReference>
        </connector>
        <fields>
            <name>MostrarTexto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!TextoCambioMoneda} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_de_cambio</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetWorkOrder.TipoDeCambio__c</elementReference>
            </defaultValue>
            <fieldText>Tipo de cambio:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>4</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Solamente se permiten números&lt;/p&gt;</errorMessage>
                <formulaExpression>!CONTAINS(TEXT({!Tipo_de_cambio}), &quot;e&quot;) || !CONTAINS(TEXT({!Tipo_de_cambio}), &quot;E&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>volver</name>
            <dataType>Boolean</dataType>
            <fieldText>Deseo devolver a la moneda original en la Orden de trabajo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetWorkOrder.Moneda_destino__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CambioMonedaPagina2</name>
        <label>CambioMonedaPagina2</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarTipoDeCambioyMoneda</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Resumen del cambio de moneda&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Si detecta diferencias en alguna línea por favor arregle el tipo de cambio antes de generar el pedido.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTableMoneda</name>
            <extensionName>c:woliDataTableMoneda</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>moneda</name>
                <value>
                    <elementReference>MonedaDestino</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tipoCambio</name>
                <value>
                    <elementReference>Tipo_de_cambio</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderLineItemIds</name>
                <value>
                    <elementReference>TextIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLIsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
