force-app/main/default/flows/Carga_Imagenes_trabajo_a_realizar_a_chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Asigna_adjunto</name>
        <label>Asigna adjunto</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Adjunto.FeedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatterPost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adjunto.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Content</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adjunto.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.LatestPublishedVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adjunto.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListAttachment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adjunto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Post_de_Chatter</name>
        <label>Asigna Post de Chatter</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ChatterPost.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterPost.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContentPost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChatterPost.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crea_chatter_post</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decide_si_documentos_no_vacios</name>
        <label>decide si documentos no vacios</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_hay_archivos_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay_documentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Content_Document_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtiene_Files</targetReference>
            </connector>
            <label>si hay documentos</label>
        </rules>
    </decisions>
    <interviewLabel>Carga Imagenes trabajo a realizar a chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carga Imagenes a chatter</label>
    <loops>
        <name>Loop_Documents</name>
        <label>Loop Documents</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Obtiene_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_adjunto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_adjuntos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_adjuntos</name>
        <label>Crea adjuntos</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>ListAttachment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>crea_chatter_post</name>
        <label>crea chatter post</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
        <inputReference>ChatterPost</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Files</name>
        <label>Obtiene Files</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Post_de_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Content_Document_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cargar_Imagenes</name>
        <label>Cargar Imagenes</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decide_si_documentos_no_vacios</targetReference>
        </connector>
        <fields>
            <name>Comentario</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>.</stringValue>
            </defaultValue>
            <fieldText>Comentario</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ImagenesCatter</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cargar Imagenes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg .png .jpeg .mp4 .mov .avi .mpg .mkv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Content_Document_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Content_Document_Id</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_hay_archivos_screen</name>
        <label>No hay archivos screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoArchivo</name>
            <fieldText>&lt;p&gt;No se ha cargado ningún archivo, favor de regresar y cargar los archivos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cargar_Imagenes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Adjunto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedAttachment</objectType>
    </variables>
    <variables>
        <name>ChatterPost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>Content_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListAttachment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedAttachment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
