force-app/main/default/flows/chipflow_MultiSelect_Picklist_Utility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ADD_Assign_Values_Value_In_List</name>
        <label>ADD Assign Values Value In List</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value Already in List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ADD_Assign_Values_Value_Not_In_List</name>
        <label>ADD Assign Values Value Not In List</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Value Added</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputOutput_MultiSelectPicklist</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Input_PicklistValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Converts multi-select picklist to a text value</description>
        <name>Assign_ValueList</name>
        <label>Assign ValueList</label>
        <locationX>2228</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Var_ValueList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputOutput_MultiSelectPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eval_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Action_Error</name>
        <label>Assign Values Action Error</label>
        <locationX>3482</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error processing Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_MultiSelectPicklist_Blank</name>
        <label>Assign Values MultiSelectPicklist Blank</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multi-Select Picklist is Blank</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_ValueItem_Blank</name>
        <label>Assign Values ValueItem Blank</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Picklist Value Item not provided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_ValueList_Blank_0_0</name>
        <label>Assign Values ValueList Blank</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CONTAINS_Assign_Values_Value_in_List</name>
        <label>CONTAINS Assign Values Value in List</label>
        <locationX>2954</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value in List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CONTAINS_Assign_Values_Value_not_in_List</name>
        <label>CONTAINS Assign Values Value not in List</label>
        <locationX>3218</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value not in List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REMOVE_Assign_Values_Value_Equals_List</name>
        <label>REMOVE Assign Values Value Equals List</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multi-Select Picklist Cleared</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputOutput_MultiSelectPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REMOVE_Assign_Values_Value_is_First</name>
        <label>REMOVE Assign Values Value is First</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Value Removed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputOutput_MultiSelectPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_ListRemoveFirst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REMOVE_Assign_Values_Value_is_in_Middle</name>
        <label>REMOVE Assign Values Value is in Middle</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Middle Value Removed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputOutput_MultiSelectPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_ListRemoveMiddle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REMOVE_Assign_Values_Value_is_Last</name>
        <label>REMOVE Assign Values Value is Last</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Last Value Removed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputOutput_MultiSelectPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_ListRemoveMiddle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>REMOVE_Assign_Values_Value_Not_In_List</name>
        <label>REMOVE Assign Values Value Not In List</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Value Not in List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_PicklistUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Const_Action_ADD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ADD</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Action_CONTAINS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CONTAINS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Action_NONE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>__NONE__</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Action_REMOVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>REMOVE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_PositionFirst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FIRST</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_PositionLast</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LAST</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_PositionMiddle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MIDDLE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ADD_Is_Values_in_List</name>
        <label>ADD Is Values in List</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ADD_Assign_Values_Value_Not_In_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ADD Value Not In List</defaultConnectorLabel>
        <rules>
            <name>ADD_Value_In_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListContainsValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_Assign_Values_Value_In_List</targetReference>
            </connector>
            <label>ADD Value In List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Values_Provided</name>
        <label>Are Values Provided</label>
        <locationX>1139</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_ValueList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Values Provided</defaultConnectorLabel>
        <rules>
            <name>Input_ValueItem_ISBLANK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_PicklistValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_ValueItem_Blank</targetReference>
            </connector>
            <label>Input_ValueItem ISBLANK</label>
        </rules>
        <rules>
            <name>Input_Action_ISNONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_Action_NONE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_ValueList_Blank_0_0</targetReference>
            </connector>
            <label>Input_Action ISNONE</label>
        </rules>
        <rules>
            <name>Input_MultiSelectPicklist_ISBLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputOutput_MultiSelectPicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calc_UPPER_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_Action_REMOVE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_MultiSelectPicklist_Blank</targetReference>
            </connector>
            <label>Input MultiSelectPicklist ISBLANK</label>
        </rules>
    </decisions>
    <decisions>
        <name>CONTAINS_Is_Value_In_List</name>
        <label>CONTAINS Is Value In List</label>
        <locationX>3086</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CONTAINS_Assign_Values_Value_not_in_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CONTAINS Value not in List</defaultConnectorLabel>
        <rules>
            <name>CONTAINS_Value_in_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListContainsValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINS_Assign_Values_Value_in_List</targetReference>
            </connector>
            <label>CONTAINS Value in List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eval_Action</name>
        <label>Eval Action</label>
        <locationX>2228</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_Action_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_is_ADD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_Action_IsAdd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ADD_Is_Values_in_List</targetReference>
            </connector>
            <label>Action is ADD</label>
        </rules>
        <rules>
            <name>Action_is_REMOVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_Action_IsRemove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Is_Values_in_List</targetReference>
            </connector>
            <label>Action is REMOVE</label>
        </rules>
        <rules>
            <name>Action_is_CONTAINS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_Action_IsContains</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINS_Is_Value_In_List</targetReference>
            </connector>
            <label>Action is CONTAINS</label>
        </rules>
    </decisions>
    <decisions>
        <name>REMOVE_Is_Values_in_List</name>
        <label>REMOVE Is Values in List</label>
        <locationX>2030</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>REMOVE_Value_Not_In_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListContainsValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Assign_Values_Value_Not_In_List</targetReference>
            </connector>
            <label>REMOVE Value Not In List</label>
        </rules>
        <rules>
            <name>REMOVE_List_Equals_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListEqualsValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Assign_Values_Value_Equals_List</targetReference>
            </connector>
            <label>REMOVE List Equals Value</label>
        </rules>
        <rules>
            <name>REMOVE_Value_is_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListValuePosition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_PositionFirst</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Assign_Values_Value_is_First</targetReference>
            </connector>
            <label>REMOVE Value is First</label>
        </rules>
        <rules>
            <name>REMOVE_Value_is_Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListValuePosition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_PositionLast</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Assign_Values_Value_is_Last</targetReference>
            </connector>
            <label>REMOVE Value is Last</label>
        </rules>
        <rules>
            <name>REMOVE_Value_in_Middle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calc_ListValuePosition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Const_PositionMiddle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REMOVE_Assign_Values_Value_is_in_Middle</targetReference>
            </connector>
            <label>REMOVE Value in Middle</label>
        </rules>
    </decisions>
    <description>Adds or removes value from a semicolon delimited text value
Input_Action options: 
- ADD
- REMOVE
- CONTAINS</description>
    <formulas>
        <name>Calc_Action_IsAdd</name>
        <dataType>Boolean</dataType>
        <expression>UPPER({!Input_Action})={!Const_Action_ADD}</expression>
    </formulas>
    <formulas>
        <name>Calc_Action_IsContains</name>
        <dataType>Boolean</dataType>
        <expression>UPPER({!Input_Action})={!Const_Action_CONTAINS}</expression>
    </formulas>
    <formulas>
        <name>Calc_Action_IsRemove</name>
        <dataType>Boolean</dataType>
        <expression>UPPER({!Input_Action})={!Const_Action_REMOVE}</expression>
    </formulas>
    <formulas>
        <name>Calc_ListContainsValue</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Var_ValueList},{!Input_PicklistValue})</expression>
    </formulas>
    <formulas>
        <name>Calc_ListEqualsValue</name>
        <dataType>Boolean</dataType>
        <expression>{!Var_ValueList}={!Input_PicklistValue}</expression>
    </formulas>
    <formulas>
        <name>Calc_ListLastValueCharacterPosition</name>
        <dataType>Number</dataType>
        <expression>IF({!Calc_ListEqualsValue},1,
(LEN({!Var_ValueList})-LEN({!Input_PicklistValue})+1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Calc_ListRemoveFirst</name>
        <dataType>String</dataType>
        <expression>IF({!Calc_ListEqualsValue},&quot;&quot;,
SUBSTITUTE({!Var_ValueList},({!Input_PicklistValue}&amp;&quot;;&quot;),&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>Calc_ListRemoveFirstValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Var_ValueList},({!Input_PicklistValue}&amp;&quot;;&quot;),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Calc_ListRemoveLast</name>
        <dataType>String</dataType>
        <expression>MID({!Var_ValueList},1,LEN({!Var_ValueList})-LEN({!Input_PicklistValue})-1)</expression>
    </formulas>
    <formulas>
        <name>Calc_ListRemoveMiddle</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Var_ValueList},(&quot;;&quot;&amp;{!Input_PicklistValue}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Calc_ListValueCharacterPosition</name>
        <dataType>String</dataType>
        <expression>TEXT(FIND({!Input_PicklistValue},{!Var_ValueList}))</expression>
    </formulas>
    <formulas>
        <description>FIRST, MIDDLE, or LAST</description>
        <name>Calc_ListValuePosition</name>
        <dataType>String</dataType>
        <expression>CASE(FIND({!Input_PicklistValue},{!Var_ValueList}),
0,&quot;None&quot;,
1,{!Const_PositionFirst},
(LEN({!Var_ValueList})-LEN({!Input_PicklistValue})+1),{!Const_PositionLast},
{!Const_PositionMiddle}
)</expression>
    </formulas>
    <formulas>
        <name>Calc_UPPER_Action</name>
        <dataType>String</dataType>
        <expression>UPPER({!Input_Action})</expression>
    </formulas>
    <interviewLabel>MultiSelect Picklist Utility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MultiSelect Picklist Utility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Values_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ADD or REMOVE</description>
        <name>Input_Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Const_Action_NONE</elementReference>
        </value>
    </variables>
    <variables>
        <name>Input_PicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputOutput_MultiSelectPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Output_PicklistUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Output_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Value form multi-select picklist: semicolon delimited text values</description>
        <name>Var_ValueList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
