force-app/main/default/flows/CloseLogicStages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_1_de_Copia_1_de_Enviar_correo</name>
        <label>Copia 1 de Copia 1 de Enviar correo</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jsanso@redmotorscr.com,rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 30 días.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_1_de_Copia_2_de_Enviar_correo</name>
        <label>Copia 1 de Copia 2 de Enviar correo</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 6 meses.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail8</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_1_de_Copia_3_de_Enviar_correo</name>
        <label>Copia 1 de Copia 3 de Enviar correo</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 30 días.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail9</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_1_de_Enviar_correo</name>
        <label>Copia 1 de Enviar correo</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jsanso@redmotorscr.com,rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 30 días.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_2_de_Copia_2_de_Enviar_correo</name>
        <label>Copia 2 de Copia 2 de Enviar correo</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 6 meses.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail8</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_2_de_Copia_3_de_Enviar_correo</name>
        <label>Copia 2 de Copia 3 de Enviar correo</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 30 días.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail9</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_2_de_Enviar_correo</name>
        <label>Copia 2 de Enviar correo</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 6 meses.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Copia_3_de_Enviar_correo</name>
        <label>Copia 3 de Enviar correo</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 6 meses.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>alerta 30 días</description>
        <name>Enviar_correo</name>
        <label>Enviar correo</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>abarbozav@redmotorscr.com,rzamora@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad sin cambiar de etapa en 30 días.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>correoEmail3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Copia_1_de_que_tipo_registro</name>
        <label>Copia 1 de que tipo registro</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_es_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDlQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 1 de es BMW</label>
        </rules>
        <rules>
            <name>Copia_1_de_es_MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDoQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_3_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 1 de es MINI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_2_de_que_tipo_registro</name>
        <label>Copia 2 de que tipo registro</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_es_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDlQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Copia_2_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 2 de es BMW</label>
        </rules>
        <rules>
            <name>Copia_2_de_es_MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDoQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Copia_3_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 2 de es MINI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_3_de_que_tipo_registro</name>
        <label>Copia 3 de que tipo registro</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_3_de_es_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDlQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Copia_2_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 3 de es BMW</label>
        </rules>
        <rules>
            <name>Copia_3_de_es_MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDoQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Copia_3_de_Enviar_correo</targetReference>
            </connector>
            <label>Copia 3 de es MINI</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOGICA_TIEMPOS</name>
        <label>LOGICA TIEMPOS</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Regla_1</name>
            <conditionLogic>((1 AND 6) OR 5) AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DiasCreada__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad Calificada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Changed__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_Changed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_que_tipo_registro</targetReference>
            </connector>
            <label>Regla 1</label>
        </rules>
        <rules>
            <name>Regla_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcular6meses</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buscarAnticipo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_3_de_que_tipo_registro</targetReference>
            </connector>
            <label>Regla 2</label>
        </rules>
        <rules>
            <name>Regla_3</name>
            <conditionLogic>( 1 OR 2 OR 3 ) AND 4 AND ( 5 OR 6 ) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad Calificada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDlQAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sucursal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escazú</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sucursal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pinares</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calcular6meses</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_correo</targetReference>
            </connector>
            <label>Regla 3</label>
        </rules>
        <rules>
            <name>Regla_4</name>
            <conditionLogic>( 1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad Calificada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calcular6meses</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>31.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>que_tipo_registro</targetReference>
            </connector>
            <label>Regla 4</label>
        </rules>
        <rules>
            <name>antes_de_cerrar</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad Calificada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calcular6meses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>179.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_que_tipo_registro</targetReference>
            </connector>
            <label>antes de cerrar</label>
        </rules>
    </decisions>
    <decisions>
        <name>que_tipo_registro</name>
        <label>que tipo registro</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>es_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDlQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Enviar_correo</targetReference>
            </connector>
            <label>es BMW</label>
        </rules>
        <rules>
            <name>es_MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120P000000arDoQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Copia_1_de_Enviar_correo</targetReference>
            </connector>
            <label>es MINI</label>
        </rules>
    </decisions>
    <description>with close stage</description>
    <formulas>
        <name>calcular6meses</name>
        <dataType>Number</dataType>
        <expression>ROUND(NOW() -  {!$Record.LastStageChangeDate},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CloseLogicStages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloseLogicStages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>buscarAnticipo</name>
        <label>buscarAnticipo</label>
        <locationX>1898</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOGICA_TIEMPOS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Anticipo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>buscarAnticipo</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>correoEmail3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt;Oportunidad sin cambiar de etapa en 30 días.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado Alejandro Barboza:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de BMW se encuentra en etapa {!$Record.StageName} sin presentar ningún movimiento en los últimos 30 días.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>correoEmail4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt;Oportunidad sin cambiar de etapa en 30 días.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado Juan Sanso:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de BMW se encuentra en etapa {!$Record.StageName} sin presentar ningún movimiento en los últimos 30 días.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>correoEmail5</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt;Oportunidad sin cambiar de etapa en 30 días.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado Jaime Carvajal:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de MINI se encuentra en etapa {!$Record.StageName} sin presentar ningún movimiento en los últimos 30 días.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>correoEmail6</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt; Oportunidad sin cambiar de etapa en 6 meses.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado {!$Record.Owner.FirstName} {!$Record.Owner.LastName}:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de BMW se encuentra en etapa {!$Record.StageName} sin presentar ningún movimiento en los ultimos 6 meses, pasará a etapa cerrada perdida.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>correoEmail7</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt; Oportunidad sin cambiar de etapa en 6 meses.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado {!$Record.Owner.FirstName} {!$Record.Owner.LastName}:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de MINI se encuentra en etapa {!$Record.StageName} sin presentar ningún movimiento en los ultimos 6 meses, pasará a etapa cerrada perdida.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>se cerro mensaje</description>
        <name>correoEmail8</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt; Oportunidad a etapa cerrada perdida.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado {!$Record.Owner.FirstName} {!$Record.Owner.LastName}:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de BMW pasará a la etapa Cerrada perdida.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>correoEmail9</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;html style=&quot;overflow-y: hidden;&quot;&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;height: auto; min-height: auto;background:#f5f5f9;&quot;&gt;&lt;div style=&quot;width:600px;margin: 0 auto;padding: 10px;position: relative;background-color:white;&quot;&gt;&lt;br /&gt;
&lt;div style=&quot;background:#F4F4F4; width:500px;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333;font-size:25px;font-weight:bold&quot;&gt; Oportunidad a etapa cerrada perdida.&lt;/div&gt;              
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt;	Estimado {!$Record.Owner.FirstName} {!$Record.Owner.LastName}:&lt;/p&gt;
&lt;br/&gt;
La Oportunidad {!$Record.Name} de MINI pasará a la etapa Cerrada perdida.
&lt;br/&gt;
&lt;br /&gt;
&lt;p&gt; Para acceder a esta oportunidad haga clic en el siguiente link:&lt;/p&gt;&lt;p style=&quot;font-weight: bold;&quot;&gt; https://redmotors.my.salesforce.com/{!$Record.Id}&lt;/p&gt;
&lt;br /&gt;
&lt;p style=&quot;width:580px&quot;&gt; Salesforce &lt;/p&gt;
&lt;/div&gt;
&lt;br /&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>correoRegla3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
