force-app/main/default/flows/Completar_Work_Steps_de_Ordenes_Facturadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Si una orden ya fue facturada, no tiene asignaciones de mecánicos y ha iniciado tareas estas cambien a completado con los valores de los tiempos del caso (ocupamos que no nos afecten los indicadores para poder arrancar)</description>
    <formulas>
        <description>setea la fecha de inicio cuando viene null</description>
        <name>getStartTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.StartTime}), {!$Flow.CurrentDateTime}, {!$Record.StartTime})</expression>
    </formulas>
    <interviewLabel>Completar Work Steps de Ordenes Facturadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Completar Work Steps de Ordenes Facturadas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Completar_Tareas_de_Ordenes_Facturadas</name>
        <label>Completar Tareas de Ordenes Facturadas</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Reset_Flag_System_Update_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag_System_Update__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>getStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Inicialmente resetea el flag</description>
        <name>Reset_Flag_System_Update_1</name>
        <label>Reset Flag System Update_1</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Completar_Tareas_de_Ordenes_Facturadas</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag_System_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Flag_System_Update_2</name>
        <label>Reset Flag System Update 2</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Flag_System_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Flag_System_Update_1</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 5) AND 3 AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En pausa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estatus_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orden Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>CT_TieneSubtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <object>WorkStep</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-12</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
