force-app/main/default/flows/Copy_files_from_Event_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_CDL_Record_to_List</name>
        <label>Add CDL Record to List</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CDLList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CDLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_to_information_to_CDLRecord</name>
        <label>Assing to information to CDLRecord</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CDLRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_CDLs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CDL_Record_to_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Copy files from Event to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy files from Event to Case</label>
    <loops>
        <name>Loop_Over_CDLs</name>
        <label>Loop Over CDLs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_CDLs_of_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_to_information_to_CDLRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDL_on_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CDL_on_Case</name>
        <label>Create CDL on Case</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CDLList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CDLs_of_Event</name>
        <label>Get CDLs of Event</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_CDLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CDLs_of_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asistió</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CDLList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
