force-app/main/default/flows/Crea_Horas_Improductivas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Copia_1_de_guardarMinutosSucursal</name>
        <label>Copia 1 de guardarMinutosSucursal</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>minutosSucursal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtenerHoraGlobal.Tiempo_de_cita__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nuevoEvento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_guardarMinutosSucursal</name>
        <label>Copia 2 de guardarMinutosSucursal</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>minutosSucursal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nuevoEvento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>guardarMinutosSucursal</name>
        <label>guardarMinutosSucursal</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>minutosSucursal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtener_Extra.Tiempo_de_cita__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nuevoEvento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>siTieneGlobal</name>
        <label>siTieneGlobal</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_guardarMinutosSucursal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>si_tiene_global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerHoraGlobal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_Extra</targetReference>
            </connector>
            <label>si tiene global</label>
        </rules>
    </decisions>
    <decisions>
        <name>siTieneService</name>
        <label>siTieneService</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>nuevoEvento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerServiceTer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtenerHoraGlobal</targetReference>
            </connector>
            <label>si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>tieneExtra</name>
        <label>tieneExtra</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_guardarMinutosSucursal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>si_tiene_extra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtener_Extra</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>guardarMinutosSucursal</targetReference>
            </connector>
            <label>si tiene extra</label>
        </rules>
    </decisions>
    <formulas>
        <name>ahora</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>FechaIniciotime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT({!$Record.Inicio__c}) + {!$Record.Hora_inicio__c}  )</expression>
    </formulas>
    <formulas>
        <name>GetStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Inicio_de_tiempo_Improductivo__c})</expression>
    </formulas>
    <formulas>
        <name>onlyServiceTerritory</name>
        <dataType>String</dataType>
        <expression>{!$Record.Sucursal__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>tiempoFinalCita</name>
        <dataType>DateTime</dataType>
        <expression>{!FechaIniciotime} + (({!minutosSucursal}/24)/60)</expression>
    </formulas>
    <interviewLabel>Crea Horas Improductivas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Horas Improductivas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>611</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>GetStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Orden_de_trabajo__r.Asesor_de_la_orden__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>$Record.Orden_de_trabajo__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Observaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Fin_de_tiempo_Improductivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>Calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Inicio_de_tiempo_Improductivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tiempo Improductivo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Orden_de_trabajo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Mecanico__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>nuevoEvento</name>
        <label>nuevoEvento</label>
        <locationX>611</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>FechaIniciotime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Sucursal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.Sucursal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>tiempoFinalCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Sucursal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAndCenter__c</field>
            <value>
                <elementReference>$Record.Sucursal__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>FechaIniciotime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToBeProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>obtener_Extra</name>
        <label>obtener Extra</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tieneExtra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtenerServiceTer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hora_extraordinaria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtenerHoraGlobal</name>
        <label>obtenerHoraGlobal</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>siTieneGlobal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtenerServiceTer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hora_global__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtenerServiceTer</name>
        <label>obtenerServiceTer</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>siTieneService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>onlyServiceTerritory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtenerServiceTer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sucursal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Horas_improductivas_por_mec_nico__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>minutosSucursal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
