force-app/main/default/flows/CreacionAsset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ir_al_Asset</name>
        <label>Ir al Asset</label>
        <locationX>1898</locationX>
        <locationY>2414</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Ir_al_veh_culo</name>
        <label>Ir al vehículo</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>obtiene_asset_con_mismo_vin.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Asigna_campo</name>
        <label>Asigna campo</label>
        <locationX>1898</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Asset.Anio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnioSinComa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca</name>
        <label>Asigna Marca</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BMW Automovil</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca11</name>
        <label>Asigna Marca</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca12</name>
        <label>Asigna Marca</label>
        <locationX>3218</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kawasaki_Cuadraciclo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca13</name>
        <label>Asigna Marca</label>
        <locationX>3482</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca15</name>
        <label>Asigna Marca</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indian</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca2</name>
        <label>Asigna Marca</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca3</name>
        <label>Asigna Marca</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca4</name>
        <label>Asigna Marca</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BMW_Moto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca5</name>
        <label>Asigna Marca</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kawasaki_Moto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca6</name>
        <label>Asigna Marca</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Polaris_Moto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca7</name>
        <label>Asigna Marca</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca8</name>
        <label>Asigna Marca</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kawasaki Mula</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Marca9</name>
        <label>Asigna Marca</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Asset.Marca_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Polaris_Mula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_al_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_al_asset</name>
        <label>Asignar valores al asset</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Asset.marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.modelo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Familia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Modelo_Nvo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Familia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Anio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnioProducto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Numero_Motor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Producto.Numero_Motor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.NumeroDeChasis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactoCampo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Anio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnioCampo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreacionAssetScreen2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Marca</name>
        <label>Decide Marca</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Asigna_Marca13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>BMW_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automóvil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca</targetReference>
            </connector>
            <label>BMW Auto</label>
        </rules>
        <rules>
            <name>Mini_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automóvil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MINI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca2</targetReference>
            </connector>
            <label>Mini Auto</label>
        </rules>
        <rules>
            <name>Otro_Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automóvil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MINI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca3</targetReference>
            </connector>
            <label>Otro Auto</label>
        </rules>
        <rules>
            <name>BMW_Moto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motocicleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOTORRAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca4</targetReference>
            </connector>
            <label>BMW Moto</label>
        </rules>
        <rules>
            <name>Kawasaki_Moto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motocicleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KAWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca5</targetReference>
            </connector>
            <label>Kawasaki Moto</label>
        </rules>
        <rules>
            <name>Polaris_Moto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motocicleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POLARIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca6</targetReference>
            </connector>
            <label>Polaris Moto</label>
        </rules>
        <rules>
            <name>INDIAN_Moto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motocicleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INDIAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca15</targetReference>
            </connector>
            <label>INDIAN Moto</label>
        </rules>
        <rules>
            <name>Otro_Moto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motocicleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KAWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POLARIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>INDIAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca7</targetReference>
            </connector>
            <label>Otro Moto</label>
        </rules>
        <rules>
            <name>Kawasaki_Mula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mula</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KAWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca8</targetReference>
            </connector>
            <label>Kawasaki Mula</label>
        </rules>
        <rules>
            <name>Polaris_Mula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mula</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POLARIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca9</targetReference>
            </connector>
            <label>Polaris Mula</label>
        </rules>
        <rules>
            <name>Otro_Mula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mula</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KAWA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POLARIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca11</targetReference>
            </connector>
            <label>Otro Mula</label>
        </rules>
        <rules>
            <name>Kawasaki_Cuadraciclo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuadraciclo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Producto.marcaVehiculo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KAWA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Marca12</targetReference>
            </connector>
            <label>Kawasaki Cuadraciclo</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_marca_otro_y_modelo_otro</name>
        <label>decide marca otro</label>
        <locationX>1898</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>decide_si_falta_marca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_es_otro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Marca_Nvo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Marca_Otros__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Falta_marca</targetReference>
            </connector>
            <label>si es otro</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_si_existe_asset</name>
        <label>decide si existe asset</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Obtiene_Producto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_existe_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_asset_con_mismo_vin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asset_existe_screen</targetReference>
            </connector>
            <label>si existe asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_si_falta_marca</name>
        <label>decide si falta marca</label>
        <locationX>1898</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Asigna_campo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>falta_marca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Marca_Nvo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Falta_marcaPantalla</targetReference>
            </connector>
            <label>falta marca</label>
        </rules>
    </decisions>
    <decisions>
        <name>falta_modelo</name>
        <label>falta modelo</label>
        <locationX>1898</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>decide_marca_otro_y_modelo_otro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_falta_modelo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_valores_de_picklist_modelo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Falta_modelo1</targetReference>
            </connector>
            <label>si falta modelo</label>
        </rules>
    </decisions>
    <formulas>
        <name>AnioProducto</name>
        <dataType>String</dataType>
        <expression>TEXT({!Obtiene_Producto.Ano__c})</expression>
    </formulas>
    <formulas>
        <name>AnioProductoNumber</name>
        <dataType>Number</dataType>
        <expression>{!Obtiene_Producto.Ano__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AnioSinComa</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!AnioCampo}), &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Creación Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Asset</name>
        <label>Crear Asset</label>
        <locationX>1898</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Ir_al_Asset</targetReference>
        </connector>
        <inputReference>Asset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>obtiene_asset_con_mismo_vin</name>
        <label>obtiene asset con mismo vin</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decide_si_existe_asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumeroDeChasis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_field_definition_modelo</name>
        <label>Obtiene field definition modelo</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtiene_valores_de_picklist_modelo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Modelo_Nvo__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Producto</name>
        <label>Obtiene Producto</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Marca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Modelo.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_valores_de_picklist_modelo</name>
        <label>obtiene valores de picklist modelo</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>falta_modelo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_field_definition_modelo.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Modelo_Nvo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>asset_existe_screen</name>
        <label>asset existe screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ir_al_veh_culo</targetReference>
        </connector>
        <fields>
            <name>ExisteAssetText</name>
            <fieldText>&lt;p&gt;Ya existe un vehículo con el vin seleccionado, si desea ingresar un vin distinto de clic en Atrás, de lo contrario dirigase al vehículo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Falta_marca</name>
        <label>Copy 1 of Falta marca</label>
        <locationX>1766</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decide_si_falta_marca</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FaltaMarcaMensaje</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;En caso de seleccionar Otro, es necesario específicar Marca Otro.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreacionAssetScreen1</name>
        <label>Creación Asset Screen 1</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>obtiene_asset_con_mismo_vin</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.AccountId</objectFieldReference>
        </fields>
        <fields>
            <name>ContactoCampo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Tipo_de_veh_culo__c</objectFieldReference>
        </fields>
        <fields>
            <name>VIN</name>
            <dataType>String</dataType>
            <fieldText>VIN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo debe contener 17 caracteres y no debe iniciar con una secuencia de 4 dígitos iguales.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!VIN}) == 17 &amp;&amp;
NOT(REGEX({!VIN}, &quot;^([0-9])\\1{3}.*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Modelo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ProductoModelo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Módelo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Espacio</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreacionAssetScreen2</name>
        <label>Creación Asset Screen 2</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Obtiene_field_definition_modelo</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Tipo_de_veh_culo__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.NumeroDeChasis__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Marca_Nvo__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Modelo_Nvo__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Marca_Otros__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Asset.Marca_Nvo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Otro</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Modelo_Otros__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Asset.Marca_Nvo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Otro</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Asset.Modelo_Nvo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Otro</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AnioCampo</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>AnioProductoNumber</elementReference>
            </defaultValue>
            <fieldText>Año</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Color__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Asset.Numero_Motor__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Falta_marcaPantalla</name>
        <label>Falta marca</label>
        <locationX>1766</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asigna_campo</targetReference>
        </connector>
        <fields>
            <name>FaltaMarcaMensaje</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Debe ingresar Marca.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Falta_modelo1</name>
        <label>Falta modelo1</label>
        <locationX>1766</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decide_marca_otro_y_modelo_otro</targetReference>
        </connector>
        <fields>
            <name>FaltaIngresarModeloText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;El valor del modelo no existe dentro de los posibles valores del vehículo favor de modificarlo.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreacionAssetScreen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
