force-app/main/default/flows/CreateUpdateEventShadow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Current_Event</name>
        <label>Copy 1 of Current Event</label>
        <locationX>4384</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>CurrentEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Has_Shadow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Event</name>
        <label>Current Event</label>
        <locationX>2373</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>CurrentEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Has_Shadow</name>
        <label>Copy 1 of Has Shadow?</label>
        <locationX>4384</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Without_Shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000DyaiGQAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_saberTieneAsesor</targetReference>
            </connector>
            <label>Copy 1 of Without Shadow</label>
        </rules>
        <rules>
            <name>Copy_1_of_With_Shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of With Shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_no_tiene_asesor_pero_si_calendario</name>
        <label>Copy 1 of no tiene asesor pero si calendario</label>
        <locationX>886</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_si_tiene_calendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Create_Event_ShadowWhenUpdate</targetReference>
            </connector>
            <label>Copy 1 of si tiene calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_saberTieneAsesor</name>
        <label>Copy 1 of saberTieneAsesor</label>
        <locationX>4054</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Event_ShadowWhenUpdate</targetReference>
            </connector>
            <label>Copy 1 of si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Has_Shadow</name>
        <label>Copy 2 of Has Shadow?</label>
        <locationX>1089</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Without_Shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_saberTieneAsesor</targetReference>
            </connector>
            <label>Copy 2 of Without Shadow</label>
        </rules>
        <rules>
            <name>Copy_2_of_With_Shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Event_Shadow</targetReference>
            </connector>
            <label>Copy 2 of With Shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_no_tiene_asesor_pero_si_calendario</name>
        <label>Copy 2 of no tiene asesor pero si calendario</label>
        <locationX>2998</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_si_tiene_calendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Event_Shadow</targetReference>
            </connector>
            <label>Copy 2 of si tiene calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_saberTieneAsesor</name>
        <label>Copy 2 of saberTieneAsesor</label>
        <locationX>633</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_no_tiene_asesor_pero_si_calendario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Tiempo no productivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>012PH000002dSzNYAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Event_ShadowWhenUpdate</targetReference>
            </connector>
            <label>Copy 2 of si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_saberTieneAsesor</name>
        <label>Copy 3 of saberTieneAsesor</label>
        <locationX>2800</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_no_tiene_asesor_pero_si_calendario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEventShadow</targetReference>
            </connector>
            <label>Copy 3 of si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>esSincronico</name>
        <label>esSincronico</label>
        <locationX>182</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_3_of_Create_Event_ShadowWhenUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_es_sincronico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getServiceTerritory.Service_Territory__r.cita_sincronica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_3_of_Create_Event_ShadowWhenUpdate</targetReference>
            </connector>
            <label>si es sincronico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Shadow</name>
        <label>Has Shadow?</label>
        <locationX>2701</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithoutShadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>saberTieneAsesor</targetReference>
            </connector>
            <label>Without Shadow</label>
        </rules>
        <rules>
            <name>With_Shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Shadow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_saberTieneAsesor</targetReference>
            </connector>
            <label>With Shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Created</name>
        <label>Is Created</label>
        <locationX>2373</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000DyaiGQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Has_Shadow</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>RecordUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000DyaiGQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Dyaj4QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Shadow</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_tiene_asesor_pero_si_calendario</name>
        <label>no tiene asesor pero si calendario</label>
        <locationX>2206</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_calendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Event_ShadowWhenUpdate</targetReference>
            </connector>
            <label>si tiene calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>saberTieneAsesor</name>
        <label>saberTieneAsesor</label>
        <locationX>2008</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>no_tiene_asesor_pero_si_calendario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Calendario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEventShadowWhenUpdate</targetReference>
            </connector>
            <label>si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>si_tiene_asesorXcal</name>
        <label>si tiene asesorXcal</label>
        <locationX>380</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_UpdateOriginalEventWhenUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tieneAsesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getServiceTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>esSincronico</targetReference>
            </connector>
            <label>si tieneAsesor</label>
        </rules>
    </decisions>
    <description>version2, correccion de shadow solo calendario + correccion de no productivo + control</description>
    <formulas>
        <name>quitar30min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} -  (30/1440)</expression>
    </formulas>
    <formulas>
        <name>shortDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!CurrentEvent.Description}, 250)</expression>
    </formulas>
    <interviewLabel>CreateUpdateEventShadow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CreateUpdateEventShadow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_3_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 1 of Copy 1 of Copy 3 of Create Event ShadowWhenUpdate</label>
        <locationX>314</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Copy_3_of_UpdateOriginalEventWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>quitar30min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>12</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>quitar30min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cita__c</field>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_2_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 1 of Copy 2 of Create Event ShadowWhenUpdate</label>
        <locationX>754</locationX>
        <locationY>816</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_UpdateOriginalEventWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>22</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_3_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 1 of Copy 3 of Create Event ShadowWhenUpdate</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Copy_3_of_UpdateOriginalEventWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>12</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cita__c</field>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 1 of Create Event ShadowWhenUpdate</label>
        <locationX>3922</locationX>
        <locationY>600</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_UpdateOriginalEventWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 2 of Create Event ShadowWhenUpdate</label>
        <locationX>2074</locationX>
        <locationY>816</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_2_of_UpdateOriginalEventWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>44</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 3 of Create Event ShadowWhenUpdate</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getServiceTerritory</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>11</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cita__c</field>
            <value>
                <stringValue>Calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_Event_ShadowWhenUpdate</name>
        <label>Copy 4 of Create Event ShadowWhenUpdate</label>
        <locationX>1810</locationX>
        <locationY>816</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>32</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>quitar30min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cita__c</field>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateEventShadowWhenUpdate</name>
        <label>Create Event ShadowWhenUpdate</label>
        <locationX>1810</locationX>
        <locationY>708</locationY>
        <assignRecordIdToReference>ShadowEventCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_4_of_Create_Event_ShadowWhenUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendar__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <stringValue>33</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>shortDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventOrigin__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Shadow__c</object>
    </recordCreates>
    <recordLookups>
        <name>getServiceTerritory</name>
        <label>getServiceTerritory</label>
        <locationX>380</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>si_tiene_asesorXcal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_UpdateOriginalEventWhenUpdate</name>
        <label>Copy 1 of Copy 2 of UpdateOriginalEventWhenUpdate</label>
        <locationX>754</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>ShadowEventCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Event_Shadow</name>
        <label>Copy 1 of Update Event Shadow</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Event_Shadow__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateOriginalEventWhenUpdate</name>
        <label>Copy 1 of UpdateOriginalEventWhenUpdate</label>
        <locationX>3922</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>ShadowEventCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Event_Shadow</name>
        <label>Copy 2 of Update Event Shadow</label>
        <locationX>2866</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Event_Shadow__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_UpdateOriginalEventWhenUpdate</name>
        <label>Copy 2 of UpdateOriginalEventWhenUpdate</label>
        <locationX>2074</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>ShadowEventCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_UpdateOriginalEventWhenUpdate</name>
        <label>Copy 3 of UpdateOriginalEventWhenUpdate</label>
        <locationX>380</locationX>
        <locationY>1416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>ShadowEventCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEventShadow</name>
        <label>Update Event Shadow</label>
        <locationX>2602</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <stringValue>calendario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalEventId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Event_Shadow__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>3252</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Event</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>wait_a_minute</name>
            <connector>
                <targetReference>Copy_1_of_Current_Event</targetReference>
            </connector>
            <label>wait a minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>ShadowEventCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Shadow__c</objectType>
    </variables>
</Flow>
