force-app/main/default/flows/Crea_Propietario_de_Vehiculo_cuando_cambia_cuenta_de_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_valores_a_nuevo_propietario_vehiculo</name>
        <label>Asigna valores a nuevo propietario vehículo</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.FechaDeCambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hoy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.Vehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.UsuarioQueRealizaElCambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.NuevoPropietario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.UltimoPropietario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_propietario_del_vehiculo</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Hoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Crea Propietario de Vehículo cuando cambia cuenta de Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Propietario de Vehículo cuando cambia cuenta de Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_propietario_del_vehiculo</name>
        <label>Crea propietario del vehículo</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>PropietarioVehiculo</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asigna_valores_a_nuevo_propietario_vehiculo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PropietarioVehiculo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PropietarioDelVehiculo__c</objectType>
    </variables>
</Flow>
