force-app/main/default/flows/Crea_propietario_del_veh_culo_al_crear_el_asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>asigna_datos_de_propietario_del_veh_culo</name>
        <label>asigna datos de propietario del vehículo</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.Vehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.FechaDeCambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hoy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.NuevoPropietario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PropietarioVehiculo.UsuarioQueRealizaElCambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_propietario_del_veh_culo</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Hoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Crea propietario del vehículo al crear el asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea propietario del vehículo al crear el asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_propietario_del_veh_culo</name>
        <label>Crea propietario del vehículo</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>PropietarioVehiculo</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asigna_datos_de_propietario_del_veh_culo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PropietarioVehiculo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PropietarioDelVehiculo__c</objectType>
    </variables>
</Flow>
