force-app/main/default/flows/DeleveEventAndRelatedv1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>BMW_IFGetParentEvent</name>
        <label>IFGetParentEvent</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>DeleteCalendarEvent_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>BMW_ParentEventId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteParent_0</targetReference>
            </connector>
            <label>ParentEventId</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfCalendar</name>
        <label>IfCalendar</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCalendarEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOtherEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOtherCalendar</targetReference>
            </connector>
            <label>IfCalendarEvent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfParentActivity</name>
        <label>IfParentActivity</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetOtherEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfParentEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCalendarEvent.ParentActivity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentEvent</targetReference>
            </connector>
            <label>IfParentEvent</label>
        </rules>
    </decisions>
    <interviewLabel>DeleveEventAndRelatedv1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleveEventAndRelatedv1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteCalendar</name>
        <label>DeleteCalendar</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <inputReference>GetCalendarEvent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCalendarEvent_0</name>
        <label>DeleteCalendarEvent</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>GetCalendarEvent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCalendarEvent_0_0</name>
        <label>DeleteCalendarEvent</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputReference>GetCalendarEvent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOtherCalendar</name>
        <label>DeleteOtherCalendar</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>DeleteCalendar</targetReference>
        </connector>
        <inputReference>GetOtherEvent</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteParent_0</name>
        <label>DeleteParent</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>DeleteCalendarEvent_0</targetReference>
        </connector>
        <inputReference>GetParentEvent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCalendarEvent</name>
        <label>GetCalendarEvent</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfParentActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOtherEvent</name>
        <label>GetOtherEvent</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfCalendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentActivity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCalendarEvent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentEvent</name>
        <label>GetParentEvent</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BMW_IFGetParentEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCalendarEvent.ParentActivity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCalendarEvent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
