force-app/main/default/flows/Elimina_Reservas_cerrada_perdida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Asigna_producto_no_reservado</name>
        <label>Asigna producto no reservado</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ProductUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_productos_reservados.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUpdate.Producto_Reservado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductUpdate.OportunidadReserva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_productos_reservados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaprod_ids</name>
        <label>Asigna prod ids</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ProductsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_opportunity_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_opportunity_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProUpdate.Reservado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppProUpdate.ReservadoDesdeAqui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaOppPro</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppProUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_opportunity_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decide_si_hay_opp_products</name>
        <label>decide si hay opp products</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_actualiza_oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay_opp_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obten_productos_de_oportunidad_reservados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_opportunity_products</targetReference>
            </connector>
            <label>si hay opp products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_si_hay_productos_reservados</name>
        <label>Decide si hay productos reservados</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>actualiza_opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_productos_reservados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_productos_reservados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_productos_reservados</targetReference>
            </connector>
            <label>Si hay productos reservados</label>
        </rules>
    </decisions>
    <interviewLabel>Elimina Reservas, cerrada perdida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elimina Reservas, cerrada perdida</label>
    <loops>
        <name>Recorre_opportunity_products</name>
        <label>Recorre opportunity products</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Obten_productos_de_oportunidad_reservados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignaprod_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtiene_productos_reservados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_productos_reservados</name>
        <label>recorre productos reservados</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Obtiene_productos_reservados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_producto_no_reservado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_lista_de_productos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obten_productos_de_oportunidad_reservados</name>
        <label>Obten productos de oportunidad reservados</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decide_si_hay_opp_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reservado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_productos_reservados</name>
        <label>Obtiene productos reservados</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_si_hay_productos_reservados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductsIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producto_Reservado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OportunidadReserva__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_lista_de_productos</name>
        <label>Actualiza lista de productos</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>actualiza_opportunity_product</targetReference>
        </connector>
        <inputReference>ListProducts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_oportunidad</name>
        <label>actualiza oportunidad</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>Tiene_Vehiculos_Reservados__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehiculos_Reservados__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_opportunity_product</name>
        <label>actualiza opportunity product</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>actualiza_oportunidad</targetReference>
        </connector>
        <inputReference>ListaOppPro</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_actualiza_oportunidad</name>
        <label>Copy 1 of actualiza oportunidad</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Tiene_Vehiculos_Reservados__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehiculos_Reservados__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obten_productos_de_oportunidad_reservados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tiene_Vehiculos_Reservados__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListaOppPro</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OppProUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
