force-app/main/default/flows/EliminarShadowAlEliminar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>si_tiene_shadow_aqui</name>
        <label>si tiene shadow aqui</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_shadow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>busca_rpor_registro</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_eliminar_el_relacionado</targetReference>
            </connector>
            <label>si tiene shadow</label>
        </rules>
    </decisions>
    <decisions>
        <name>sitieneShadow</name>
        <label>sitieneShadow</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>busca_rpor_registro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getShadow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eliminar_el_relacionado</targetReference>
            </connector>
            <label>si tiene</label>
        </rules>
    </decisions>
    <description>este flujo elimina los shadow cuando se elimina una cita</description>
    <interviewLabel>EliminarShadowAlEliminar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EliminarShadowAlEliminar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Copy_2_of_eliminar_el_relacionado</name>
        <label>Copy 2 of eliminar el relacionado</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputReference>busca_rpor_registro</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>eliminar_el_relacionado</name>
        <label>eliminar el relacionado</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>getShadow</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>busca_rpor_registro</name>
        <label>busca rpor registro</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>si_tiene_shadow_aqui</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Shadow__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShadow</name>
        <label>getShadow</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sitieneShadow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalEventId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Shadow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getShadow</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
