force-app/main/default/flows/Email_nueva_OT_con_financiamiento_Altica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alertaNuevaOrdenTrabajoFinanciamientoEmail</name>
        <label>alertaNuevaOrdenTrabajoFinanciamientoEmail</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>correoCliente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>redmotorsEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_correo_empresarial</name>
        <label>Assign correo empresarial</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>correoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClienteAccount.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>alertaNuevaOrdenTrabajoFinanciamientoEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_correo_personal</name>
        <label>Assign correo personal</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>correoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClienteAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>alertaNuevaOrdenTrabajoFinanciamientoEmail</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>redmotorsEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>info@redmotorscr.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Email_personal_o_empresarial</name>
        <label>Email personal o empresarial</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No tiene email</defaultConnectorLabel>
        <rules>
            <name>Email_personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClienteAccount.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_correo_personal</targetReference>
            </connector>
            <label>Email personal</label>
        </rules>
        <rules>
            <name>Email_empresarial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClienteAccount.CorreoElectronicoEmpresarial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_correo_empresarial</targetReference>
            </connector>
            <label>Email empresarial</label>
        </rules>
    </decisions>
    <formulas>
        <name>oportunidadFinanURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!getOportunidadFinanciamiento.Id}</expression>
    </formulas>
    <formulas>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <expression>&apos;Financiamiento mantenimiento: &apos; + {!getClienteAccount.Name} + &apos; | &apos; + {!$Record.WorkOrderNumber}</expression>
    </formulas>
    <formulas>
        <name>workOrderURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!recordId}</expression>
    </formulas>
    <interviewLabel>Email nueva OT con financiamiento Altica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email nueva OT con financiamiento Altica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClienteAccount</name>
        <label>getClienteAccount</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOportunidadFinanciamiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOportunidadFinanciamiento</name>
        <label>getOportunidadFinanciamiento</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_personal_o_empresarial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nombre_Cliente_Altica__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Oportunidad_de_Financiamiento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClienteAccount</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Financiamiento_disponible_Altica__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;background-color:white;font-family:arial;border-collapse: collapse;width:100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; &gt;
    &lt;tr&gt;
        &lt;td align=&quot;center&quot;&gt;
        &lt;table style=&quot;width:600px;background-color:white;&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; &gt;
            &lt;tr&gt;
                &lt;td style=&quot;padding:10px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;border-bottom: 1px solid #2F7BB4&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style=&quot;border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;border-bottom: 1px solid #2F7BB4&quot;&gt;
                    &lt;table  style=&quot;background-color:#E5E6E6;width:100%;&quot;&gt;
                    &lt;tr&gt;
                        &lt;td style=&quot;text-align:left;background-color:#E5E6E6; padding: 45px; font-width:bold; font-size:20px;&quot;&gt;
                            Notificacion Orden de Trabajo Creada
                        &lt;/td&gt;
                        &lt;td style=&quot;text-align:center;background-color:#E5E6E6;&quot;&gt;&lt;img alt=&quot;logo&quot; src=&quot;https://redmotors--portalsp3.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;versionId=0685C000001RKnG&amp;operationContext=DELIVERY&amp;contentId=05T5C000005WsAt&amp;page=0&amp;d=/a/5C000000L7ZO/WNQzo8_Htgh3gVEBzlE7w2ebYcAqxmYljXfLkdzqcT0&amp;oid=00D5C0000008vIb&amp;dpt=null&amp;viewId=&quot; style=&quot;max-width: 676.207px; height:150px;&quot; title=&quot;logo&quot; /&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;/table&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style = &quot;border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;
                    &lt;table style=&quot;width:100%;background-color:#white;height:30px;&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot;  &gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Nueva orden de trabajo creada: &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;&amp;nbsp;&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Fecha de la transacción: {!$Record.Fecha_de_facturacion__c}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Identificación de cliente: {!getOportunidadFinanciamiento.Numero_de_Identificacion_Altica__c}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Nombre del cliente: {!getClienteAccount.Name}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Monto del financiamiento: {!getOportunidadFinanciamiento.Monto_a_Financiar_Altica__c}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Número OT: &lt;a href={!workOrderURL} rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.WorkOrderNumber}. &lt;/a&gt;&lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Nombre oportunidad de financiamiento: &lt;a href={!oportunidadFinanURL} rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!getOportunidadFinanciamiento.Name}.&lt;/a&gt;&lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Número operación Altica: {!getOportunidadFinanciamiento.Numero_Operacion_Altica__c}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td style=&quot;padding-left: 20px;&quot;&gt;
                                &lt;span&gt;Número operación SIFO: {!getOportunidadFinanciamiento.Numero_operacion_SIFO__c}. &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/table&gt;
                &lt;/td&gt;
            &lt;/tr&gt;

            &lt;tr&gt;
                &lt;td style=&quot;padding:5px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;

            &lt;tr&gt;
                &lt;td style=&quot;padding:25px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4; border-bottom: 1px solid #2F7BB4&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style=&quot;border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;border-bottom: 1px solid #2F7BB4&quot;&gt;
                    &lt;table style=&quot;background: #F4F4F4; width:100%;padding: 30px 50px;font-family: Arial, Helvetica, sans-serif;color:#333333&quot;&gt;
                        &lt;tr&gt;
                            &lt;td&gt;
                                &lt;img style=&quot;margin-right:20px;&quot; src=&quot;https://redmotors--portalsp3.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;versionId=0685C000001RKnB&amp;operationContext=DELIVERY&amp;contentId=05T5C000005WsAo&amp;page=0&amp;d=/a/5C000000L7ZJ/35Hxdlmz0jkCqqEpAP_zKGXZWeCC8ygi9u0Hb54BxyM&amp;oid=00D5C0000008vIb&amp;dpt=null&amp;viewId=&quot; width=&quot;200px&quot; /&gt;
                            &lt;/td&gt;
                            &lt;td style=&quot;width:750px;&quot;&gt;
                                &lt;span style=&quot;padding-left:23px;font-width:bold;font-size:17px;&quot;&gt;
                                    &lt;b&gt;RED MOTORS CR S.A. &lt;/b&gt;&lt;br/&gt;
                                    &lt;span style=&quot;font-size:10px;padding-left:25px;&quot;&gt; Oficina 401, Plaza Comercial Distrito Cuatro,&lt;br/&gt; &lt;/span&gt;
                                    &lt;span style=&quot;font-size:10px;padding-left:25px;&quot;&gt; Guachipelín, Escazú.&lt;br/&gt; &lt;/span&gt;
                                    &lt;span style=&quot;font-size:10px;padding-left:25px;&quot;&gt;
                                        &lt;b&gt;Tel.:&lt;/b&gt; (506) 0800-015 0756 &lt;br/&gt;
                                    &lt;/span&gt;
                                    &lt;span style=&quot;font-size:10px;padding-left:25px;&quot;&gt; www.bmw.co.cr &lt;br/&gt;
                                    &lt;/span&gt;
                                    &lt;span style=&quot;font-size:10px;padding-left:25px;&quot;&gt;
                                        &lt;b&gt;Apdo:&lt;/b&gt; 1341-1250 Escazú, San José, Costa Rica. &lt;br/&gt;
                                    &lt;/span&gt;
                                    
                                &lt;/span&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/table&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td style=&quot;padding:25px; border-left: 1px solid #2F7BB4;border-right: 1px solid #2F7BB4;&quot;&gt;&amp;nbsp;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
    &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>correoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
