force-app/main/default/flows/EventUpdateAsesor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IfCalendario</name>
        <label>IfCalendario</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ifeventcalendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Iscalendar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asesor__r.Iscalendar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsesorxCalendario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCalendarEvent_0</targetReference>
            </connector>
            <label>Ifeventcalendario</label>
        </rules>
        <rules>
            <name>Ifeventasesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsAsesor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsesorxCalendario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCalendarEvent_0_0</targetReference>
            </connector>
            <label>Ifeventasesor</label>
        </rules>
        <rules>
            <name>IfAsignaCitas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsAsignaCitas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsesorxCalendario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCalendarEvent_0_0_0</targetReference>
            </connector>
            <label>IfAsignaCitas</label>
        </rules>
        <rules>
            <name>IfEventyAsesorCalendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asesor__r.Iscalendar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceTerritory</targetReference>
            </connector>
            <label>IfEventyAsesorCalendario</label>
        </rules>
    </decisions>
    <description>Sin Mecanica 2 + asesor</description>
    <interviewLabel>EventUpdateAsesor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventUpdateAsesor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCalendarEvent_0</name>
        <label>CreateCalendarEvent</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateRecordCambioAsesor_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCalendarEvent_0_0</name>
        <label>CreateCalendarEvent</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateRecordCambioAsesor_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCalendarEvent_0_0_0</name>
        <label>CreateCalendarEvent</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateRecordCambioAsesor_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAsesorxCalendario</name>
        <label>GetAsesorxCalendario</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfCalendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendario__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0054U00000BfksuQAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceTerritory</name>
        <label>GetServiceTerritory</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRecordCambioAsesor_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecordCambioAsesor_0</name>
        <label>UpdateRecordCambioAsesor</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordCambioAsesor_0_0</name>
        <label>UpdateRecordCambioAsesor</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordCambioAsesor_0_0_0</name>
        <label>UpdateRecordCambioAsesor</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetAsesorxCalendario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordCambioAsesor_0_0_0_0</name>
        <label>UpdateRecordCambioAsesor</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetServiceTerritory.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>GetServiceTerritory.Calendario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAsesorxCalendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedByFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asesor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UpdatedByFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
