force-app/main/default/flows/FlowDescuentoQuoteLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AsignarBuscadas</name>
        <label>AsignarBuscadas</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuolisBuscados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tablaquotelineitems.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>QuolisUpdate</label>
        <locationX>622</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>QuolisUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuolis.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuotesActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuolis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_AsignarBuscadas</name>
        <label>Copy 2 of AsignarBuscadas</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuolisBuscados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TableMaterials.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_CurrentUpdate</name>
        <label>Copy 2 of CurrentUpdate</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>LoopQuolisSeleccionados.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescuentoConvertido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_QuolisUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_QuolisUpdate</name>
        <label>Copy 2 of QuolisUpdate</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>QuolisUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuolis.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuotesActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuolisSeleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_AsignarBuscadas</name>
        <label>Copy 3 of AsignarBuscadas</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuolisBuscados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TableMaterials.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentUpdate</name>
        <label>CurrentUpdate</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>LoopQuolis.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescuentoConvertido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Art_culos</name>
        <choiceText>Artículos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artículos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mano_de_obra</name>
        <choiceText>Mano de obra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mano de obra</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_l_nea</name>
        <choiceText>Por línea</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por línea</stringValue>
        </value>
    </choices>
    <choices>
        <name>Presupuesto_completo</name>
        <choiceText>Presupuesto completo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presupuesto completo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If</name>
        <label>If</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>LoopQuolisSeleccionados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Presupuesto_completo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuolis</targetReference>
            </connector>
            <label>IfCompleto</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifdes</name>
        <label>ifdesc</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>If</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Desseleccionadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Por_l_nea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarBuscadas</targetReference>
            </connector>
            <label>Desseleccionadas</label>
        </rules>
        <rules>
            <name>desmater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Art_culos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_AsignarBuscadas</targetReference>
            </connector>
            <label>desmater</label>
        </rules>
        <rules>
            <name>desmanode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mano_de_obra</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_AsignarBuscadas</targetReference>
            </connector>
            <label>desmanode</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFdescuento</name>
        <label>IFdescuento</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ifdes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Descuento_mayor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DescuentoMayorQueUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Descuento mayor</label>
        </rules>
    </decisions>
    <formulas>
        <name>DescuentoConvertido</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Descuento_d})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DescuentoMayorQueUser</name>
        <dataType>Boolean</dataType>
        <expression>VALUE({!Descuento_d}) &gt; {!$User.Descuento_aprobado__c}</expression>
    </formulas>
    <interviewLabel>FlowDescuentoQuoteLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowDescuentoQuoteLineItems</label>
    <loops>
        <name>LoopQuolis</name>
        <label>LoopQuolis</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <collectionReference>GetQuolis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateQuolis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuolisSeleccionados</name>
        <label>LoopQuolisSeleccionados</label>
        <locationX>886</locationX>
        <locationY>1082</locationY>
        <collectionReference>QuolisBuscados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_CurrentUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_UpdateQuolis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_GetQuolis</name>
        <label>Copy 1 of GetQuolis</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_GetQuolis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMW_TipoDeArticulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mano de Obra</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_GetQuolis</name>
        <label>Copy 2 of GetQuolis</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Descuento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BMW_TipoDeArticulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Materiales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuolis</name>
        <label>GetQuolis</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_GetQuolis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_UpdateQuolis</name>
        <label>Copy 2 of UpdateQuolis</label>
        <locationX>886</locationX>
        <locationY>1490</locationY>
        <inputReference>QuotesActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuolis</name>
        <label>UpdateQuolis</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <inputReference>QuotesActualizar</inputReference>
    </recordUpdates>
    <screens>
        <name>Descuento</name>
        <label>Descuento</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IFdescuento</targetReference>
        </connector>
        <fields>
            <name>Desea_agregar_descuento_a</name>
            <choiceReferences>Presupuesto_completo</choiceReferences>
            <choiceReferences>Por_l_nea</choiceReferences>
            <choiceReferences>Art_culos</choiceReferences>
            <choiceReferences>Mano_de_obra</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desea agregar descuento a:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Descuento_d</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Descuento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tablaquotelineitems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lineas del presupuesto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetQuolis</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;nombreProducto__c&quot;,&quot;guid&quot;:&quot;column-d7c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;nombreProducto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-b475&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Por_l_nea</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TableManoObra</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lineas de Mano de Obra</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_1_of_GetQuolis</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;nombreProducto__c&quot;,&quot;guid&quot;:&quot;column-c2c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;nombreProducto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-3dcb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mano_de_obra</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TableMaterials</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lineas de Artículos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_GetQuolis</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;nombreProducto__c&quot;,&quot;guid&quot;:&quot;column-edf8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;nombreProducto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-2c4d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Desea_agregar_descuento_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Art_culos</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Descuento</targetReference>
        </connector>
        <fields>
            <name>DescuentoMayor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 13, 13);&quot;&gt;El descuento es mayor al aprobado para este usuario. Modifique el descuento o solicite a su superior que agregue el descuento.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;El descuento aprobado para su usuario es de: {!$User.Descuento_aprobado__c}%&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuolis</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuolisBuscados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuolisUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuotesActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
