force-app/main/default/flows/Gasto_Exento_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>asigna_woli</name>
        <label>asigna woli</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NuevoWoli.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtiene_pbe.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PrecioCliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.ImpuestoReal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.ImpuestoMonto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.Impuesto2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevoWoli.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtiene_producto_exento.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crea_woli</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TipoSub</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ExentoDeImpuestos__c},&apos;SUBEX&apos;,&apos;SUB&apos;)</expression>
    </formulas>
    <interviewLabel>Gasto Exento Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gasto Exento Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crea_woli</name>
        <label>crea woli</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>elimina_woli_viejo</targetReference>
        </connector>
        <inputReference>NuevoWoli</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>elimina_woli_viejo</name>
        <label>elimina woli viejo</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputReference>obtiene_woli_related</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>obtiene_pbe</name>
        <label>obtiene pbe</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asigna_woli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtiene_producto_exento.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_producto_exento</name>
        <label>obtiene producto exento</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtiene_pbe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_de_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoSub</elementReference>
            </value>
        </filters>
        <filters>
            <field>Empresa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtiene_woli_related.WorkOrder.empresaFactura__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_woli_related</name>
        <label>obtiene woli related</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtiene_producto_exento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>NuevoWoli.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtiene_woli_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExentoDeImpuestos__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Expense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NuevoWoli</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
