force-app/main/default/flows/Importar_Recomendaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>asigna_asset_ids</name>
        <label>asigna asset ids</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>WoIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_work_order_related.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_work_order_related</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_ids_con_archivo_lineas</name>
        <label>asigna ids con archivo lineas</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>woIdsConLineas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_archivo_lineas_rechazadas.Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woNameConLineas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_archivo_lineas_rechazadas.Work_Order__r.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_archivo_lineas_rechazadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_lineas_seleccionadas_ids</name>
        <label>asigna lineas seleccionadas ids</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>IdsLineasSeleccionadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_lineas_seleccionadas.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdsProductosSeleccionados</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_lineas_seleccionadas.Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_lineas_seleccionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_woli</name>
        <label>asigna woli</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>WOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_price_book_entry_select.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_lineas_seleccionadas2.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorre_lineas_seleccionadas2.Descuento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListWOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_price_book_entry_select</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>pricebookentryselect</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>pricebookentryselect</label>
        <locationX>226</locationX>
        <locationY>2222</locationY>
        <assignNextValueToReference>currentItem_pricebookentryselect</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>obtiene_pricebook_entrys</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_pricebookentryselect.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>recorre_lineas_seleccionadas2.Product__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>recorre_price_book_entry_select</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decide_si_hay_archivo_lineas_rechazadas</name>
        <label>decide si hay archivo lineas rechazadas</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>No_hay_recomendaciones2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay_archivo_lineas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_archivo_lineas_rechazadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_archivo_lineas_rechazadas</targetReference>
            </connector>
            <label>si hay archivo lineas</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_si_hay_work_order_related</name>
        <label>decide si hay work order related</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_hay_recomendaciones1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Related_to_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_work_order_related</targetReference>
            </connector>
            <label>si hay</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Orden</name>
        <collectionReference>GetWorkOrderConLineas</collectionReference>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <object>WorkOrder</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Importar Recomendaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Importar Recomendaciones</label>
    <loops>
        <name>recorre_archivo_lineas_rechazadas</name>
        <label>recorre archivo lineas rechazadas</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>get_archivo_lineas_rechazadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_ids_con_archivo_lineas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetWorkOrderConLineas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_lineas_seleccionadas</name>
        <label>recorre lineas seleccionadas</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <collectionReference>Obtiene_Lineas_relacionadas_a_la_orden_seleccionada</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_lineas_seleccionadas_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lineas_Recomendadas_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_lineas_seleccionadas2</name>
        <label>recorre lineas seleccionadas</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <collectionReference>Obtiene_Lineas_relacionadas_a_la_orden_seleccionada</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pricebookentryselect</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_Woli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_price_book_entry_select</name>
        <label>recorre price book entry select</label>
        <locationX>226</locationX>
        <locationY>2330</locationY>
        <collectionReference>pricebookentryselect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_woli</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>recorre_lineas_seleccionadas2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_work_order_related</name>
        <label>recorre work order related</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Work_Order_Related_to_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asigna_asset_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_archivo_lineas_rechazadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Woli</name>
        <label>Crea Woli</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Delete_Lineas_Seleccionadas</targetReference>
        </connector>
        <inputReference>ListWOLI</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Lineas_Seleccionadas</name>
        <label>Delete Lineas Seleccionadas</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <inputReference>Obtiene_Lineas_relacionadas_a_la_orden_seleccionada</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_archivo_lineas_rechazadas</name>
        <label>get archivo lineas rechazadas</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decide_si_hay_archivo_lineas_rechazadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WoIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivo_lineas_rechazadas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Related_to_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Related_to_Asset</name>
        <label>Get Work Order Related to Asset</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decide_si_hay_work_order_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderConLineas</name>
        <label>Get Work Order con lineas</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selecciona_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>woIdsConLineas</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Lineas_relacionadas_a_la_orden_seleccionada</name>
        <label>Obtiene Lineas relacionadas a la orden seleccionada</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_lineas_seleccionadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Orden_de_Trabajo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivo_lineas_rechazadas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_pricebook_entrys</name>
        <label>obtiene pricebook entrys</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_lineas_seleccionadas2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IdsProductosSeleccionados</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Lineas_Recomendadas_Screen</name>
        <label>Lineas Recomendadas Screen</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>obtiene_pricebook_entrys</targetReference>
        </connector>
        <fields>
            <name>LineasRecomendadas</name>
            <fieldText>&lt;p&gt;Lineas Recomendadas relacionadas a la Orden de Trabajo {!Orden_de_Trabajo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineasRecomendadasTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>IdsLineasSeleccionadas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Archivo_lineas_rechazadas__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,Alias__c,Codigo_producto__c,Precio__c,Cantidad__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_hay_recomendaciones1</name>
        <label>No hay recomendaciones1</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoHayRecomendacionesTexto1</name>
            <fieldText>&lt;p&gt;No hay recomendaciones disponibles.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_hay_recomendaciones2</name>
        <label>No hay recomendaciones2</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_NoHayRecomendacionesTexto1</name>
            <fieldText>&lt;p&gt;No hay recomendaciones disponibles.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecciona_Work_Order</name>
        <label>Selecciona Work Order</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtiene_Lineas_relacionadas_a_la_orden_seleccionada</targetReference>
        </connector>
        <fields>
            <name>SeleccionaWorkOrder</name>
            <fieldText>&lt;p&gt;Selecciona la Order de Trabajo de la que desea importar las recomendaciones.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Orden_de_Trabajo</name>
            <choiceReferences>Orden</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Orden de Trabajo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_pricebookentryselect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>IdsLineasSeleccionadas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsProductosSeleccionados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woIdsConLineas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>woNameConLineas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
