force-app/main/default/flows/Llena_Porcentaje_de_Usados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asigna_Bavarian_Dolar_por_default</name>
        <label>Asigna Bavarian Dolar por default</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Dólar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_price_book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_BD</name>
        <label>Asigna BD</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Dólar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Bavarian_Dolar_por_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_BL</name>
        <label>Asigna BL</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Bavarian_Dolar_por_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_OD</name>
        <label>Asigna OD</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Dólares</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Bavarian_Dolar_por_default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_OL</name>
        <label>Asigna OL</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_Bavarian_Dolar_por_default</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determina_price_book_name</name>
        <label>Determina price book name</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Asigna_Bavarian_Dolar_por_default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bavarian_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMBAVARIAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_BD</targetReference>
            </connector>
            <label>Bavarian Dolar</label>
        </rules>
        <rules>
            <name>Bavarian_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMBAVARIAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_BL</targetReference>
            </connector>
            <label>Bavarian Local</label>
        </rules>
        <rules>
            <name>Otobai_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMOTOBAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_OD</targetReference>
            </connector>
            <label>Otobai Dolar</label>
        </rules>
        <rules>
            <name>Otobai_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Empresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMOTOBAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_OL</targetReference>
            </connector>
            <label>Otobai Local</label>
        </rules>
    </decisions>
    <formulas>
        <name>GerenteMontoDescuento</name>
        <dataType>Number</dataType>
        <expression>({!$Record.VN_Precio_Venta_Fantasia_FX__c}/100)*{!Get_price_book_entry.Gerente__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>JefeMontoDescuento</name>
        <dataType>Number</dataType>
        <expression>({!$Record.VN_Precio_Venta_Fantasia_FX__c}/100)*{!Get_price_book_entry.Jefe__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VendedorMontoDescuento</name>
        <dataType>Number</dataType>
        <expression>({!$Record.VN_Precio_Venta_Fantasia_FX__c}/100)*{!Get_price_book_entry.Vendedor__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Llena Porcentaje de Usados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Llena Porcentaje de Usados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_price_book</name>
        <label>get price book</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_price_book_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>obtiene price book entry relacionado al producto</description>
        <name>Get_price_book_entry</name>
        <label>Get price book entry</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_opp_prod_actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_price_book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_opp_prod_actual</name>
        <label>Actualiza opp prod actual</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Comision_Gerente__c</field>
            <value>
                <elementReference>GerenteMontoDescuento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comision_Jefe__c</field>
            <value>
                <elementReference>JefeMontoDescuento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comision_Vendedor__c</field>
            <value>
                <elementReference>VendedorMontoDescuento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescuentoGerenteUsados__c</field>
            <value>
                <elementReference>Get_price_book_entry.Gerente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescuentoJefeUsados__c</field>
            <value>
                <elementReference>Get_price_book_entry.Jefe__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescuentoVendedorUsado__c</field>
            <value>
                <elementReference>Get_price_book_entry.Vendedor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrecioUsados__c</field>
            <value>
                <elementReference>Get_price_book_entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determina_price_book_name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_de_la_Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autos usados</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_de_la_Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Motos usados</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
