force-app/main/default/flows/Mismo_correo_para_facturacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>revisa_si_el_campo_fue_modificado</name>
        <label>revisa si el campo fue modificado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_revisa_si_el_campo_fue_modificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mismo_correo_para_facturaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>valida_si_el_correo_no_es_nulo</targetReference>
            </connector>
            <label>Outcome 1 of revisa si el campo fue modificado</label>
        </rules>
        <rules>
            <name>se_cambio_a_falso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mismo_correo_para_facturaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>se_quita_el_correo_de_fact</targetReference>
            </connector>
            <label>se cambio a falso</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_correo</name>
        <label>tiene correo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_hay_correo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_juridcio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CorreoElectronicoEmpresarial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>facturacion_juridico</targetReference>
            </connector>
            <label>si tiene juridcio</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_correo_personal</name>
        <label>tiene correo personal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_hay_correo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene_personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>facturacion_personal</targetReference>
            </connector>
            <label>si tiene personal</label>
        </rules>
    </decisions>
    <decisions>
        <name>valida_si_el_correo_no_es_nulo</name>
        <label>valida si el correo no es nulo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_juridica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tiene_correo</targetReference>
            </connector>
            <label>es juridica</label>
        </rules>
        <rules>
            <name>es_personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tiene_correo_personal</targetReference>
            </connector>
            <label>es personal</label>
        </rules>
    </decisions>
    <interviewLabel>Mismo correo para facturacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mismo correo para facturacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>facturacion_juridico</name>
        <label>facturacion juridico</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_Email__c</field>
            <value>
                <elementReference>$Record.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>facturacion_personal</name>
        <label>facturacion personal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_Email__c</field>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>se_quita_el_correo_de_fact</name>
        <label>se quita el correo de fact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_Email__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>revisa_si_el_campo_fue_modificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mismo_correo_para_facturaci_n__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
