force-app/main/default/flows/modificarDescuentos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>agregar_el_producto</name>
        <label>agregar el producto</label>
        <locationX>149</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>manoObraDescuento</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>obtener_producto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relacionar_Mano</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarAsesor</name>
        <label>asignarAsesor</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_actualizarMano</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarGerente</name>
        <label>asignarGerente</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gerente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarJefe</name>
        <label>asignarJefe</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_agregar_el_producto</name>
        <label>Copy 1 of agregar el producto</label>
        <locationX>1117</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>productoDescuento</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>obtener_producto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relacionar_producto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asignarAsesor</name>
        <label>Copy 1 of asignarAsesor</label>
        <locationX>1546</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asesor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_actualizarProd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asignarGerente</name>
        <label>Copy 1 of asignarGerente</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gerente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decision_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asignarJefe</name>
        <label>Copy 1 of asignarJefe</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>personaMano</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decision_9</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Decision_9</name>
        <label>Copy 1 of Decision 9</label>
        <locationX>1249</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>actualizarProducto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Outcome_1_of_Decision_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personaMano</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_agregar_el_producto</targetReference>
            </connector>
            <label>Copy 1 of Outcome 1 of Decision 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_esMayorAsesor</name>
        <label>Copy 1 of esMayorAsesor</label>
        <locationX>1678</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Decision_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_mayorAsesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Asesor_de_Repuestos__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_asignarAsesor</targetReference>
            </connector>
            <label>Copy 1 of mayorAsesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_esMayorGeretnte</name>
        <label>Copy 1 of esMayorGeretnte</label>
        <locationX>1249</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_esMayorJefe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_mayor_gerente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Gerente_repuesto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_asignarGerente</targetReference>
            </connector>
            <label>Copy 1 of mayor gerente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_esMayorJefe</name>
        <label>Copy 1 of esMayorJefe</label>
        <locationX>1480</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_esMayorAsesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_mayor_jefeq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Jefe_de_Repuesto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_asignarJefe</targetReference>
            </connector>
            <label>Copy 1 of mayor jefeq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_9</name>
        <label>Decision 9</label>
        <locationX>281</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>actualizarMano</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personaMano</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agregar_el_producto</targetReference>
            </connector>
            <label>Outcome 1 of Decision 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>descuentosActivos</name>
        <label>descuentosActivos</label>
        <locationX>1375</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>si_esta_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTerritory.Descuentos_Activados__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toipo_de</targetReference>
            </connector>
            <label>si esta activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>esMayorAsesor</name>
        <label>esMayorAsesor</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Decision_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>mayorAsesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Asesor_de_Servicio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarAsesor</targetReference>
            </connector>
            <label>mayorAsesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>esMayorGeretnte</name>
        <label>esMayorGeretnte</label>
        <locationX>281</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>esMayorJefe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>mayor_gerente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Gerente__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarGerente</targetReference>
            </connector>
            <label>mayor gerente</label>
        </rules>
    </decisions>
    <decisions>
        <name>esMayorJefe</name>
        <label>esMayorJefe</label>
        <locationX>512</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>esMayorAsesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>mayor_jefeq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>serviceTerritory.Jefe_de_Sucursal__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarJefe</targetReference>
            </connector>
            <label>mayor jefeq</label>
        </rules>
    </decisions>
    <decisions>
        <name>se_actualizo</name>
        <label>se actualizo</label>
        <locationX>1812</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>se_actualizo_el_procentaje</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.porcentajeDescuento__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.creadaPresupuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_producto</targetReference>
            </connector>
            <label>se actualizo el procentaje</label>
        </rules>
    </decisions>
    <decisions>
        <name>toipo_de</name>
        <label>toipo de producto</label>
        <locationX>765</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_esMayorGeretnte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_Mano_de_obra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.tipoProducto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mano de Obra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>esMayorGeretnte</targetReference>
            </connector>
            <label>es Mano de obra</label>
        </rules>
    </decisions>
    <description>nueva version con sv</description>
    <interviewLabel>modificarDescuentos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>modificarDescuentos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_producto</name>
        <label>obtener producto</label>
        <locationX>1375</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>serviceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>serviceTerritory</name>
        <label>serviceTerritory</label>
        <locationX>1375</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>descuentosActivos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizarMano</name>
        <label>actualizarMano</label>
        <locationX>281</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>Nivel_de_aprobaci_n_descuento_para_MO__c</field>
            <value>
                <elementReference>personaMano</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualizarProducto</name>
        <label>actualizarProducto</label>
        <locationX>1249</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>Nivel_de_aprobaci_n_descuento_para_art_c__c</field>
            <value>
                <elementReference>personaMano</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_actualizarMano</name>
        <label>Copy 1 of actualizarMano</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado_de_aprobaci_n_descuento_MO__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_actualizarProd</name>
        <label>Copy 1 of Copy 1 of actualizarProd</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Decision_9</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado_de_aprobaci_n_descuento__c</field>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>relacionar_Mano</name>
        <label>relacionar Mano</label>
        <locationX>149</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>actualizarMano</targetReference>
        </connector>
        <inputAssignments>
            <field>Work_Order_Mano__c</field>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>relacionar_producto</name>
        <label>elacionar Producto</label>
        <locationX>1117</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>actualizarProducto</targetReference>
        </connector>
        <inputAssignments>
            <field>Work_Order_Productos__c</field>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1686</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>se_actualizo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>porcentajeDescuento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>manoObraDescuento</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personaMano</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productoDescuento</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
