force-app/main/default/flows/Opp_flow_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asigna_Bavarial_Local</name>
        <label>Asigna Bavarial Local</label>
        <locationX>858</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_PriceBook_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Bavarian_Dolar</name>
        <label>Asigna Bavarian Dolar</label>
        <locationX>1122</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bavarian Dólar</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_PriceBook_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_campa_a_aseguradora</name>
        <label>Asigna campaña aseguradora</label>
        <locationX>726</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>CampaniaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Campa_a_Aseguradora.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AseguradoraId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aseguradora0.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipodeCliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Oto_Local</name>
        <label>Asigna Oto Local</label>
        <locationX>330</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Local</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_PriceBook_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Otobai_Dolar</name>
        <label>Asigna Otobai Dolar</label>
        <locationX>594</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>PriceBookName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otobai Dólares</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_PriceBook_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar</name>
        <label>Asignar</label>
        <locationX>462</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>ReccordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012PH000008zEZKYA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFSucursal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_info_Asset</name>
        <label>Asignar info Asset</label>
        <locationX>858</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>AssetNumeroPlaca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNumeroVin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.NumeroDeChasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMarca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetModelo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.modelo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAnno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Anio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCodigoSoftland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.codigoSoftland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreoEmpresarial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.AssetWarrantyNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyTerm.WarrantyTermName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyEfectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyTerm.EffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarantyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_info_Asset_0</name>
        <label>Asignar info Asset</label>
        <locationX>858</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>AssetNumeroPlaca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNumeroVin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.NumeroDeChasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMarca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetModelo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.modelo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAnno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Anio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCodigoSoftland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.codigoSoftland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreoEmpresarial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifEmpresa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>858</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAssetCreado</name>
        <label>AsignarAssetCreado</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCargoInterno</name>
        <label>AsignarCargoInterno</label>
        <locationX>594</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>CargoInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CentrodeCosto2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarContactoCuentaFacturacionBuscados</name>
        <label>AsignarContactoCuentaFacturacionBuscados</label>
        <locationX>858</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>Asset_0_0.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookUpContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarEmpleado</name>
        <label>AsignarEmpleado</label>
        <locationX>858</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>AsignarEmpleadoValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarVariablesUsuario</name>
        <label>AsignarVariablesUsuario</label>
        <locationX>858</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>SucursalUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Sucursal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TipoOppUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Tipo_de_oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmpresaUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Empresa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Veh_culo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignTestVariable1</name>
        <label>AsignTestVariable1</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>TestVariable1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehiculo.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignTestVariable2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignTestVariable2</name>
        <label>AsignTestVariable2</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TestVariable2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetVIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesitionCampo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CentrodeCosto2</name>
        <label>CentrodeCosto2</label>
        <locationX>594</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>CentroCostoAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Centrodecosto.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Coloca_PB_en_Quote</name>
        <label>Coloca PB en Quote</label>
        <locationX>726</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>BMW_ObtenerPresupuesto.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_PriceBook_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_PB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Asignar</name>
        <label>Copy 1 of Copy 2 of Asignar</label>
        <locationX>1254</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>ReccordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124U00000111OTQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_Tipo_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Asignar</name>
        <label>Copy 2 of Asignar</label>
        <locationX>990</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>ReccordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124U00000111OTQAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_Tipo_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_SetServiceTerritory</name>
        <label>Copy 2 of Copy 1 of SetServiceTerritory</label>
        <locationX>726</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Copy_1_of_GetServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_Tipo_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_SetServiceTerritory</name>
        <label>Copy 2 of SetServiceTerritory</label>
        <locationX>462</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_GetServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Que_Tipo_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmpresaAsignar</name>
        <label>EmpresaAsignar</label>
        <locationX>726</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>EmpresaUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Empresa0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iftipoOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetServiceTerritory</name>
        <label>SetServiceTerritory</label>
        <locationX>198</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryBuscado</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Que_Tipo_Oportunidad</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aseguradora</name>
        <choiceText>Aseguradora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aseguradora</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bavarian</name>
        <choiceText>Bavarian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bavarian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario</name>
        <choiceText>Calendario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Escaz_Mec_nica_R_pida</name>
        <choiceText>Calendario Escazú - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Escazú - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pavas_Diagn_stico</name>
        <choiceText>Calendario Motorrad - Diagnóstico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Motorrad - Diagnóstico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pavas_Mec_nica_R_pida</name>
        <choiceText>Calendario Motorrad - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Motorrad - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pinares_Mec_nica_R_pida</name>
        <choiceText>Calendario Pinares - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Pinares - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Diagn_stico</name>
        <choiceText>Calendario Uruca - Diagnóstico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Diagnóstico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Enderezado_y_Pintura</name>
        <choiceText>Calendario Uruca - Enderezado y Pintura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Enderezado y Pintura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Mec_nica_R_pida</name>
        <choiceText>Calendario Uruca - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Colones</name>
        <choiceText>Colones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Comercial</name>
        <choiceText>Comercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correo</name>
        <choiceText>Correo electrónico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correo electrónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dolares</name>
        <choiceText>Dólares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Empleado</name>
        <choiceText>Empleado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empleado</stringValue>
        </value>
    </choices>
    <choices>
        <name>FormularioWeb</name>
        <choiceText>Formulario Web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Formulario Web</stringValue>
        </value>
    </choices>
    <choices>
        <name>Interno</name>
        <choiceText>Interno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interno</stringValue>
        </value>
    </choices>
    <choices>
        <name>LlamadaTelefonica</name>
        <choiceText>Llamada telefónica</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mostrador</name>
        <choiceText>Mostrador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mostrador</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>orig</name>
        <choiceText>orig</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>orig</stringValue>
        </value>
    </choices>
    <choices>
        <name>Otobai</name>
        <choiceText>Otobai</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otobai</stringValue>
        </value>
    </choices>
    <choices>
        <name>Presencial</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Presencial&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presencial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Taller</name>
        <choiceText>Taller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Taller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whatsapp</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Whatsapp&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whatsapp</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Que_Tipo_de_Oportunidad</name>
        <label>Copy 1 of Que Tipo de Oportunidad</label>
        <locationX>858</locationX>
        <locationY>6134</locationY>
        <defaultConnector>
            <targetReference>Presupuesto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Aeeguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aseguradora</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualiza_opp</targetReference>
            </connector>
            <label>Copy 1 of Aeeguradora</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_Empresa</name>
        <label>Cuenta Empresa</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Crear_Nueva_Cuenta_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_de_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_Empresarial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Nueva_Cuenta</targetReference>
            </connector>
            <label>Cuenta de Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesitionCampo</name>
        <label>DesitionCampo</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Asignar_info_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehiculo.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_0_0_0_0</targetReference>
            </connector>
            <label>Outcome1</label>
        </rules>
        <rules>
            <name>Outcom2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetVIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Outcom2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encuentra_Price_Book</name>
        <label>Encuentra Price Book</label>
        <locationX>858</locationX>
        <locationY>5210</locationY>
        <defaultConnector>
            <targetReference>Obtener_PriceBook_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Otobai_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otobai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Oto_Local</targetReference>
            </connector>
            <label>Otobai Local</label>
        </rules>
        <rules>
            <name>Otobai_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otobai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Otobai_Dolar</targetReference>
            </connector>
            <label>Otobai Dolar</label>
        </rules>
        <rules>
            <name>Bavarian_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bavarian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Bavarial_Local</targetReference>
            </connector>
            <label>Bavarian Local</label>
        </rules>
        <rules>
            <name>Bavarian_Dolar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Opportunity.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bavarian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Bavarian_Dolar</targetReference>
            </connector>
            <label>Bavarian Dolar</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifEmpresa</name>
        <label>ifEmpresa</label>
        <locationX>858</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>iftipoOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_ifEmpresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmpresaUsuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmpresaAsignar</targetReference>
            </connector>
            <label>Outcome 1 of ifEmpresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFSucursal</name>
        <label>IFSucursal</label>
        <locationX>462</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_GetServiceTerritory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uruca_Motorrad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SucursalUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruca Motorrad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceTerritory</targetReference>
            </connector>
            <label>Uruca Motorrad</label>
        </rules>
        <rules>
            <name>Uruca_Otras_Marcas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SucursalUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruca Otras Marcas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_GetServiceTerritory</targetReference>
            </connector>
            <label>Uruca Otras Marcas</label>
        </rules>
    </decisions>
    <decisions>
        <name>iftipoOportunidad</name>
        <label>iftipoOportunidad</label>
        <locationX>858</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Asignar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TipoOportunidad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TipoOppUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mostrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mostrador</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar</targetReference>
            </connector>
            <label>TipoOportunidad</label>
        </rules>
        <rules>
            <name>Tipo</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>TipoOppUsuario</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mostrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Taller</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aseguradora</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Asignar</targetReference>
            </connector>
            <label>Tipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_existe_vehiculo</name>
        <label>No existe vehiculo</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AsignTestVariable1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vehiculo_no_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Veh_culo</targetReference>
            </connector>
            <label>vehiculo no existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nueva_Cuenta</name>
        <label>Nueva Cuenta</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Crear_Vehiculo_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_existe_Cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_Empresa</targetReference>
            </connector>
            <label>Cuenta Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Book_vac_o</name>
        <label>Price Book vacío</label>
        <locationX>858</locationX>
        <locationY>5618</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Que_Tipo_de_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vacio_Presupuesto_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMW_ObtenerPresupuesto.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coloca_PB_en_Quote</targetReference>
            </connector>
            <label>Vacio Presupuesto PB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_Tipo_Oportunidad</name>
        <label>Que Tipo de Oportunidad</label>
        <locationX>858</locationX>
        <locationY>4070</locationY>
        <defaultConnector>
            <targetReference>TipodeCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aeeguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aseguradora</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtiene_Campa_a_Aseguradora</targetReference>
            </connector>
            <label>Aeeguradora</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipodeCliente</name>
        <label>TipodeCliente</label>
        <locationX>858</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>CreateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TipoInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Interno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarCargoInterno</targetReference>
            </connector>
            <label>TipoInterno</label>
        </rules>
        <rules>
            <name>TipoEmpleado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Empleado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarEmpleado</targetReference>
            </connector>
            <label>TipoEmpleado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VinExiste</name>
        <label>VinExiste</label>
        <locationX>347</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Nueva_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ExisteVIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVehiculo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExisteVIN2</targetReference>
            </connector>
            <label>ExisteVIN</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipocuenta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SobjectType</picklistField>
        <picklistObject>RecordType</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TimeCitaLoopNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE( MID( TEXT( {!DateTimeCitaLoop}), 12, 2 ) )-6</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TodayPlus15Days</name>
        <dataType>Date</dataType>
        <expression>Today() + 15</expression>
    </formulas>
    <interviewLabel>Opp flow V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp flow V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Nueva_Cuenta</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Vehiculo_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorreoElectronicoEmpresarial__c</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombre_de_la_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqmZQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nueva_Cuenta_0</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Vehiculo_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqoLQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Vehiculo_0</name>
        <label>Crear Vehiculo</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>IdVehiculoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Asset_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anio__c</field>
            <value>
                <elementReference>A_o2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometros__c</field>
            <value>
                <elementReference>Kilometros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor__c</field>
            <value>
                <elementReference>Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroDeChasis__c</field>
            <value>
                <elementReference>N_mero_de_Chasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>marca__c</field>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>modelo__c</field>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>numeroDePlaca__c</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Vehiculo_0_0</name>
        <label>Crear Vehiculo</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>IdVehiculoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Asset_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anio__c</field>
            <value>
                <elementReference>A_o2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometros__c</field>
            <value>
                <elementReference>Kilometros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor__c</field>
            <value>
                <elementReference>Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroDeChasis__c</field>
            <value>
                <elementReference>N_mero_de_Chasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>marca__c</field>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>modelo__c</field>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>numeroDePlaca__c</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>CreateOpportunity</label>
        <locationX>858</locationX>
        <locationY>4886</locationY>
        <assignRecordIdToReference>CreatedOppotunityID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AssetCreadoOBuscado.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_Aseguradora__c</field>
            <value>
                <elementReference>AseguradoraId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_Compania__c</field>
            <value>
                <elementReference>EmpresaUsuario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_PlacaDeVehiculoOElVIN__c</field>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_TallerDeServicio__c</field>
            <value>
                <elementReference>ServiceTerritoryBuscado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_TipoDeVehiculo__c</field>
            <value>
                <stringValue>Autos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campana__c</field>
            <value>
                <elementReference>CampaniaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>TodayPlus15Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_de_Facturaci_n__c</field>
            <value>
                <elementReference>LookUpCuentaFacturacion.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Moneda0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departamento__c</field>
            <value>
                <stringValue>Ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReccordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Oferta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sucursal__c</field>
            <value>
                <elementReference>SucursalUsuario</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQuote</name>
        <label>CreateQuote</label>
        <locationX>858</locationX>
        <locationY>4994</locationY>
        <assignRecordIdToReference>presupuestoid</assignRecordIdToReference>
        <connector>
            <targetReference>BMW_ObtenerPresupuesto</targetReference>
        </connector>
        <inputAssignments>
            <field>BMW_CostoFijo__c</field>
            <value>
                <elementReference>CargoInterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Centro_de_Costo__c</field>
            <value>
                <elementReference>CentroCostoAsignado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>LookUpContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_de_facturaci_n2__c</field>
            <value>
                <elementReference>LookUpCuentaFacturacion.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CRC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>CreatedOppotunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_empleado__c</field>
            <value>
                <elementReference>AsignarEmpleadoValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH00000FwbD7YAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Asset_0</name>
        <label>Asset</label>
        <locationX>644</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAssetCreado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVehiculoCreado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0</name>
        <label>Asset</label>
        <locationX>858</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEventsAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0</name>
        <label>Asset</label>
        <locationX>858</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0_0</name>
        <label>Asset</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vehiculo.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0_0_0_0</name>
        <label>Asset</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetVIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BMW_ObtenerPresupuesto</name>
        <label>Obtener Presupuesto</label>
        <locationX>858</locationX>
        <locationY>5102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encuentra_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>presupuestoid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_1_of_GetServiceTerritory</name>
        <label>Copy 2 of Copy 1 of GetServiceTerritory</label>
        <locationX>726</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_SetServiceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SucursalUsuario</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_GetServiceTerritory</name>
        <label>Copy 2 of GetServiceTerritory</label>
        <locationX>462</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_SetServiceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Otobai</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactoAsset</name>
        <label>GetContactoAsset</label>
        <locationX>858</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_0_0.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCuentaAsset</name>
        <label>GetCuentaAsset</label>
        <locationX>858</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactoAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEventsAsset</name>
        <label>GetEventsAsset</label>
        <locationX>858</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCuentaAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceTerritory</name>
        <label>GetServiceTerritory</label>
        <locationX>198</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetServiceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Motorrad</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>858</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarVariablesUsuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVehiculo</name>
        <label>GetVehiculo</label>
        <locationX>347</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VinExiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumeroDeChasis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>N_mero_de_Chasis</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_PriceBook_Opp</name>
        <label>Obtener PriceBook Opp</label>
        <locationX>858</locationX>
        <locationY>5510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_vac_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Campa_a_Aseguradora</name>
        <label>Obtiene Campaña Aseguradora</label>
        <locationX>726</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_campa_a_aseguradora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaña Aseguradora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_opp</name>
        <label>Actualiza opp</label>
        <locationX>726</locationX>
        <locationY>5942</locationY>
        <connector>
            <targetReference>Copy_1_of_Que_Tipo_de_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedOppotunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Obtener_PriceBook_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_PB</name>
        <label>Actualiza PB</label>
        <locationX>726</locationX>
        <locationY>5834</locationY>
        <connector>
            <targetReference>Actualiza_opp</targetReference>
        </connector>
        <inputReference>BMW_ObtenerPresupuesto</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualiza_opp</name>
        <label>Copy 1 of Actualiza opp</label>
        <locationX>726</locationX>
        <locationY>6242</locationY>
        <connector>
            <targetReference>Presupuesto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedOppotunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AseguradoraId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>UpdateAsset</label>
        <locationX>858</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Asset_0_0_0</targetReference>
        </connector>
        <inputReference>AssetCreadoOBuscado</inputReference>
    </recordUpdates>
    <screens>
        <name>Buscar_Veh_culo</name>
        <label>Buscar Vehículo</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_existe_vehiculo</targetReference>
        </connector>
        <fields>
            <name>Buscar_Veh_culo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buscar_Veh_culo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vehiculo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AssetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buscar vehículo existente por placa</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BuscaporVin</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fuzzySearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>AssetVIN</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>NumeroDeChasis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buscar vehículo existente por VIN:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pluralLabel</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>AssetVIN</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buscar_Veh_culo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Existe_Veh_culo</name>
            <dataType>Boolean</dataType>
            <fieldText>Crear vehículo nuevo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crear_Veh_culo</name>
        <label>Crear Vehículo</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetVehiculo</targetReference>
        </connector>
        <fields>
            <name>Crear_Veh_culo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placa</name>
                    <dataType>String</dataType>
                    <fieldText>Placa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Marca</name>
                    <dataType>String</dataType>
                    <fieldText>Marca</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Modelo</name>
                    <dataType>String</dataType>
                    <fieldText>Modelo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_mero_de_Chasis</name>
                    <dataType>String</dataType>
                    <fieldText>Número de Chasis</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor</name>
                    <dataType>String</dataType>
                    <fieldText>Motor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Color</name>
                    <dataType>String</dataType>
                    <fieldText>Color</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>A_o2</name>
                    <dataType>String</dataType>
                    <fieldText>Año</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El valor debe ser un número de 4 digitos.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
    ISBLANK({!A_o2}),
    REGEX({!A_o2}, &quot;^[0-9]{4}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Kilometros</name>
                    <dataType>Number</dataType>
                    <fieldText>Kilometros</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>No_existe_Cuenta</name>
                    <dataType>Boolean</dataType>
                    <fieldText>No existe Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cuenta_Empresarial</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Cuenta Empresarial</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nombre_de_la_Cuenta</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre de la Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Apellido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cedula</name>
                    <dataType>Number</dataType>
                    <fieldText>Cédula</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crear_Veh_culo_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crear_Veh_culo_0</name>
        <label>Crear Vehículo</label>
        <locationX>858</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarContactoCuentaFacturacionBuscados</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Información del presupuesto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Crear_Veh_culo_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NombreCuenta</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nombre del propietario:&lt;/strong&gt;  {!AccountName} {!AccountFirstName} {!AccountLastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crear_Veh_culo_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookUpContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Asset_0_0.Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUpCuentaFacturacion</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Cuenta_de_Facturaci_n__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cuenta de facturación</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Asset_0_0.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Moneda0</name>
                    <choiceReferences>Colones</choiceReferences>
                    <choiceReferences>Dolares</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Moneda</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>InfoVehi</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Información del vehículo&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InfoVehiculo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Número de placa :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AssetNumeroPlaca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;VIN:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetNumeroVin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Marca:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetMarca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Modelo:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetModelo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Año:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetAnno}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Color:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetColor}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>garantiavehiculo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Información del plan de mantenimiento del vehículo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Plan de mantenimiento:&lt;/strong&gt;&amp;nbsp;{!AssetWarrantyNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Término de plan de mantenimiento:&lt;/strong&gt; {!AssetWarrantyTerm}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de inicio:&lt;/strong&gt; {!AssetWarrantyStartDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha final: &lt;/strong&gt;{!AssetWarrantyEndDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Efectivo a partir de: &lt;/strong&gt;{!AssetWarrantyEfectiveStartDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo de plan de mantenimiento:&lt;/strong&gt; {!AssetWarantyType}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Asset_0_0.Garant_a_de_activo__r.AssetWarrantyNumber</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Mostrador</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Empresa0</name>
                    <choiceReferences>Bavarian</choiceReferences>
                    <choiceReferences>Otobai</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmpresaUsuario</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tipo_de_oportunidad0</name>
                    <choiceReferences>Taller</choiceReferences>
                    <choiceReferences>Aseguradora</choiceReferences>
                    <choiceReferences>Mostrador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de oportunidad</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TipoOppUsuario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Todas</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Aseguradora0</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>RecordTypeId = &apos;0124U00000111E8QAI&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Aseguradora</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pluralLabel</name>
                        <value>
                            <stringValue>Aseguradoras</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <stringValue>Favor de seleccionar la aseguradora</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Aseguradora</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Service_territory0</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>ServiceTerritory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>ServiceTerritoryId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>IsActive = True</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Taller de servicio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pluralLabel</name>
                        <value>
                            <stringValue>Talleres de servicio</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ServiceTerritoryId</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2)</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Mostrador</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TipoOppUsuario</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Mostrador</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tipo_de_cliente</name>
                    <choiceReferences>Comercial</choiceReferences>
                    <choiceReferences>Interno</choiceReferences>
                    <choiceReferences>Empleado</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Comercial</defaultSelectedChoiceReference>
                    <fieldText>Tipo de cliente</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_de_oportunidad0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Mostrador</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Centrodecosto</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Centro_de_Costo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Centro de costo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tipo_de_cliente</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Interno</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crear_Veh_culo_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExisteVIN2</name>
        <label>ExisteVIN</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Veh_culo</targetReference>
        </connector>
        <fields>
            <name>ExisteVINTEXTO</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 11, 11);&quot;&gt;No se puede crear el vehículo, ya existe un vehículo con ese VIN&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Presupuesto</name>
        <label>Presupuesto</label>
        <locationX>858</locationX>
        <locationY>6434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Buscar_Veh_culo</targetReference>
        </connector>
        <fields>
            <name>Presupuesto_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Presupuesto_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Crear</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Presupuesto creado exitosamente&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;em&gt;Sí desea ver el presupuesto creado de click al siguiente botón&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>btn1</name>
                    <extensionName>ecflc:flowIdRedirect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>presupuestoid</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ir a presupuesto</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Veh_culo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCodigoSoftland</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCorreo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCorreoEmpresarial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountTelefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AseguradoraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsesorSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsesorSeleccionadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsignarEmpleadoValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AsignarHoraLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsignarHoraLoopNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssetAnno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetCreadoOBuscado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetMarca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetModelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetNumeroPlaca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetNumeroVin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetVIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarantyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyEfectiveStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CalendarioSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaniaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CargoInterno</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CentroCostoAsignado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedOppotunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuentaCreadaBuscada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTimeCitaLoop</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmpresaUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora10Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora1Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora2Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora3Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora4Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora5Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora6Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora7Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora8Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora9Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCitaCreada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaCreada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDsCitasReservadas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsDePlantillas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdVehiculoCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaEventosAsset</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartidaDePresupuesto1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>PartidasDePresupuesto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>PlantillaElegida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlantillaSeleccionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>presupuestoid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReccordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryBuscado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucursalUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVariable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextoError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>El valor debe ser un número de 4 dígitos</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipodeCuenta</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TipoOppUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
