force-app/main/default/flows/PANTALLA_TTC_LIGHT_ACTION_29_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CREAR_TTC_LIGHTNING_ACTION</name>
        <label>CREAR TTC  LIGHTNING ACTION</label>
        <locationX>2055</locationX>
        <locationY>400</locationY>
        <actionName>Case.Crear_tipo_de_trabajo_del_caso</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>ACTUALIZA_CONTEO_DE_TTC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ComentarioTTC__c</name>
            <value>
                <elementReference>COMEDNTARIO_TTC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Taller__c</name>
            <value>
                <elementReference>acct_taller_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Tipo_de_cargo__c</name>
            <value>
                <elementReference>tipodecago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Tipotrabajo__c</name>
            <value>
                <elementReference>TIPO_TRABAJO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_comments</name>
        <label>assign_comments</label>
        <locationX>2196</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>COMEDNTARIO_TTC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tipodecago</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_Cargo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acct_taller_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>id_taller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TIPO_TRABAJO_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tc_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREAR_TTC_LIGHTNING_ACTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error</name>
        <label>error</label>
        <locationX>1627</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>errr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>idPlanNuevo</name>
        <label>idPlanNuevo</label>
        <locationX>1498</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>planID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>id_new_plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_tipo_de_trabajo_del_caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>es_conteo_ttc_mayor_o_igual_a</name>
        <label>es conteo ttc mayor o igual a</label>
        <locationX>1418</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>get_tipo_de_trabajo_del_caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PLAN FOUND</defaultConnectorLabel>
        <rules>
            <name>Conteo_ttc_mqayor_igual_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREAR_PLAN</targetReference>
            </connector>
            <label>NO PLAN</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Tipodecargopklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_cargo__c</picklistField>
        <picklistObject>tiposDeTrabajoCaso__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CONTEOsuma1</name>
        <dataType>Number</dataType>
        <expression>{!CONTEO_TTC}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PANTALLA TTC LIGHT ACTION 29.1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PANTALLA TTC LIGHT ACTION 29.1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crear_paso</name>
        <label>crear paso</label>
        <locationX>1200</locationX>
        <locationY>624</locationY>
        <assignRecordIdToReference>idpasoDEtrabajo</assignRecordIdToReference>
        <connector>
            <targetReference>actualiza_ttc_campo_paso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>acct_taller_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>tipodecago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutionOrder</field>
            <value>
                <elementReference>CONTEOsuma1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name_ttc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_trabajo_del_caso__c</field>
            <value>
                <elementReference>TIPO_TRABAJO_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPlanId</field>
            <value>
                <elementReference>planID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordCreates>
    <recordCreates>
        <name>CREAR_PLAN</name>
        <label>CREAR PLAN</label>
        <locationX>1629</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>id_new_plan</assignRecordIdToReference>
        <connector>
            <targetReference>idPlanNuevo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CRC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutionOrder</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Plan desde de caso# {!CASE_NUMBER}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WO_ID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkPlan</object>
    </recordCreates>
    <recordLookups>
        <name>get_case_fields</name>
        <label>get case fields</label>
        <locationX>2354</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CASE_NUMBER</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CONTEO_TTC</assignToReference>
            <field>TOTALdeHIORAS__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_plan_id</name>
        <label>get plan id</label>
        <locationX>1999</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_WO_FIELDS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkPlan</object>
        <outputAssignments>
            <assignToReference>planID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PLAN_NAME</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_tipo_de_trabajo_del_caso</name>
        <label>get tipo de trabajo del caso</label>
        <locationX>1409</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crear_paso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>tiposDeTrabajoCaso__c</object>
        <outputAssignments>
            <assignToReference>TTC_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name_ttc</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name_ttc</assignToReference>
            <field>Nombre_TTC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PLANFUECREADOYA</assignToReference>
            <field>Plan_creado__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GET_WO_FIELDS</name>
        <label>GET WO FIELDS</label>
        <locationX>1732</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>es_conteo_ttc_mayor_o_igual_a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WO_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tipodeservicio</assignToReference>
            <field>Tipo_de_servicio__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOnumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ACTUALIZA_CONTEO_DE_TTC</name>
        <label>ACTUALIZA CONTEO DE TTC</label>
        <locationX>2142</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>get_plan_id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Conteo_TTC__c</field>
            <value>
                <elementReference>CONTEOsuma1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_ttc_campo_paso</name>
        <label>actualiza ttc campo paso</label>
        <locationX>1348</locationX>
        <locationY>775</locationY>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TTC_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaAlta__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paso_de_trabajo__c</field>
            <value>
                <elementReference>idpasoDEtrabajo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <object>tiposDeTrabajoCaso__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>P1</name>
        <label>P1</label>
        <locationX>2277</locationX>
        <locationY>628</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_comments</targetReference>
        </connector>
        <fields>
            <name>txtcaso</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;Nuevo tipo de trabajo del caso&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Caso #{!CASE_NUMBER}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>P1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TClookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tipo de Trabajo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tiposDeTrabajoCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Tipotrabajo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>tc_id</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>name_ttc</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Tipo_de_Cargo</name>
                    <choiceReferences>Tipodecargopklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de Cargo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>P1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Taller_Sucursal</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Taller-Sucursal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>tiposDeTrabajoCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Taller_Sucursal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>id_taller</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>TALLER</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Comentario</name>
                    <dataType>String</dataType>
                    <fieldText>Comentario</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1783</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>get_case_fields</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>errorplantillatexo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>nombreplan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PLAN DEL CASO# {!CASE_NUMBER}</text>
    </textTemplates>
    <variables>
        <name>acct_taller_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>campos_pasos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>CASE_NUMBER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>COMEDNTARIO_TTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CONTEO_TTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CONTEODEPLANES</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>conteoPASOS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>errr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EXECUTIONORDER</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>id_new_plan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>id_taller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>idpasoDEtrabajo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>name_ttc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>paso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>PLAN_NAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PLANFUECREADOYA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>planID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TALLER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TIPO_TRABAJO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tipodecago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tipodeservicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TTC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>WO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>WOnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>workstep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
