force-app/main/default/flows/Reasignar_Tareas_a_Mecanico_desde_Caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <interviewLabel>Reasignar Tareas a Mecanico desde Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reasignar Tareas a Mecanico desde Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actuaiza_Flag_False</name>
        <label>Actuaiza Flag False</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Orden Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Orden Rechazada</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Flag_System__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Mecanico_en_Orden_Trabajo_desde_Caso</name>
        <label>Actualiza Mecanico en Orden Trabajo desde Caso</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Actuaiza_Flag_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Orden Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Orden Rechazada</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CT_Mecanico__c</field>
            <value>
                <elementReference>$Record.Mecanico_Asignado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Mecanico_on_WorkSteps</name>
        <label>Set_Mecanico_on_WorkSteps</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Actualiza_Mecanico_en_Orden_Trabajo_desde_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Mec_nico_asignado__c</field>
            <value>
                <elementReference>$Record.Mecanico_Asignado__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Mecanico_on_WorkSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mecanico_Asignado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mecanico_Asignado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flag_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
