force-app/main/default/flows/rellenarDatosContacto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>si_tiene_un_contacto</name>
        <label>si tiene un contacto</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contacto_relacionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completar_datos_de_contacto</targetReference>
            </connector>
            <label>si tiene</label>
        </rules>
    </decisions>
    <interviewLabel>rellenarDatosContacto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rellenarDatosContacto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>contacto_relacionado</name>
        <label>contacto relacionado</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>si_tiene_un_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtener_los_datos_iniciales_de_opp.contacto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_los_datos_iniciales_de_opp</name>
        <label>obtener los datos iniciales de opp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contacto_relacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_contacto_relacionado</name>
        <label>actualiza contacto relacionado</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contacto_relacionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Correo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Apellido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Completar_datos_de_contacto</name>
        <label>Completar datos de contacto</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>actualiza_contacto_relacionado</targetReference>
        </connector>
        <fields>
            <name>Nombre</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contacto_relacionado.FirstName</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Apellido</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contacto_relacionado.LastName</elementReference>
            </defaultValue>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telefono</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contacto_relacionado.Phone</elementReference>
            </defaultValue>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;El formato de teléfono debe ser +506 seguido de 8 dígitos o bien si es internacional debe comenzar con + seguido del préfijo (1-3) dígitos y el número (4-14 dígitos&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    NOT(ISBLANK({!Telefono})),
    OR(
         NOT(BEGINS({!Telefono}, &quot;+&quot;)),
        AND(
            BEGINS({!Telefono}, &quot;+506&quot;),
            REGEX({!Telefono}, &quot;^\\+506\\d{8}$&quot;)
        ),
        AND(
            NOT(BEGINS({!Telefono}, &quot;+506&quot;)),
            REGEX({!Telefono}, &quot;^\\+?[0-9]{1,3}[0-9]{4,14}$&quot;)
        )
    )
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Correo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contacto_relacionado.Email</elementReference>
            </defaultValue>
            <fieldText>Correo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;El formato del correo electrónico es incorrecto. Asegúrese de ingresar un correo válido como nombre@dominio.com&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    NOT(ISBLANK({!Correo})),
    REGEX({!Correo}, &quot;^[a-zA-Z0-9][a-zA-Z0-9._%+-/]{0,63}@[a-zA-Z0-9][a-zA-Z0-9.-]{0,252}\\.[a-zA-Z]{2,63}$&quot;),
    NOT(
        OR(
            CONTAINS({!Correo}, &quot;..&quot;),
            REGEX({!Correo}, &quot;[.]$&quot;),
            REGEX({!Correo}, &quot;@-&quot;),
            REGEX({!Correo}, &quot;-\\.&quot;),
            CONTAINS({!Correo}, &quot; &quot;)
        )
    )
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_los_datos_iniciales_de_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
