force-app/main/default/flows/ReplicateEventFromCommunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_enviarBot</name>
        <label>Copy 1 of Copy 1 of enviarBot</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>revisar_si_existe_sincto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>correoOdette</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>bmwservice@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nueva Cita General</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MensajeBot</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_enviarBot</name>
        <label>Copy 1 of enviarBot</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>revisar_si_existe_sincto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>correoOdette</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>bmwservice@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nueva Cita Comunidad/CallCenter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MensajeBot</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>enviarBot</name>
        <label>enviarBot</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>revisar_si_existe_sincto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>correoOdette</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>bmwservice@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nueva Cita Bot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MensajeBot</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asignr_sincro</name>
        <label>asignr sincro</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>citaSincro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.cita_sincronica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>es_origen_contact_center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_guardar_variabe_Contact_Center</name>
        <label>Copy 2 of guardar variabe Contact Center</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>origenDinamico</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Formulario Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saber_si_es_reserva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>correo_Odette</name>
        <label>correo Odette</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>correoOdette</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>notificacionestd@redmotorscr.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saberOrigenEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>guardar_variabe_Contact_Center</name>
        <label>guardar variabe Contact Center</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>origenDinamico</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saber_si_es_reserva</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>es_Asesor</name>
        <label>es Asesor</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_cita__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asesor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>citaSincro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReplicateEventAsesor</targetReference>
            </connector>
            <label>si asesor</label>
        </rules>
        <rules>
            <name>si_asesor_sincro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_cita__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asesor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>citaSincro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Replicate_Event_Asesor</targetReference>
            </connector>
            <label>si asesor sincro</label>
        </rules>
    </decisions>
    <decisions>
        <name>es_origen_contact_center</name>
        <label>es origen contact center?</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_guardar_variabe_Contact_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_contact_center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>guardar_variabe_Contact_Center</targetReference>
            </connector>
            <label>es contact center</label>
        </rules>
    </decisions>
    <decisions>
        <name>revisar_si_existe_sincto</name>
        <label>revisar si existe sincto</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>es_origen_contact_center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_sincronica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCalendarId.Service_Territory__r.cita_sincronica__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignr_sincro</targetReference>
            </connector>
            <label>es sincronica</label>
        </rules>
    </decisions>
    <decisions>
        <name>saber_si_es_reserva</name>
        <label>saber si es reserva</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>es_Asesor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.esReserva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Replicate_Event</targetReference>
            </connector>
            <label>es reserva</label>
        </rules>
    </decisions>
    <decisions>
        <name>saberOrigenEmail</name>
        <label>saberOrigenEmail</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_enviarBot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esBotWeb</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>twilio_wa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>webchat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cita web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_cita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviarBot</targetReference>
            </connector>
            <label>esBotWeb</label>
        </rules>
        <rules>
            <name>esCommunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrigenEvento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_cita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_enviarBot</targetReference>
            </connector>
            <label>esCommunidad</label>
        </rules>
    </decisions>
    <description>solo 1 con sicnro + probando que quitar 2 + correo a Odette + kilometraje + parent activity + IgnorarDuplicados +Contact Center + origen dinamico + sucursal especifica + test1</description>
    <formulas>
        <name>only30min</name>
        <dataType>DateTime</dataType>
        <expression>{!quitar30Min} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>only60min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime__c} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>quitar30Min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime__c} - (30/1440)</expression>
    </formulas>
    <interviewLabel>ReplicateEventFromCommunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReplicateEventFromCommunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Replicate_Event</name>
        <label>Copy 1 of Replicate Event</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_NuevaCita__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometraje__c</field>
            <value>
                <elementReference>$Record.Kilometraje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>origenDinamico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH000002dSxlYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateOrigin__c</field>
            <value>
                <stringValue>ReplicateEventFromCommunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>es_Reserva__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ignorarDuplicado__c</field>
            <value>
                <elementReference>$Record.ignorarDuplicado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Replicate_Event_Asesor</name>
        <label>Copy 2 of Replicate Event Asesor</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Copy_3_of_Replicate_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hora_Original__c</field>
            <value>
                <elementReference>quitar30Min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometraje__c</field>
            <value>
                <elementReference>$Record.Kilometraje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH000002dSzNYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateOrigin__c</field>
            <value>
                <stringValue>ReplicateEventFromCommunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ignorarDuplicado__c</field>
            <value>
                <elementReference>$Record.ignorarDuplicado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Replicate_Event</name>
        <label>Copy 3 of Replicate Event</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_NuevaCita__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hora_Original__c</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometraje__c</field>
            <value>
                <elementReference>$Record.Kilometraje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>ReplicateEventAsesor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH000002dSzNYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateOrigin__c</field>
            <value>
                <stringValue>ReplicateEventFromCommunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ignorarDuplicado__c</field>
            <value>
                <elementReference>$Record.ignorarDuplicado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Replicate_Event</name>
        <label>Replicate Event</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_NuevaCita__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hora_Original__c</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometraje__c</field>
            <value>
                <elementReference>$Record.Kilometraje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>ReplicateEventAsesor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH000002dSzNYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateOrigin__c</field>
            <value>
                <stringValue>ReplicateEventFromCommunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ignorarDuplicado__c</field>
            <value>
                <elementReference>$Record.ignorarDuplicado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>ReplicateEventAsesor</name>
        <label>Replicate Event Asesor</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Replicate_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>quitar30Min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>$Record.Activo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>only30min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Shadow__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hora_Original__c</field>
            <value>
                <elementReference>quitar30Min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometraje__c</field>
            <value>
                <elementReference>$Record.Kilometraje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>$Record.OrigenEvento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Asesor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012PH000002dSzNYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritory__c</field>
            <value>
                <elementReference>GetCalendarId.Service_Territory__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>quitar30Min</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateOrigin__c</field>
            <value>
                <stringValue>ReplicateEventFromCommunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>idCalendarioFlow__c</field>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ignorarDuplicado__c</field>
            <value>
                <elementReference>$Record.ignorarDuplicado__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCalendarId</name>
        <label>GetCalendarId</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>correo_Odette</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asesor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asesor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendar__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCalendarId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formulario Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web chat</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>twilio_wa</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>webchat</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cita web</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaña previo de entrega</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrigenEvento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </filters>
        <object>Event_Shadow__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MensajeBot</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Origen: {!$Record.OrigenEvento__c}

&lt;link href=&quot;https://db.onlinewebfonts.com/c/8503adf008ebf781c6342c58254552e4?family=BMWTypeNext+Pro&quot; rel=&quot;stylesheet&quot;&gt;
  
&lt;style&gt;
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
&lt;/style&gt;
  
  &lt;br/&gt;
  
&lt;table role=&quot;presentation&quot; style=&quot;max-width:600px;border-collapse:collapse;border:1;border-spacing:1;background:#ffffff; margin: 1 auto&quot;&gt;

 &lt;tr&gt;

  &lt;th&gt;Placa&lt;/th&gt;

  &lt;th&gt;Fecha de evento Inicio&lt;/th&gt;

  &lt;th&gt;Fecha De Evento Fin&lt;/th&gt;
   
  &lt;th&gt;Asesor&lt;/th&gt;
  
  &lt;th&gt;Calendario&lt;/th&gt;

 &lt;/tr&gt;

 &lt;tr&gt;

  &lt;td&gt;{!$Record.Activo__r.Name}&lt;/td&gt;
  &lt;td&gt;{!$Record.StartDateTime__c}&lt;/td&gt;
  &lt;td &gt;{!$Record.EndDateTime__c}&lt;/td&gt;
   &lt;td&gt;{!$Record.Asesor__r.FirstName} {!$Record.Asesor__r.LastName}&lt;/td&gt;
   &lt;td&gt;{!$Record.Calendar__r.FirstName} {!$Record.Calendar__r.LastName}&lt;/td&gt;

 &lt;/tr&gt;


&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>CalendarIDD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>citaSincro</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correoOdette</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>origenDinamico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
