force-app/main/default/flows/Reserva_de_Citas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AsesorSeleccionadoAsignacion</name>
        <label>AsesorSeleccionadoAsignacion</label>
        <locationX>842</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>AsesorSeleccionadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsesorSeleccionado.Asesor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarTestHora</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_info_Asset</name>
        <label>Asignar info Asset</label>
        <locationX>1304</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>AssetNumeroPlaca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNumeroVin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.NumeroDeChasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMarca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetModelo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.modelo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAnno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Anio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCodigoSoftland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.codigoSoftland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreoEmpresarial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.AssetWarrantyNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyTerm.WarrantyTermName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarrantyEfectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyTerm.EffectiveStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetWarantyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Garant_a_de_activo__r.WarrantyType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncargadoCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.NombreEncargadoCuenta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoEncargadoCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.TelefonoEncargadoCuenta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_info_Asset_0</name>
        <label>Asignar info Asset</label>
        <locationX>842</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>AssetNumeroPlaca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetNumeroVin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.NumeroDeChasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMarca</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.marca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetModelo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.modelo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAnno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Anio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCodigoSoftland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.codigoSoftland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCorreoEmpresarial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.CorreoElectronicoEmpresarial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncargadoCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.NombreEncargadoCuenta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoEncargadoCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.TelefonoEncargadoCuenta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revisar_Disponibilidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>1304</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>1040</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAsetBuscado_0_0_0_0</name>
        <label>AsignarAsetBuscado</label>
        <locationX>1304</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAssetCreado</name>
        <label>AsignarAssetCreado</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_info_Asset_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCalendarName</name>
        <label>AsignarCalendarName</label>
        <locationX>842</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>CalendarName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalendarioName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserCalendarTest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCuentaBuscada</name>
        <label>AsignarCuentaBuscada</label>
        <locationX>1370</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>CuentaCreadaBuscada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCuentaBuscada_0</name>
        <label>AsignarCuentaBuscada</label>
        <locationX>1634</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>CuentaCreadaBuscada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCuentaCreada</name>
        <label>AsignarCuentaCreada</label>
        <locationX>974</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>CuentaCreadaBuscada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetCreadoOBuscado.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCuentaEmpresa</name>
        <label>AsignarCuentaEmpresa</label>
        <locationX>842</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>IsCuentaEmpresa</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarCuentaCreada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCuentaEmpresa_0</name>
        <label>AsignarCuentaEmpresa</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>IsCuentaEmpresa</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Vehiculo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarEventosAsset</name>
        <label>AsignarEventosAsset</label>
        <locationX>1392</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>ListaEventosAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCitasEventosAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCitasEventosAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarIdsCitasDisponibilidad</name>
        <label>AsignarIdsCitasDisponibilidad</label>
        <locationX>930</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>IDsCitasReservadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCitasReservadas.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCitasReservadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarTestHora</name>
        <label>AsignarTestHora</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>TestHorav2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestInicioFecha</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCitasDisponibilidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignTestVariable1</name>
        <label>AsignTestVariable1</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TestVariable1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehiculo.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignTestVariable2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignTestVariable2</name>
        <label>AsignTestVariable2</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TestVariable2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetVIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesitionCampo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CuentaBuscada_0</name>
        <label>CuentaBuscada</label>
        <locationX>1370</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>IdCuentaCreada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarCuentaBuscada</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AM10</name>
        <choiceText>10:00-10:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1030</name>
        <choiceText>10:30-11:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM11</name>
        <choiceText>11:00-11:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1130</name>
        <choiceText>11:30-12:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM12</name>
        <choiceText>12:00-12:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am7</name>
        <choiceText>7:00-7:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am730</name>
        <choiceText>7:30-8:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am8</name>
        <choiceText>8:00-8:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am830</name>
        <choiceText>8:30-9:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM9</name>
        <choiceText>9:00-9:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM930</name>
        <choiceText>9:30-10:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9.3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario</name>
        <choiceText>Calendario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Escaz_Mec_nica_R_pida</name>
        <choiceText>Calendario Escazú - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Escazú - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pavas_Diagn_stico</name>
        <choiceText>Calendario Pavas - Diagnóstico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Pavas - Diagnóstico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pavas_Mec_nica_R_pida</name>
        <choiceText>Calendario Pavas - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Pavas - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Pinares_Mec_nica_R_pida</name>
        <choiceText>Calendario Pinares - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Pinares - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Diagn_stico</name>
        <choiceText>Calendario Uruca - Diagnóstico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Diagnóstico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Enderezado_y_Pintura</name>
        <choiceText>Calendario Uruca - Enderezado y Pintura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Enderezado y Pintura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calendario_Uruca_Mec_nica_R_pida</name>
        <choiceText>Calendario Uruca - Mecánica Rápida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendario Uruca - Mecánica Rápida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correo</name>
        <choiceText>Correo electrónico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correo electrónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>FormularioWeb</name>
        <choiceText>Formulario Web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Formulario Web</stringValue>
        </value>
    </choices>
    <choices>
        <name>IAM10</name>
        <choiceText>10:00-10:30 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1030</name>
        <choiceText>10:30-11:00 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM11</name>
        <choiceText>11:00-11:30 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1130</name>
        <choiceText>11:30-12:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM12</name>
        <choiceText>12:00-12:30 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1230</name>
        <choiceText>12:30-1:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM13</name>
        <choiceText>1:00-1:30 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1330</name>
        <choiceText>1:30-2:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM14</name>
        <choiceText>2:00-2:30 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1430</name>
        <choiceText>2:30-3:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM15</name>
        <choiceText>3:00-3:30 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1530</name>
        <choiceText>3:30-4:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM16</name>
        <choiceText>4:00-4:30 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>16.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM1630</name>
        <choiceText>4:30-5:00 PM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>16.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM7</name>
        <choiceText>7:00-7:30 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM730</name>
        <choiceText>7:30-8:00 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM8</name>
        <choiceText>8:00-8:30 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM830</name>
        <choiceText>8:30-9:00 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM9</name>
        <choiceText>9:00-9:30 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IAM930</name>
        <choiceText>9:30-10:00 AM</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>LlamadaTelefonica</name>
        <choiceText>Llamada telefónica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Llamada telefónica</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>orig</name>
        <choiceText>orig</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>orig</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1</name>
        <choiceText>1:00-1:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1230</name>
        <choiceText>12:30-1:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM130</name>
        <choiceText>1:30-2:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM2</name>
        <choiceText>2:00-2:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM230</name>
        <choiceText>2:30-3:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM3</name>
        <choiceText>3:00-3:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM330</name>
        <choiceText>3:30-4:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM4</name>
        <choiceText>4:00-4:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM430</name>
        <choiceText>4:30-5:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Presencial</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Presencial&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presencial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whatsapp</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Whatsapp&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whatsapp</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cuenta_Empresa</name>
        <label>Cuenta Empresa</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Crear_Nueva_Cuenta_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_de_Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_Empresarial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Nueva_Cuenta</targetReference>
            </connector>
            <label>Cuenta de Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_Empresa_0</name>
        <label>Cuenta Empresa</label>
        <locationX>974</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Crear_Nueva_Cuenta_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_de_Empresa_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Nueva_Cuenta_0_0</targetReference>
            </connector>
            <label>Cuenta de Empresa</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesitionCampo</name>
        <label>DesitionCampo</label>
        <locationX>1304</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Asignar_info_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehiculo.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_0_0_0_0</targetReference>
            </connector>
            <label>Outcome1</label>
        </rules>
        <rules>
            <name>Outcom2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetVIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Outcom2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFActualizarCuenta</name>
        <label>IFActualizarCuenta</label>
        <locationX>842</locationX>
        <locationY>5054</locationY>
        <defaultConnector>
            <targetReference>Cita_creada_con_xito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ifactualizarcuenta1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>Ifactualizarcuenta1</label>
        </rules>
        <rules>
            <name>IfActualizarCorreo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Actualzar_correo_cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount_0</targetReference>
            </connector>
            <label>IfActualizarCorreo</label>
        </rules>
        <rules>
            <name>IfActualizarEncargado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualizarEncargado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount_0_0</targetReference>
            </connector>
            <label>IfActualizarEncargado</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_existe_vehiculo</name>
        <label>No existe vehiculo</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AsignTestVariable1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vehiculo_no_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Veh_culo</targetReference>
            </connector>
            <label>vehiculo no existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nueva_Cuenta</name>
        <label>Nueva Cuenta</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Crear_Vehiculo_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_existe_Cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_Empresa</targetReference>
            </connector>
            <label>Cuenta Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nueva_Cuenta_0</name>
        <label>Nueva Cuenta</label>
        <locationX>1304</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>AsignarCuentaBuscada_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_Nueva_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CambioCuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_Empresa_0</targetReference>
            </connector>
            <label>Cuenta Nueva</label>
        </rules>
        <rules>
            <name>Cuenta_Buscada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CambioCuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CuentaBuscada_0</targetReference>
            </connector>
            <label>Cuenta Buscada</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CitasReservadasCollection</name>
        <collectionReference>GetCitasDisponibilidad</collectionReference>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Event</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipocuenta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SobjectType</picklistField>
        <picklistObject>RecordType</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FechaInicioPlus8</name>
        <dataType>DateTime</dataType>
        <expression>{!TestInicioFecha} + 1</expression>
    </formulas>
    <formulas>
        <name>HoraFinCita</name>
        <dataType>DateTime</dataType>
        <expression>{!TestInicioFecha} + ({!HorarioCitaV2}/24) + ((30/24)/60)</expression>
    </formulas>
    <formulas>
        <name>HoraInicioCita</name>
        <dataType>DateTime</dataType>
        <expression>{!TestInicioFecha} + ({!HorarioCitaV2}/24)</expression>
    </formulas>
    <formulas>
        <name>Test1231</name>
        <dataType>String</dataType>
        <expression>TEXT({!DateDisponibilidad}) &amp; &quot;00:00:00&quot;</expression>
    </formulas>
    <formulas>
        <name>TestInicioFecha</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!DateDisponibilidad}) + &quot; 00:00:00&quot;) + (6/24)</expression>
    </formulas>
    <formulas>
        <name>TestInicioFechamas30</name>
        <dataType>DateTime</dataType>
        <expression>{!TestInicioFecha} + ((30/24)/60)</expression>
    </formulas>
    <formulas>
        <name>TESTTIME</name>
        <dataType>Number</dataType>
        <expression>{!HorarioCitaV2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TimeCitaLoopF</name>
        <dataType>String</dataType>
        <expression>MID ( TEXT ({!DateTimeCitaLoop}), 12, 5)</expression>
    </formulas>
    <formulas>
        <name>TimeCitaLoopNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE( MID( TEXT( {!DateTimeCitaLoop}), 12, 2 ) )-6</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Reserva de Citas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reserva de Citas</label>
    <loops>
        <name>LoopCitasEventosAsset</name>
        <label>LoopCitasEventosAsset</label>
        <locationX>1304</locationX>
        <locationY>1574</locationY>
        <collectionReference>GetEventsAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarEventosAsset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Veh_culo_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCitasReservadas</name>
        <label>LoopCitasReservadas</label>
        <locationX>842</locationX>
        <locationY>4358</locationY>
        <collectionReference>GetCitasDisponibilidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarIdsCitasDisponibilidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nueva_Cita</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Cita</name>
        <label>Crea Cita</label>
        <locationX>842</locationX>
        <locationY>4814</locationY>
        <assignRecordIdToReference>IdCitaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>CreaCitaCalendario</targetReference>
        </connector>
        <inputAssignments>
            <field>Activo__c</field>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>AsesorSeleccionadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendario__c</field>
            <value>
                <elementReference>CalendarName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedByFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>HoraFinCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>Origen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AsesorSeleccionadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>HoraInicioCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>CreaCitaCalendario</name>
        <label>CreaCitaCalendario</label>
        <locationX>842</locationX>
        <locationY>4934</locationY>
        <connector>
            <targetReference>IFActualizarCuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Asesor__c</field>
            <value>
                <elementReference>AsesorSeleccionadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>HoraFinCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenEvento__c</field>
            <value>
                <elementReference>Origen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CalendarioSeleccionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>IdCitaCreada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>HoraInicioCita</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nueva_Cuenta</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>AsignarCuentaEmpresa_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorreoElectronicoEmpresarial__c</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombre_de_la_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NombreEncargadoCuenta__c</field>
            <value>
                <elementReference>NombreEncargadoCliente0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqmZQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelefonoEncargadoCuenta__c</field>
            <value>
                <elementReference>TelefonoEncargadoCliente0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nueva_Cuenta_0</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Vehiculo_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqoLQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nueva_Cuenta_0_0</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>AsignarCuentaEmpresa</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorreoElectronicoEmpresarial__c</field>
            <value>
                <elementReference>email_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombre_de_la_Cuenta_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NombreEncargadoCuenta__c</field>
            <value>
                <elementReference>Nombre_Encargado_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqmZQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelefonoEncargadoCuenta__c</field>
            <value>
                <elementReference>Telefono_Encargado_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nueva_Cuenta_0_0_0</name>
        <label>Crear Nueva Cuenta</label>
        <locationX>1106</locationX>
        <locationY>2270</locationY>
        <assignRecordIdToReference>IdCuentaCreada</assignRecordIdToReference>
        <connector>
            <targetReference>AsignarCuentaCreada</targetReference>
        </connector>
        <inputAssignments>
            <field>Cedula__c</field>
            <value>
                <elementReference>Cedula_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120P000000aqoLQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Vehiculo_0</name>
        <label>Crear Vehiculo</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>IdVehiculoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Asset_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaCreada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anio__c</field>
            <value>
                <elementReference>a_o</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometros__c</field>
            <value>
                <elementReference>Kilometros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor__c</field>
            <value>
                <elementReference>Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroDeChasis__c</field>
            <value>
                <elementReference>N_mero_de_Chasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>marca__c</field>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>modelo__c</field>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Vehiculo_0_0</name>
        <label>Crear Vehiculo</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>IdVehiculoCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Asset_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anio__c</field>
            <value>
                <elementReference>a_o</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometros__c</field>
            <value>
                <elementReference>Kilometros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor__c</field>
            <value>
                <elementReference>Motor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Placa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroDeChasis__c</field>
            <value>
                <elementReference>N_mero_de_Chasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>marca__c</field>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>modelo__c</field>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Asset_0</name>
        <label>Asset</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAssetCreado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVehiculoCreado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0</name>
        <label>Asset</label>
        <locationX>1304</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEventsAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0</name>
        <label>Asset</label>
        <locationX>1304</locationX>
        <locationY>2942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0_0</name>
        <label>Asset</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vehiculo.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Asset_0_0_0_0_0_0</name>
        <label>Asset</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarAsetBuscado_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetVIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAsesorSeleccionado</name>
        <label>GetAsesorSeleccionado</label>
        <locationX>842</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsesorSeleccionadoAsignacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsesorSeleccionado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsesorxCalendario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCalendarioName</name>
        <label>GetCalendarioName</label>
        <locationX>842</locationX>
        <locationY>3518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarCalendarName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendarioSeleccionado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCitasDisponibilidad</name>
        <label>GetCitasDisponibilidad</label>
        <locationX>842</locationX>
        <locationY>4238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCitasReservadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsesorSeleccionadoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TestInicioFecha</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FechaInicioPlus8</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCuentaAsset</name>
        <label>GetCuentaAsset</label>
        <locationX>1304</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCitasEventosAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEventsAsset</name>
        <label>GetEventsAsset</label>
        <locationX>1304</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCuentaAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserCalendarTest</name>
        <label>GetUserCalendarTest</label>
        <locationX>842</locationX>
        <locationY>3758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsesorSeleccionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AsesorSeleccionado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>446</locationX>
        <locationY>5174</locationY>
        <connector>
            <targetReference>Cita_creada_con_xito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneNumberCor</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount_0</name>
        <label>UpdateAccount</label>
        <locationX>710</locationX>
        <locationY>5174</locationY>
        <connector>
            <targetReference>Cita_creada_con_xito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CorreoElectronicoEmpresarial__c</field>
            <value>
                <elementReference>EmailCor.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount_0_0</name>
        <label>UpdateAccount</label>
        <locationX>974</locationX>
        <locationY>5174</locationY>
        <connector>
            <targetReference>Cita_creada_con_xito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetCreadoOBuscado.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NombreEncargadoCuenta__c</field>
            <value>
                <elementReference>NombreEncargadoCuenta2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TelefonoEncargadoCuenta__c</field>
            <value>
                <elementReference>TelefonoEncargadoCuenta2</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>UpdateAsset</label>
        <locationX>1304</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Asset_0_0_0</targetReference>
        </connector>
        <inputReference>AssetCreadoOBuscado</inputReference>
    </recordUpdates>
    <screens>
        <name>Buscar_Veh_culo</name>
        <label>Buscar Vehículo</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_existe_vehiculo</targetReference>
        </connector>
        <fields>
            <name>Buscar_Veh_culo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buscar_Veh_culo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vehiculo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AssetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buscar vehículo existente por placa</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BuscaporVin</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fuzzySearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>AssetVIN</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>NumeroDeChasis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buscar vehículo existente por VIN:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pluralLabel</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>AssetVIN</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_Existe_Veh_culo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Buscar_Veh_culo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Existe_Veh_culo</name>
            <dataType>Boolean</dataType>
            <fieldText>Crear vehículo nuevo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cita_creada_con_xito</name>
        <label>Cita creada con éxito</label>
        <locationX>842</locationX>
        <locationY>5390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Buscar_Veh_culo</targetReference>
        </connector>
        <fields>
            <name>CitaReservada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;¡Cita reservada con éxito!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Se ha reservado la cita para:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nombre de la cuenta:&lt;/strong&gt;  {!AccountName}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Correo:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!AccountCorreo}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Teléfono:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!AccountTelefono}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Código Softland: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!AccountCodigoSoftland}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Encargado Cuenta: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!EncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono Encargado: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!TelefonoEncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Número de placa :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!AssetNumeroPlaca}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;VIN:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetNumeroVin}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Marca:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetMarca}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Modelo:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetModelo}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Año:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetAnno}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Color:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetColor}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RedirectCita</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IdCitaCreada</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Ir a cita creada</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crear_Veh_culo</name>
        <label>Crear Vehículo</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Nueva_Cuenta</targetReference>
        </connector>
        <fields>
            <name>Crear_Veh_culo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placa</name>
                    <dataType>String</dataType>
                    <fieldText>Placa</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Marca</name>
                    <dataType>String</dataType>
                    <fieldText>Marca</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Modelo</name>
                    <dataType>String</dataType>
                    <fieldText>Modelo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>N_mero_de_Chasis</name>
                    <dataType>String</dataType>
                    <fieldText>Número de Chasis</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motor</name>
                    <dataType>String</dataType>
                    <fieldText>Motor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Color</name>
                    <dataType>String</dataType>
                    <fieldText>Color</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>a_o</name>
                    <dataType>String</dataType>
                    <fieldText>Año del vehículo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El año del vehículo debe ser menor o igual a 4 dígitos.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!a_o})&lt;=4</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Kilometros</name>
                    <dataType>Number</dataType>
                    <fieldText>Kilometros</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_existe_Cuenta</name>
                    <dataType>Boolean</dataType>
                    <fieldText>No existe Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cuenta_Empresarial</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Cuenta Empresarial</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nombre_de_la_Cuenta</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre de la Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Apellido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cedula</name>
                    <dataType>Number</dataType>
                    <fieldText>Cédula</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NombreEncargadoCliente0</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre Encargado Cliente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TelefonoEncargadoCliente0</name>
                    <dataType>String</dataType>
                    <fieldText>Teléfono Encargado Cliente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crear_Veh_culo_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Crear_Veh_culo_0</name>
        <label>Crear Vehículo</label>
        <locationX>1304</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Nueva_Cuenta_0</targetReference>
        </connector>
        <fields>
            <name>Crear_Veh_culo_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Información del cliente﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NombreCuenta</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nombre de la cuenta:&lt;/strong&gt;  {!AccountName} {!AccountFirstName} {!AccountLastName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Correo:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!AccountCorreo} {!AccountCorreoEmpresarial}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Teléfono:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!AccountTelefono}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Código Softland: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!AccountCodigoSoftland}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Encargado Cuenta: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!EncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Teléfono Encargado: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!TelefonoEncargadoCuenta}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InfoVehi</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Información del vehículo&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InfoVehiculo</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Número de placa :&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AssetNumeroPlaca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;VIN:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!AssetNumeroVin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Marca:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!AssetMarca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Modelo:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!AssetModelo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Año:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!AssetAnno}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Color:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  {!AssetColor}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>garantiavehiculo</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Información de garantía del vehículo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Garantía:&lt;/b&gt;&amp;nbsp;{!AssetWarrantyNumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Término de garantía:&lt;/b&gt; {!AssetWarrantyTerm}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fecha de inicio:&lt;/b&gt; {!AssetWarrantyStartDate}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fecha final: &lt;/b&gt;{!AssetWarrantyEndDate}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Efectivo a partir de: &lt;/b&gt;{!AssetWarrantyEfectiveStartDate}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo de garantía:&lt;/b&gt; {!AssetWarantyType}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Asset_0_0.Garant_a_de_activo__r.AssetWarrantyNumber</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Texto2</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;﻿¿Desea cambiar la cuenta asociada al vehículo?&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CambioCuenta</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cambio de cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buscar cuenta personal o empresarial</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CambioCuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_existe_Cuenta_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>No existe cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CambioCuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cuenta_Empresarial_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Cuenta empresarial</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nombre_de_la_Cuenta_0</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre de la Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FirstName0</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LastName0</name>
                    <dataType>String</dataType>
                    <fieldText>Apellido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cedula_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Cédula</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone_0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>email_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>No_existe_Cuenta_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nombre_Encargado_Cuenta</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre Encargado Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Telefono_Encargado_Cuenta</name>
                    <dataType>String</dataType>
                    <fieldText>Teléfono Encargado Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cuenta_Empresarial_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Crear_Veh_culo_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OtrasCitas</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Otras citas reservadas para este vehículo&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CitasEventosAssets</name>
                    <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>lstIds</name>
                        <value>
                            <elementReference>ListaEventosAsset</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>strObjectName</name>
                        <value>
                            <stringValue>Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>strFields</name>
                        <value>
                            <stringValue>StartDateTimeF__c,AsignedUserFormula__c,OrigenEvento__c,Calendario__c,StartDateTime</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sortBy</name>
                        <value>
                            <stringValue>StartDateTime</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sortDirection</name>
                        <value>
                            <stringValue>desc</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crear_Veh_culo_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Crear_Veh_culo_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nueva_Cita</name>
        <label>Nueva Cita</label>
        <locationX>842</locationX>
        <locationY>4694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Crea_Cita</targetReference>
        </connector>
        <fields>
            <name>Nueva_Cita_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nueva_Cita_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Citas reservadas para el asesor&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CitasReservadas</name>
                    <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>lstIds</name>
                        <value>
                            <elementReference>IDsCitasReservadas</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>strObjectName</name>
                        <value>
                            <stringValue>Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>strFields</name>
                        <value>
                            <stringValue>StartDateTimeF__c,AsignedUserFormula__c,OrigenEvento__c,Calendario__c,StartDateTime</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sortBy</name>
                        <value>
                            <stringValue>StartDateTime</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sortDirection</name>
                        <value>
                            <stringValue>asc</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nueva_Cita_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReservaCitaTexto2</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Información para reserva final&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HorarioCitaV2</name>
                    <choiceReferences>IAM7</choiceReferences>
                    <choiceReferences>IAM730</choiceReferences>
                    <choiceReferences>IAM8</choiceReferences>
                    <choiceReferences>IAM830</choiceReferences>
                    <choiceReferences>IAM9</choiceReferences>
                    <choiceReferences>IAM930</choiceReferences>
                    <choiceReferences>IAM10</choiceReferences>
                    <choiceReferences>IAM1030</choiceReferences>
                    <choiceReferences>IAM11</choiceReferences>
                    <choiceReferences>IAM1130</choiceReferences>
                    <choiceReferences>IAM12</choiceReferences>
                    <choiceReferences>IAM1230</choiceReferences>
                    <choiceReferences>IAM13</choiceReferences>
                    <choiceReferences>IAM1330</choiceReferences>
                    <choiceReferences>IAM14</choiceReferences>
                    <choiceReferences>IAM1430</choiceReferences>
                    <choiceReferences>IAM15</choiceReferences>
                    <choiceReferences>IAM1530</choiceReferences>
                    <choiceReferences>IAM16</choiceReferences>
                    <choiceReferences>IAM1630</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Horario de la cita</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                </fields>
                <fields>
                    <name>Origen</name>
                    <choiceReferences>LlamadaTelefonica</choiceReferences>
                    <choiceReferences>Correo</choiceReferences>
                    <choiceReferences>Whatsapp</choiceReferences>
                    <choiceReferences>Presencial</choiceReferences>
                    <choiceReferences>FormularioWeb</choiceReferences>
                    <choiceReferences>Calendario</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origen</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Descripción</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ActualizarAccount</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Actualizar teléfono de cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsCuentaEmpresa</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Actualzar_correo_cuenta</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Actualizar correo cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsCuentaEmpresa</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ActualizarEncargado</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Actualizar encargado cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsCuentaEmpresa</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PhoneNumberCor</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountTelefono</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActualizarAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EmailCor</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Correo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AccountCorreo</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Actualzar_correo_cuenta</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NombreEncargadoCuenta2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>EncargadoCuenta</elementReference>
                    </defaultValue>
                    <fieldText>Nombre encargado de cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActualizarEncargado</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TelefonoEncargadoCuenta2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TelefonoEncargadoCuenta</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono encargado cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActualizarEncargado</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Info1232</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Información del cliente﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;Nombre de la cuenta:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;  {!AccountName} {!AccountFirstName} {!AccountLastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Correo:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; {!AccountCorreo} {!AccountCorreoEmpresarial}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; {!AccountTelefono}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Código Softland: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!AccountCodigoSoftland}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Encargado Cuenta: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!EncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono Encargado: &lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!TelefonoEncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Información del vehículo&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Número de placa :&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;{!AssetNumeroPlaca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;VIN:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetNumeroVin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Marca:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetMarca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Modelo:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;  {!AssetModelo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Año:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetAnno}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Color:&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetColor}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Revisar_Disponibilidad</name>
        <label>Revisar Disponibilidad</label>
        <locationX>842</locationX>
        <locationY>3398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCalendarioName</targetReference>
        </connector>
        <fields>
            <name>Revisar_Disponibilidad_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revisar_Disponibilidad_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Infocliente12</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Información del cliente﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InfoCliente1123</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nombre de la cuenta:&lt;/strong&gt;  {!AccountName} {!AccountFirstName} {!AccountLastName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Correo:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!AccountCorreo} {!AccountCorreoEmpresarial}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!AccountTelefono}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Código Softland: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!AccountCodigoSoftland}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>texto7</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Encargado Cuenta: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!EncargadoCuenta}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono Encargado: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!TelefonoEncargadoCuenta}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EncargadoCuenta</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revisar_Disponibilidad_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Info11</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Información del vehículo&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InfoV12</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Número de placa :&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!AssetNumeroPlaca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;VIN:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetNumeroVin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Marca:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetMarca}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Modelo:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetModelo}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Año:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetAnno}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Color:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;  {!AssetColor}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revisar_Disponibilidad_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Calendario1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;﻿Seleccionar calendario y asesor&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AsesorCalendarios</name>
                    <extensionName>l_lookup:DependentLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>parentObjectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>childObjectType</name>
                        <value>
                            <stringValue>AsesorxCalendario__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>relationField</name>
                        <value>
                            <stringValue>Calendario__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentQueryCondition</name>
                        <value>
                            <stringValue>Iscalendar__c = TRUE </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentLabel</name>
                        <value>
                            <stringValue>Calendario</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentPluralLabel</name>
                        <value>
                            <stringValue>Calendarios</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>childLabel</name>
                        <value>
                            <stringValue>Asesor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>childPluralLabel</name>
                        <value>
                            <stringValue>Asesores</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>childSelectedRecordId</name>
                        <value>
                            <elementReference>AsesorSeleccionado</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentSelectedRecordId</name>
                        <value>
                            <elementReference>CalendarioSeleccionado</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isParentRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isChildRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>AsesorSeleccionado</assignToReference>
                        <name>childSelectedRecordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>CalendarioSeleccionado</assignToReference>
                        <name>parentSelectedRecordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>SeleCalde</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Fecha de reserva para cita&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DateDisponibilidad</name>
                    <dataType>Date</dataType>
                    <fieldText>Seleccionar fecha</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La fecha debe ser mayor o igual que el día de hoy.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!TestInicioFecha} &gt;= NOW()-1</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Veh_culo</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountCodigoSoftland</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCorreo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCorreoEmpresarial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountTelefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsesorSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsesorSeleccionadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsignarHoraLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsignarHoraLoopNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssetAnno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetCreadoOBuscado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetMarca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetModelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetNumeroPlaca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetNumeroVin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetVIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarantyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyEfectiveStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetWarrantyTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CalendarioSeleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CalendarName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuentaCreadaBuscada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateDisponibilidadTest</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTimeCitaLoop</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncargadoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora10Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora1Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora2Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora3Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora4Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora5Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora6Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora7Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Hora8Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hora9Reservada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HoraFinTest</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HoraInicioTest</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCitaCreada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaCreada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDsCitasReservadas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdVehiculoCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCuentaEmpresa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListaEventosAsset</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoEncargadoCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TESTDATECONVERTED</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TestHorav2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestTimeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVariable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipodeCuenta</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
