force-app/main/default/flows/SegregateWOLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarCorreoGarantia</name>
        <label>Enviar correo garantía</label>
        <locationX>50</locationX>
        <locationY>7718</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Registros_Eliminar_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailGarantia</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectCargoGarantica</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyCargoGarantia</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddCargoToCollection</name>
        <label>AddCargoToCollection</label>
        <locationX>2030</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCargoToCollection_0</name>
        <label>AddCargoToCollection</label>
        <locationX>2294</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCargoToCollection_0_0</name>
        <label>AddCargoToCollection</label>
        <locationX>2558</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCargoToCollection_0_0_0</name>
        <label>AddCargoToCollection</label>
        <locationX>2822</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCargoToCollection_0_0_0_0</name>
        <label>AddCargoToCollection</label>
        <locationX>3086</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCargoToCollection_0_0_0_0_0</name>
        <label>AddCargoToCollection</label>
        <locationX>3350</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>CargosUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCargos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCargos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>4538</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFGarantiaCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection_0</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>4946</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFBSICreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection_0_0</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>5354</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_BSI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFAseguradoraCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection_0_0_0</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>5762</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Aseguradora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFBSIInternoCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection_0_0_0_0</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>6170</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_BSI_Interno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFINTERNOCREATE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoCollection_0_0_0_0_0</name>
        <label>AddtoCollection</label>
        <locationX>1874</locationX>
        <locationY>6578</locationY>
        <assignmentItems>
            <assignToReference>CargosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CargoSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Interno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetVariablesFlags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddWolis</name>
        <label>AddWolis</label>
        <locationX>2006</locationX>
        <locationY>6878</locationY>
        <assignmentItems>
            <assignToReference>WolistoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_FilterWoli</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWolisSeleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsginarBSI</name>
        <label>AsginarBSI</label>
        <locationX>2558</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BSI2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoBSI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCargos.Garant_a_Otobai__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GarantiaOtobai</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_BSI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_a_lista_de_woli_id_Sin_Garantia</name>
        <label>Asigna a lista de woli id Sin Garantia</label>
        <locationX>336</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>WoliIdsSinGarantia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_wolis_sin_garantia.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_wolis_sin_garantia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Woli_a_todos</name>
        <label>Asigna Woli a todos</label>
        <locationX>248</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>WolisCorrespondientes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListaWolisIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectWolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_woli_id_con_garantia</name>
        <label>Asigna woli id con garantia</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>WoliIdsConGarantia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_tipo_de_cargo1.Work_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_tipo_de_cargo1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Wolis_Sin_Garantia</name>
        <label>Asigna Wolis Sin Garantia</label>
        <locationX>512</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>WolisCorrespondientes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WoliIdsSinGarantia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectWolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarAseguradora</name>
        <label>AsignarAseguradora</label>
        <locationX>2822</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aseguradora2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoAseguradora</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCargos.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAseguradora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Aseguradora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarBSIInterno</name>
        <label>AsignarBSIInterno</label>
        <locationX>3086</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BSIInterno2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoBSIInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_BSI_Interno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarGarantia</name>
        <label>AsignarGarantia</label>
        <locationX>2294</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Garantia2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoGarantia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCargos.Garant_a_Otobai__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GarantiaOtobai</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Garantia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarInterno</name>
        <label>AsignarInterno</label>
        <locationX>3350</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interno2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCargos.centroCosto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CentroDeCostoSeleccionadoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Interno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarMontoCliente</name>
        <label>AsignarMontoCliente</label>
        <locationX>2030</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopCargos.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cliente2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Segregado_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCargoToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarRecordId</name>
        <label>AsignarRecordId</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtenerUsuarioBSI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarTipo</name>
        <label>AsignarTipo</label>
        <locationX>248</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>TipoVehiculo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarWolis</name>
        <label>AsignarWolis</label>
        <locationX>468</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ListaWolisIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopWolis.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWolis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_AsignarTipo</name>
        <label>Copy 2 of AsignarTipo</label>
        <locationX>512</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>TipoVehiculo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Moto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cliente2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo_0</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>4838</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Garantia2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Garant_a_Otobai__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GarantiaOtobai</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOConCargoGarantia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo_0_0</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BSI2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Garant_a_Otobai__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GarantiaOtobai</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo_0_0_0</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>5654</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aseguradora2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAseguradora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo_0_0_0_0</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BSIInterno2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrearCargo_0_0_0_0_0</name>
        <label>CrearCargo</label>
        <locationX>1874</locationX>
        <locationY>6470</locationY>
        <assignmentItems>
            <assignToReference>CargoSimple.porcentaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interno2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.tipoCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.centroCosto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CentroDeCostoSeleccionadoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoSimple.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetWorkOrder.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetVariablesFlags</name>
        <label>ResetVariablesFlags</label>
        <locationX>2006</locationX>
        <locationY>6770</locationY>
        <assignmentItems>
            <assignToReference>CargoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoAseguradora</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoBSI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoBSIInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoGarantia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CargoInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_FilterWoli.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddWolis</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>KAWASAKI</name>
        <choiceText>KAWASAKI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KAWASAKI</stringValue>
        </value>
    </choices>
    <choices>
        <name>POLARIS</name>
        <choiceText>POLARIS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POLARIS</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>FilterWoli</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilterWoli</label>
        <locationX>2006</locationX>
        <locationY>3314</locationY>
        <assignNextValueToReference>currentItem_FilterWoli</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetWolis</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterWoli.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>tipos_de_cargo_relacionados</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>tipos_de_cargo_relacionados</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>tipos de cargo relacionados</label>
        <locationX>2006</locationX>
        <locationY>3422</locationY>
        <assignNextValueToReference>currentItem_tipos_de_cargo_relacionados</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetCargos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_tipos_de_cargo_relacionados.Work_Order_Line_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopWolisSeleccionados</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>decide_tipo_de_cargo_no_nulo</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>AsignarTipoWO</name>
        <label>AsignarTipoWO</label>
        <locationX>380</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_AsignarTipo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTipoAuto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkOrder.TipoVehiculoAsset__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarTipo</targetReference>
            </connector>
            <label>IsTipoAuto</label>
        </rules>
    </decisions>
    <decisions>
        <name>cargos_garantia_no_nulo</name>
        <label>cargos garantia no nulo</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Decide_si_es_usuario_BSI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay_garantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tipo_de_Cargo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_tipo_de_cargo1</targetReference>
            </connector>
            <label>si hay garantia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Registros_Eliminar_0</name>
        <label>Check Registros Eliminar &gt; 0</label>
        <locationX>182</locationX>
        <locationY>7910</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Porcenjate_Igual_a_Cero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTipoRegistroCeros</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_Registros_Ceros_0</targetReference>
            </connector>
            <label>Porcenjate  Igual a Cero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Records</name>
        <label>Check Selected Records</label>
        <locationX>380</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>PantallaSeleccionarProductos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Selected_Record_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSelectedID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SegregateWolis</targetReference>
            </connector>
            <label>Selected Records &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_si_es_usuario_BSI</name>
        <label>Decide si es usuario BSI</label>
        <locationX>380</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Asigna_Wolis_Sin_Garantia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_BSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerUsuarioBSI.SegregateBSI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Tipo_de_Cargo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Woli_a_todos</targetReference>
            </connector>
            <label>Si es BSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_tipo_de_cargo_no_nulo</name>
        <label>decide tipo de cargo no nulo</label>
        <locationX>2006</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>IFCARGOCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tipos_de_cargo_no_nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipos_de_cargo_relacionados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCargos</targetReference>
            </connector>
            <label>tipos de cargo no nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>DesitionTipoCargo</name>
        <label>DesitionTipoCargo</label>
        <locationX>2822</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>LoopCargos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IFCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarMontoCliente</targetReference>
            </connector>
            <label>IFCliente</label>
        </rules>
        <rules>
            <name>IfGarantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarGarantia</targetReference>
            </connector>
            <label>IfGarantia</label>
        </rules>
        <rules>
            <name>IFBSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsginarBSI</targetReference>
            </connector>
            <label>IFBSI</label>
        </rules>
        <rules>
            <name>IFAseguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarAseguradora</targetReference>
            </connector>
            <label>IFAseguradora</label>
        </rules>
        <rules>
            <name>IFBSIINTERNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarBSIInterno</targetReference>
            </connector>
            <label>IFBSIINTERNO</label>
        </rules>
        <rules>
            <name>IFInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCargos.tipoCargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCargos.Work_Order_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopWolisSeleccionados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarInterno</targetReference>
            </connector>
            <label>IFInterno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_cargos_garant_a</name>
        <label>Hay cargos garantía</label>
        <locationX>182</locationX>
        <locationY>7610</locationY>
        <defaultConnector>
            <targetReference>Check_Registros_Eliminar_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiHayCargosGarantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOConCargoGarantia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Asset.Tipo_de_veh_culo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automóvil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarCorreoGarantia</targetReference>
            </connector>
            <label>Si hay cargos garantía</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFAseguradoraCreate</name>
        <label>IFAseguradoraCreate</label>
        <locationX>2006</locationX>
        <locationY>5546</locationY>
        <defaultConnector>
            <targetReference>IFBSIInternoCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeAseguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aseguradora2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoAseguradora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo_0_0_0</targetReference>
            </connector>
            <label>OutcomeAseguradora</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFBSICreate</name>
        <label>IFBSI</label>
        <locationX>2006</locationX>
        <locationY>5138</locationY>
        <defaultConnector>
            <targetReference>IFAseguradoraCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeBSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSI2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoBSI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo_0_0</targetReference>
            </connector>
            <label>OutcomeBSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFBSIInternoCreate</name>
        <label>IFBSIInternoCreate</label>
        <locationX>2006</locationX>
        <locationY>5954</locationY>
        <defaultConnector>
            <targetReference>IFINTERNOCREATE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeBSIInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSIInterno2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoBSIInterno</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo_0_0_0_0</targetReference>
            </connector>
            <label>OutcomeBSIInterno</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFCARGOCliente</name>
        <label>IFCARGOCliente</label>
        <locationX>2006</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>IFGarantiaCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoCliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo</targetReference>
            </connector>
            <label>OutcomeCliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFFacturada</name>
        <label>IFFacturada</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GetWolis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facturada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkOrder.Etapa_de_flujo_de_trabajo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orden Facturada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Facturada</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFGarantiaCreate</name>
        <label>IFGarantia</label>
        <locationX>2006</locationX>
        <locationY>4730</locationY>
        <defaultConnector>
            <targetReference>IFBSICreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeGarantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Garantia2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoGarantia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo_0</targetReference>
            </connector>
            <label>OutcomeGarantia</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFINTERNOCREATE</name>
        <label>IFINTERNOCREATE</label>
        <locationX>2006</locationX>
        <locationY>6362</locationY>
        <defaultConnector>
            <targetReference>ResetVariablesFlags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeInterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interno2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CargoInterno</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearCargo_0_0_0_0_0</targetReference>
            </connector>
            <label>OutcomeInterno</label>
        </rules>
    </decisions>
    <description>Incluye Tipo De Centro de Costo para Obtener Los de Autos o Motos</description>
    <formulas>
        <name>EmailGarantia</name>
        <dataType>String</dataType>
        <expression>&apos;garantiasautos@redmotorscr.com&apos;</expression>
    </formulas>
    <formulas>
        <name>EmailOwner</name>
        <dataType>String</dataType>
        <expression>{!GetWorkOrder.Owner:User.Email}</expression>
    </formulas>
    <interviewLabel>Segregar Articulos y Mano de Obra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Segregar Articulos y Mano de Obra</label>
    <loops>
        <name>LoopCargos</name>
        <label>LoopCargos</label>
        <locationX>1942</locationX>
        <locationY>3638</locationY>
        <collectionReference>tipos_de_cargo_relacionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DesitionTipoCargo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IFCARGOCliente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopWolis</name>
        <label>LoopWolis</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <collectionReference>GetWolis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarWolis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Tipo_de_Cargo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopWolisSeleccionados</name>
        <label>LoopWolisSeleccionados</label>
        <locationX>182</locationX>
        <locationY>3206</locationY>
        <collectionReference>ListaWolisSeleccionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FilterWoli</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_tipo_de_cargo1</name>
        <label>Recorre tipo de cargo</label>
        <locationX>248</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Tipo_de_Cargo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_woli_id_con_garantia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Woli_Sin_Garantia</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_wolis_sin_garantia</name>
        <label>Recorre wolis sin garantia</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Woli_Sin_Garantia</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_a_lista_de_woli_id_Sin_Garantia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decide_si_es_usuario_BSI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCargos</name>
        <label>CreateCargos</label>
        <locationX>182</locationX>
        <locationY>7178</locationY>
        <connector>
            <targetReference>GetTipoRegistroCeros</targetReference>
        </connector>
        <inputReference>CargosCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Registros_Ceros_0</name>
        <label>Eliminar Registros Ceros</label>
        <locationX>50</locationX>
        <locationY>8018</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrder.WorkOrderNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>porcentaje__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>porcentaje__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>tipoCargo__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Tipo_de_Cargo</name>
        <label>Get Tipo de Cargo</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cargos_garantia_no_nulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Line_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaWolisIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>tipoCargo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tipoCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Woli_Sin_Garantia</name>
        <label>Get Woli Sin Garantia</label>
        <locationX>248</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_wolis_sin_garantia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaWolisIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>WoliIdsConGarantia</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCargos</name>
        <label>GetCargos</label>
        <locationX>182</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopWolisSeleccionados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Line_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaWolisSeleccionados</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tipoCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTipoRegistroCeros</name>
        <label>GetTipoRegistroCeros</label>
        <locationX>182</locationX>
        <locationY>7286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWolis</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrder.WorkOrderNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>porcentaje__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>porcentaje__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tipoCargo__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWolis</name>
        <label>GetWolis</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopWolis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Facturado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IFFacturada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerUsuarioBSI</name>
        <label>ObtenerUsuarioBSI</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>UpdateRecords</label>
        <locationX>182</locationX>
        <locationY>7070</locationY>
        <connector>
            <targetReference>CreateCargos</targetReference>
        </connector>
        <inputReference>CargosUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWolis</name>
        <label>UpdateWolis</label>
        <locationX>182</locationX>
        <locationY>7394</locationY>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
        <inputReference>WolistoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>UpdateWorkOrder</label>
        <locationX>182</locationX>
        <locationY>7502</locationY>
        <connector>
            <targetReference>Hay_cargos_garant_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa_de_flujo_de_trabajo__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncSoftlandFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetWolis</targetReference>
        </connector>
        <fields>
            <name>ErrorFacturacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(147, 21, 21); font-family: Menlo, Monaco, Consolas, &amp;quot;Courier New&amp;quot;, monospace; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Esta Orden ya se encuentra Facturada por lo que se puede segregar solamente los artículos que no han sido facturados.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaSeleccionarProductos</name>
        <label>Pantalla Seleccionar Productos</label>
        <locationX>578</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningSelectedRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 5, 5); font-size: 14px;&quot;&gt;Atención!, Para continuar se requiere que seleccione al menos 1 producto!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SegregateWolis</name>
        <label>Segregar artículos y mano de obra</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCargos</targetReference>
        </connector>
        <fields>
            <name>SegregateWolis_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SegregateWolis_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cliente2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Cliente</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ObtenerUsuarioBSI.SegregateBSI__c}= TRUE,
({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100
,({!Cliente2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Garantia2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Garantía</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ObtenerUsuarioBSI.SegregateBSI__c}= TRUE,
({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100
,({!Cliente2}+{!Garantia2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ObtenerUsuarioBSI.SegregateBSI__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BSI2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>BSI</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ObtenerUsuarioBSI.SegregateBSI__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SegregateWolis_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aseguradora2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Aseguradora</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ObtenerUsuarioBSI.SegregateBSI__c}= TRUE,
({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100
,({!Cliente2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>BSIInterno2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>BSI Interno</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ObtenerUsuarioBSI.SegregateBSI__c}= TRUE,
({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100
,({!Cliente2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Interno2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Interno</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La suma de la segregación debe ser: 100%&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!ObtenerUsuarioBSI.SegregateBSI__c}= TRUE,
({!Cliente2}+{!Garantia2}+{!BSI2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100
,({!Cliente2}+{!BSIInterno2}+{!Aseguradora2}+{!Interno2})=100)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SegregateWolis_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SegregateWolis_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aseguradora</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Aseguradora</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pluralLabel</name>
                        <value>
                            <stringValue>Aseguradoras</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>RecordTypeId = &apos;0124U00000111E8QAI&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <stringValue>Favor de seleccionar la aseguradora</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedAseguradora</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Aseguradora2</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LookUpCentroDeCosto</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>CentroCosto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Centro de costo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <stringValue>Favor de seleccionar el centro de costos</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>Aprobador__c != null AND Tipo_de_centro_de_costo__c = &apos;{!TipoVehiculo}&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>CentroDeCostoSeleccionadoId</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interno2</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GarantiaOtobai</name>
                    <choiceReferences>KAWASAKI</choiceReferences>
                    <choiceReferences>POLARIS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Garantía Otobai</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Garantia2</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>BSIInterno2</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetWorkOrder.empresaFactura__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>RMOTOBAI</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AgregarAltura</name>
            <extensionName>c:segregarAgrandarPantalla</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectWolis</name>
        <label>Seleccionar artículos y mano de obra</label>
        <locationX>380</locationX>
        <locationY>2474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarTipoWO</targetReference>
        </connector>
        <fields>
            <name>SelectWolisList</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>WolisCorrespondientes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>WorkOrderLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>BMW_CodigoDeProducto__c,Producto_OR_Alias__c,Quantity,TotalPrice,Segregado_Aseguradora__c,Segregado_BSI__c,Segregado_BSI_Interno__c,Segregado_Cliente__c,Segregado_Garantia__c,Segregado_Interno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRecords</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListaWolisSeleccionados</assignToReference>
                <name>lstSelectedIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FirstSelectedID</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AgregarAltura2</name>
            <extensionName>c:segregarAgrandarPantalla</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AsignarRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyCargoGarantia</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img border=&quot;0&quot; beditid=&quot;r1sp1&quot; blabel=&quot;headerImage&quot; id=&quot;r1sp1&quot; src=&quot;https://redmotors.my.salesforce.com/servlet/servlet.ImageServer?id=0150P000004zrED&amp;amp;oid=00DNq00000BChu2&quot;&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se han agregado artículos a una orden de trabajo que tiene mano de obra en garantía&lt;/p&gt;&lt;p&gt;link: &lt;a href=&quot;https://redmotors.lightning.force.com/{!GetWorkOrder.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetWorkOrder.WorkOrderNumber}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectCargoGarantica</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;OT con Tipos de Cargo Garantía&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CargoAseguradora</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargoBSI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargoBSIInterno</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargoCliente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargoGarantia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargoInterno</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CargosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tipoCargo__c</objectType>
    </variables>
    <variables>
        <name>CargoSimple</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tipoCargo__c</objectType>
    </variables>
    <variables>
        <name>CargosUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tipoCargo__c</objectType>
    </variables>
    <variables>
        <name>CentroDeCostoSeleccionadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_FilterWoli</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_tipos_de_cargo_relacionados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tipoCargo__c</objectType>
    </variables>
    <variables>
        <name>FirstSelectedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GuardarValor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ListaWolisIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaWolisSeleccionados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAseguradora</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoVehiculo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Auto</stringValue>
        </value>
    </variables>
    <variables>
        <name>WOConCargoGarantia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WoliIdsConGarantia</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoliIdsSinGarantia</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woliIdTieneGarantia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WolisCorrespondientes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WolistoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
