force-app/main/default/flows/Select_vehicle_for_proforma_de_ventas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>saveTheProduct</name>
        <label>saveTheProduct</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vehiculosIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_vehiculosId.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_vehiculosId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vehiculosDeOpp</name>
        <choiceText>vehiculosChoiceSet</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>if_LineItems</name>
        <label>if LineItems</label>
        <locationX>158</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SeleccionDeVehiculo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>it_has_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_vehiculosId</targetReference>
            </connector>
            <label>it has Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifOppExists</name>
        <label>ifOppExists</label>
        <locationX>459</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SeleccionDeVehiculo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>itExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuote</targetReference>
            </connector>
            <label>itExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>it_has_quotes</name>
        <label>it has quotes</label>
        <locationX>300</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SeleccionDeVehiculo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_QUote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_LineItem</targetReference>
            </connector>
            <label>has QUote</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Productos</name>
        <dataType>String</dataType>
        <displayField>nombreProducto__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>oppRelated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>esVehiculo_FM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Synced_Quote__c</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>recordIdShort</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 15)</expression>
    </formulas>
    <interviewLabel>Select vehicle for proforma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select vehicle for proforma de ventas</label>
    <loops>
        <name>get_vehiculosId</name>
        <label>get vehiculosId</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>get_LineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>saveTheProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SeleccionDeVehiculo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_LineItem</name>
        <label>get LineItem</label>
        <locationX>158</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_LineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>459</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifOppExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>it_has_quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>saveTheVehicle</name>
        <label>saveTheVehicle</label>
        <locationX>459</locationX>
        <locationY>1442</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vehiculoProForma__c</field>
            <value>
                <elementReference>Productos</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>SeleccionDeVehiculo</name>
        <label>SeleccionDeVehiculo</label>
        <locationX>459</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>saveTheVehicle</targetReference>
        </connector>
        <fields>
            <name>Seleccione_el_vehiculo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Seleccione el vehiculo:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayCars</name>
            <choiceReferences>Productos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehiculos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>333</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehiculosIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
