force-app/main/default/flows/Send_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_BMW</name>
        <label>enviar BMW</label>
        <locationX>396</locationX>
        <locationY>2114</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>get_selcted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_selcted.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>bmwservice@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bienvenido a BMW Service​</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BMWEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_setIntheList</name>
        <label>Copy 1 of setIntheList</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>listAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>setEmails.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_email</name>
        <label>get email</label>
        <locationX>396</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>emailsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_selcted.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCommUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>save_the_contact_id</name>
        <label>save the contact id</label>
        <locationX>264</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>contactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookForContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_the_filter</name>
        <label>set the filter</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>CustomerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtrar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCOntacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIntheList</name>
        <label>setIntheList</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ListEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>setEmails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contact_not_empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>contact_not_empty</name>
        <label>contact not empty</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>setEmails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setEmails.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>setEmails.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_setIntheList</targetReference>
            </connector>
            <label>is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_contact_exists</name>
        <label>if contact exists</label>
        <locationX>396</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>get_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookForContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>save_the_contact_id</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <description>Solo para masivos + recoenxion emails</description>
    <dynamicChoiceSets>
        <description>display the list of contacts</description>
        <name>Selectcontacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Community_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>getAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!get_selcted.LastName}+TEXT({!$Flow.CurrentDate}), 8)</expression>
    </formulas>
    <interviewLabel>Send Community {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Community Masivos</label>
    <loops>
        <name>get_selcted</name>
        <label>get selcted</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <collectionReference>ListUsers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>lookForContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>mostrarEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>setEmails</name>
        <label>setEmails</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>GET_USERS_COMM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setIntheList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCommUser</name>
        <label>createCommUser</label>
        <locationX>396</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>enviar_BMW</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>getAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>get_selcted.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>get_selcted.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>get_selcted.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00e4U000001FEiZQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Costa_Rica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>get_selcted.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_USERS_COMM</name>
        <label>GET USERS COMM</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e4U000001FEiZQAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCOntacts</name>
        <label>getCOntacts</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CustomerName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ListEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>CorreoElectronicoEmpresarial__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ListEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>listAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonContactId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>listAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lookForContact</name>
        <label>lookForContact</label>
        <locationX>396</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_contact_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_selcted.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Filter</name>
        <label>Filter</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_the_filter</targetReference>
        </connector>
        <fields>
            <name>Filtrar</name>
            <dataType>String</dataType>
            <fieldText>Filtrar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_Community</name>
        <label>List Community</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_selcted</targetReference>
        </connector>
        <fields>
            <name>ListUsers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getCOntacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-84fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PersonEmail&quot;,&quot;guid&quot;:&quot;column-243f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>mostrarEmail</name>
        <label>mostrarEmail</label>
        <locationX>176</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySelected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;El correo de invitación se ha enviado a:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; {!emailsSelected}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_community</name>
        <label>Send community</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_USERS_COMM</targetReference>
        </connector>
        <fields>
            <name>Community_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;En este componente podra realizar la invitacion a comunidad.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_community</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BMWEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html charset=UTF-8&quot; /&gt;

    &lt;link href=&quot;https://db.onlinewebfonts.com/c/8503adf008ebf781c6342c58254552e4?family=BMWTypeNext+Pro&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;title&gt;Bienvenido a BMW SERVICE&lt;/title&gt;

&lt;/head&gt;

&lt;body style=&quot;width:100%;font-family: BMWTypeNext Pro, arial; font-size: 18px;&quot;&gt;
&lt;table role=&quot;presentation&quot; style=&quot;max-width:600px;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff; margin: 0 auto&quot;&gt;&lt;tr&gt;
        &lt;td align=&quot;center&quot; style=&quot;padding:0;&quot;&gt;
            &lt;table role=&quot;presentation&quot; style=&quot;width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;&quot;&gt;
                &lt;tr&gt;
                    &lt;td align=&quot;center&quot; &gt;
                        &lt;img src=&quot;https://redmotors.file.force.com/servlet/servlet.ImageServer?id=015PH000002H2It&amp;oid=00D0P000000Dvkz&quot; alt=&quot;&quot; width=&quot;100%&quot; style=&quot;height:auto;display:block;&quot; /&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td style=&quot;padding:36px 20px 10px 20px;&quot;&gt;
                        &lt;table role=&quot;presentation&quot; style=&quot;width:100%;border-collapse:collapse;border:0;border-spacing:0;&quot;&gt;
                            &lt;tr&gt;
                                &lt;td style=&quot;color:#707070;&quot;&gt;
                                    &lt;h1 style=&quot;font-size:24px;margin:0 0 20px 0;&quot;&gt;Estimado cliente,&lt;/h1&gt;
                                    &lt;p style=&quot;font-weight: light; color: #707070&quot;&gt;
                                        Red Motors le da la bienvenida a nuestro portal BMW Service.
                                    &lt;/p&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                                &lt;td style=&quot;padding:0;&quot;&gt;
                                    &lt;table role=&quot;presentation&quot; style=&quot;width:100%;border-collapse:collapse;border:0;border-spacing:0;&quot;&gt;
                                        &lt;p style=&quot;font-weight: light; color: #707070; margin: 7px 0&quot;&gt;
                                          Desde este sitio podrás gestionar las citas de mantenimiento de tu vehículo o moto BMW y MINI de manera más ágil.
                                        &lt;/p&gt;
                                    &lt;/table&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                              &lt;td style=&quot;padding:0;&quot;&gt;
                                  &lt;table role=&quot;presentation&quot; style=&quot;width:100%;border-collapse:collapse;border:0;border-spacing:0;&quot;&gt;
                                    &lt;p style=&quot;font-weight: light; color: #707070; margin-bottom:45px&quot;&gt;
                                      Para registrarte solo debés de ingresar en el siguiente botón.
                                    &lt;/p&gt;
                                  &lt;/table&gt;
                              &lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;td&gt;
                              &lt;a href=&quot;https://redmotors.my.site.com/ForgotPassword?Email={!get_selcted.PersonEmail}&quot;&gt;&lt;img alt=&quot;logo&quot;
                                  src=&quot;https://redmotors.file.force.com/servlet/servlet.ImageServer?id=015PH000002Jh9l&amp;oid=00D0P000000Dvkz&quot;
                                  style=&quot;max-width: 676.207px; height:40px;&quot; title=&quot;logo&quot; /&gt;&lt;/a&gt;
                            &lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/table&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td style=&quot;padding:30px 20px;&quot;&gt;
                        &lt;table role=&quot;presentation&quot; style=&quot;width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;&quot;&gt;
                            &lt;tr&gt;
                                &lt;td style=&quot;padding:0;width:50%;line-height:4px;color:#707070&quot; align=&quot;left&quot;&gt;
                                    &lt;p&gt;&lt;b&gt;
                                      RedMotors CR
                                    &lt;/b&gt;&lt;/p&gt;
                                    &lt;p&gt;Agencia BMW, diagonal a la&lt;/p&gt;
                                    &lt;p&gt;gasolinera Delta en La Uruca, San José&lt;/p&gt;
                                    &lt;p&gt;BMW La Uruca: 2547 5000&lt;/p&gt;
                                    &lt;p&gt;&lt;a href=&quot;https://www.bmw.co.cr&quot; style=&quot;color: #707070;&quot;&gt;www.bmw.co.cr&lt;/a&gt;&lt;/p&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                        &lt;/table&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
&lt;/body&gt;

&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailsSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getEmail</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
