force-app/main/default/flows/sincroniza_asesor_y_propietario_desde_el_caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Asigna_owner_y_asesor</name>
        <label>Asigna owner y asesor</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>WOUPDATE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_wos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOUPDATE.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOUPDATE.Asesor_de_la_orden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListWos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOUPDATE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_wos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_si_existen_wos</name>
        <label>Decide si existen wos</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hay_wos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtener_work_orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_wos</targetReference>
            </connector>
            <label>hay wos</label>
        </rules>
    </decisions>
    <interviewLabel>sincroniza asesor y propietario desde el caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sincroniza asesor y propietario desde el caso</label>
    <loops>
        <name>Recorre_wos</name>
        <label>Recorre wos</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>obtener_work_orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_owner_y_asesor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actualiza_wos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_work_orders</name>
        <label>obtener work orders</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_si_existen_wos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_wos</name>
        <label>actualiza wos</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>ListWos</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_work_orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListWos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WOUPDATE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
