force-app/main/default/flows/TraficoUpdateCodigos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>IFNotNull</name>
        <label>IFNotNull</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <description>agregado Motorrad</description>
    <interviewLabel>Trafico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TraficoUpdateCodigos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedProduct</name>
        <label>GetRelatedProduct</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IFNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modelo_De_Inter_s__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Modelo_De_Inter_s1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>CodigoInfo__c</field>
            <value>
                <elementReference>GetRelatedProduct.Codigo_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoProducto__c</field>
            <value>
                <elementReference>GetRelatedProduct.Codigo_de_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedProduct</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120P000000arDfQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120P000000arDiQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120P000000arDjQAI</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
