force-app/main/default/flows/UpdateNewLeadsOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_setOwner</name>
        <label>Copy 1 of setOwner</label>
        <locationX>2074</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>tieneUnPrevio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Validate_Lead_Owner.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Validate_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOwner</name>
        <label>setOwner</label>
        <locationX>1227</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>tieneUnPrevio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Lead_Owner.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Check_Last_Assigned</name>
        <label>Copy 1 of Check Last Assigned</label>
        <locationX>710</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Jose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Assign_to_Jorge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jorge_Data.Last_Assigned_BMW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BMW_to_Jorge</targetReference>
            </connector>
            <label>Copy 2 of Assign to Jorge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_do_we_have_id</name>
        <label>Copy 1 of do we have id</label>
        <locationX>1986</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_The_id_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tieneUnPrevio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_the_same</targetReference>
            </connector>
            <label>Copy 1 of The id is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_if_has_previous</name>
        <label>Copy 1 of if has previous</label>
        <locationX>2206</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Validate_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_previous_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Validate_Lead_Owner.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Marca__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_setOwner</targetReference>
            </connector>
            <label>Copy 1 of previous exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_list_is_empty</name>
        <label>Copy 1 of If list is empty</label>
        <locationX>2140</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_lead_list_with_same_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Validate_Lead_Owner</targetReference>
            </connector>
            <label>Copy 1 of If is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>do_we_have_id</name>
        <label>do we have id</label>
        <locationX>1139</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Validate_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_id_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tieneUnPrevio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_the_same</targetReference>
            </connector>
            <label>The id is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_has_previous</name>
        <label>if has previous</label>
        <locationX>1359</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Validate_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>previous_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Lead_Owner.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Marca__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOwner</targetReference>
            </connector>
            <label>previous exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_is_online</name>
        <label>if is online</label>
        <locationX>1507</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_lead_list_with_same_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_is_online_lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Página Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizador Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TikTok</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead_list_with_same_email</targetReference>
            </connector>
            <label>if is online lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_list_is_empty</name>
        <label>If list is empty</label>
        <locationX>875</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Validate_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead_list_with_same_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Brand</targetReference>
            </connector>
            <label>If is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Brand</name>
        <label>Validate Brand</label>
        <locationX>875</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_is_BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Jorge_Data</targetReference>
            </connector>
            <label>If is BMW</label>
        </rules>
        <rules>
            <name>If_is_MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MINI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_New_MINI_Lead</targetReference>
            </connector>
            <label>If is MINI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateOwner</name>
        <label>ValidateOwner</label>
        <locationX>380</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Last_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfIsJorge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000DyRjKQAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_to_Jorge</targetReference>
            </connector>
            <label>IfIsJorge</label>
        </rules>
        <rules>
            <name>IfIsJose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0054U00000Bf1nMQAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_to_Jose</targetReference>
            </connector>
            <label>IfIsJose</label>
        </rules>
    </decisions>
    <description>Changed Jose to Andres, changed Cristopher por dquesada@redmotorscr.com v2 + tiktok + control de todos los ya existentes</description>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateNewLeadsOwner</label>
    <loops>
        <name>Copy_1_of_Validate_Lead_Owner</name>
        <label>Copy 1 of Validate Lead Owner</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <collectionReference>Copy_1_of_Get_lead_list_with_same_email</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_if_has_previous</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_do_we_have_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validate_Lead_Owner</name>
        <label>Validate Lead Owner</label>
        <locationX>1139</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_lead_list_with_same_email</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_has_previous</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>do_we_have_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_lead_list_with_same_email</name>
        <label>Copy 1 of Get lead list with same email</label>
        <locationX>2140</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_If_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jorge_Data</name>
        <label>Get Jorge Data</label>
        <locationX>380</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead_list_with_same_email</name>
        <label>Get lead list with same email</label>
        <locationX>875</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_list_is_empty</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND( 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050P00000749TtQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005PH00000334VBYAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_BMW_to_Jorge</name>
        <label>Assign to Jorge</label>
        <locationX>578</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Update_Jorge_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Jose</name>
        <label>Assign to Jose</label>
        <locationX>842</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Jorge_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050P00000749TtQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Assign_to_Jorge</name>
        <label>Copy 1 of Assign to Jorge</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Assign_to_Jose</name>
        <label>Copy 1 of Assign to Jose</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050P00000749TtQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Jorge_Flag</name>
        <label>Copy 1 of Update Jorge Flag (False)</label>
        <locationX>842</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Jose_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned_BMW__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Jose_Flag</name>
        <label>Copy 1 of Update Jose Flag (True)</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050P00000749TtQAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned_BMW__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_New_MINI_Lead</name>
        <label>Copy 1 of Update New MINI Lead</label>
        <locationX>1106</locationX>
        <locationY>1739</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005PH00000334VBYAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_the_same</name>
        <label>set the same</label>
        <locationX>1007</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>tieneUnPrevio</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Jorge_Flag</name>
        <label>Update Jorge Flag (True)</label>
        <locationX>578</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Update_Jose_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0054U00000DyRjKQAV</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned_BMW__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Jose_Flag</name>
        <label>Update Jose Flag (False)</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050P00000749TtQAI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assigned_BMW__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>1381</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_is_online</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marca__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Marca__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0120P000000aqo6QAA</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>tieneUnPrevio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
