force-app/main/default/flows/Usados_send_the_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ChatterPost</description>
        <name>ChatterPost</name>
        <label>ChatterPost</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Actualiza_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TextoChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_opportunity.JefeSucursal__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>ChatterPost</description>
        <name>Copy_1_of_ChatterPost</name>
        <label>Copy 1 of ChatterPost</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Actualiza_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TextoChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_opportunity.GerenteSucursal__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>ChatterPost</description>
        <name>Copy_2_of_ChatterPost</name>
        <label>Copy 2 of ChatterPost</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Actualiza_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TextoChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_opportunity.DirectorVentas__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_aprov_usados_request</name>
        <label>Send aprov usados request</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <actionName>UsadosEnviarNotiAprobacion</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>IdOppsUsados</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asigna_Director</name>
        <label>Asigna Director</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Director_Opp</name>
        <label>Asigna Director Opp</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Usuario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity.DirectorVentas__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_ChatterPost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_flujo_false</name>
        <label>Asigna flujo false</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Flujo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aprobador_que_qued</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_flujo_true</name>
        <label>Asigna flujo true</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Flujo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aprobador_que_qued</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Gerente</name>
        <label>Asigna Gerente</label>
        <locationX>2162</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Gerente_Opp</name>
        <label>Asigna Gerente Opp</label>
        <locationX>314</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gerente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Usuario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity.GerenteSucursal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_ChatterPost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Jefe_Opp</name>
        <label>Asigna Jefe Opp</label>
        <locationX>578</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Usuario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity.JefeSucursal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChatterPost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_rechazado_a_false</name>
        <label>asigna rechazado a false</label>
        <locationX>1524</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Descuento_rechazado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.DescuentoAprobado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Etapa_Oferta_y_Cuentas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_record_id_a_variable</name>
        <label>Asigna record id a variable</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IdOppCorreo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_opportunity_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Valores_opp</name>
        <label>Asigna Valores opp</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendedor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Flujo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Usuario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Todos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_oportunidad_relacionada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Vendedor_Opp</name>
        <label>Asigna Vendedor Opp</label>
        <locationX>842</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendedor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_opportunity.Aprobador_Usuario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Todos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigna_Jefe</name>
        <label>Assigna Jefe</label>
        <locationX>2426</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigna_Vendedor</name>
        <label>Assigna Vendedor</label>
        <locationX>2690</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendedor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asigna_Director</name>
        <label>Copy 1 of Asigna Director</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asigna_Gerente</name>
        <label>Copy 1 of Asigna Gerente</label>
        <locationX>930</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assigna_Jefe</name>
        <label>Copy 1 of Assigna Jefe</label>
        <locationX>1194</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jefe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assigna_Vendedor</name>
        <label>Copy 1 of Assigna Vendedor</label>
        <locationX>1458</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Aprobador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendedor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aprobador_flujo</name>
        <label>Aprobador flujo</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Asigna_flujo_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aprobador_flujo_ftrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.Aprobador_Flujo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_flujo_false</targetReference>
            </connector>
            <label>Aprobador flujo true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aprobador_que_qued</name>
        <label>Aprobador que quedó</label>
        <locationX>578</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Director_Opp</targetReference>
            </connector>
            <label>Director</label>
        </rules>
        <rules>
            <name>Gerente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Gerente_Opp</targetReference>
            </connector>
            <label>Gerente</label>
        </rules>
        <rules>
            <name>Jefe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jefe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Jefe_Opp</targetReference>
            </connector>
            <label>Jefe</label>
        </rules>
        <rules>
            <name>Vendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendedor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Vendedor_Opp</targetReference>
            </connector>
            <label>Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decide_Aprobador</name>
        <label>Copy 1 of Decide Aprobador</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nada</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Abrobador_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Gerente_FM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asigna_Director</targetReference>
            </connector>
            <label>Copy 1 of Abrobador Director</label>
        </rules>
        <rules>
            <name>Copy_1_of_Aprobador_Gerente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Jefe_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Gerente_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asigna_Gerente</targetReference>
            </connector>
            <label>Copy 1 of Aprobador Gerente</label>
        </rules>
        <rules>
            <name>Copy_1_of_Aprobador_Jefe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Vendedor_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Jefe_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigna_Jefe</targetReference>
            </connector>
            <label>Copy 1 of Aprobador Jefe</label>
        </rules>
        <rules>
            <name>Copy_1_of_Aprobador_Vendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Jefe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_regaliasysoporte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Vendedor_FM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigna_Vendedor</targetReference>
            </connector>
            <label>Copy 1 of Aprobador Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Aprobador</name>
        <label>Decide Aprobador</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Recorre_productos_de_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nada</defaultConnectorLabel>
        <rules>
            <name>Abrobador_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Gerente_FM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Director</targetReference>
            </connector>
            <label>Abrobador Director</label>
        </rules>
        <rules>
            <name>Aprobador_Gerente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Jefe_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Gerente_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Gerente</targetReference>
            </connector>
            <label>Aprobador Gerente</label>
        </rules>
        <rules>
            <name>Aprobador_Jefe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Vendedor_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Jefe_FM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigna_Jefe</targetReference>
            </connector>
            <label>Aprobador Jefe</label>
        </rules>
        <rules>
            <name>Aprobador_Vendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aprobador</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Jefe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorre_productos_de_opp.Descuento_porcentaje_m_s_regalias__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Porcentaje_Comision_Vendedor_FM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigna_Vendedor</targetReference>
            </connector>
            <label>Aprobador Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Etapa_Oferta_y_Cuentas</name>
        <label>Etapa Oferta y Cuentas</label>
        <locationX>1524</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Etapa_Oferta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_es_Oferta_y_tiene_cuentas</name>
            <conditionLogic>(1 OR 5) AND (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.Cuenta_de_Facturaci_n__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_aprobadores_seleccionados</targetReference>
            </connector>
            <label>si es Oferta y tiene cuentas</label>
        </rules>
    </decisions>
    <decisions>
        <name>hayreibo</name>
        <label>Hay recibo de usado y es este producto</label>
        <locationX>1810</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Decide_Aprobador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_recibo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recibo_de_usados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity.MontoSoporteTotal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recibo_de_usados.ProductoDeOportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_productos_de_opp.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Decide_Aprobador</targetReference>
            </connector>
            <label>Si hay recibo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_aprobadores_seleccionados</name>
        <label>Tiene aprobadores seleccionados</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_hay_aprobadores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_aprobadores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity.JefeSucursal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recibo_de_usados</targetReference>
            </connector>
            <label>Si tiene aprobadores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_prod_line_item</name>
        <label>Tiene prod line item</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Asigna_Valores_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_productos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity_products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorre_productos_de_opp</targetReference>
            </connector>
            <label>Si hay productos</label>
        </rules>
    </decisions>
    <formulas>
        <name>TextoChatter</name>
        <dataType>String</dataType>
        <expression>&quot;Tiene una nueva solicitud de descuento pendiente en la oportunidad: https://redmotors.lightning.force.com/&quot; + {!get_opportunity.Id}</expression>
    </formulas>
    <interviewLabel>Usados send the request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Usados send the request</label>
    <loops>
        <name>Recorre_productos_de_opp</name>
        <label>Recorre productos de opp</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <collectionReference>get_opportunity_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>hayreibo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aprobador_flujo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>1524</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asigna_rechazado_a_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity_products</name>
        <label>get opportunity products</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_prod_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Es_Usado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recibo_de_usados</name>
        <label>Get Recibo de usados</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_record_id_a_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReciboUsado__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_oportunidad_relacionada</name>
        <label>Actualiza oportunidad relacionada</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <inputReference>get_opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Opp</name>
        <label>Actualiza Opp</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Send_aprov_usados_request</targetReference>
        </connector>
        <inputReference>get_opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Etapa_Oferta</name>
        <label>Etapa Oferta</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Mensaje</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(7, 1, 18);&quot;&gt;Antes de enviar el correo de solicitud de descuento por favor asegúrese que la oportunidad este en etapa &lt;/span&gt;&lt;strong style=&quot;color: rgb(218, 53, 16);&quot;&gt;&quot;Oferta&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(7, 1, 18);&quot;&gt;y que este completos los siguientes campos:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(7, 1, 18);&quot;&gt;1. Cuenta&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(7, 1, 18);&quot;&gt;2. Cuenta de facturación&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(7, 1, 18);&quot;&gt;3. Origen (lead source)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_hay_aprobadores</name>
        <label>No hay aprobadores</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Mensaje</name>
            <fieldText>&lt;p&gt;Asegúrese que el jefe de sucursal esté colocado en la oportunidad, para permitir el envío de la aprobación de descuentos correctamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpoCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Tiene una nueva oportunidad, que tiene que aprobar:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://redmotors--portalbup.sandbox.lightning.force.com/{!get_opportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Oportunidad: {!get_opportunity.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Ingresa al link para aprobar&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Aprobador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsuntoCorreo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Aprobación de descuento</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdOppCorreo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
