force-app/main/default/flows/VN_RQ106_Notificaciones_Anticipo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Correo_Asesor</name>
        <label>Enviar correo asesor</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Tiene_Tipo_Notificacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddressesAsesorYJefeProducto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Correo_Tesoreria</name>
        <label>Enviar correo Tesorería</label>
        <locationX>530</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>grupo.cajas@redmotorscr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectTesoreria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyTesoreria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Notificacion_Asesor</name>
        <label>Enviar notificación asesor</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_Destinatario_Notificacion</name>
        <label>Asigna destinatario notificación</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Asesor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_Jefe_Producto_Notificacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Destinatario_Notificacion_Jefe</name>
        <label>Asigna destinatario notificación jefe</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Jefe_Producto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determinar_Evento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determinar_Evento</name>
        <label>Determinar evento</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Evento no notificado</defaultConnectorLabel>
        <rules>
            <name>Reserva_rechazada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva rechazada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Email_Asesor</targetReference>
            </connector>
            <label>Reserva rechazada</label>
        </rules>
        <rules>
            <name>Vehiculo_reservado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehículo reservado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Email_Asesor</targetReference>
            </connector>
            <label>Vehículo reservado</label>
        </rules>
        <rules>
            <name>En_Validacion_de_Tesoreria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En validación de Tesorería</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Correo_Tesoreria</targetReference>
            </connector>
            <label>En validación de Tesorería</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Email_Asesor</name>
        <label>Tiene email asesor</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Tiene_Tipo_Notificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin email</defaultConnectorLabel>
        <rules>
            <name>Email_Asesor_Disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asesor.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Correo_Asesor</targetReference>
            </connector>
            <label>Email asesor disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Jefe_Producto_Notificacion</name>
        <label>Tiene jefe producto notificación</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Determinar_Evento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin jefe producto adicional</defaultConnectorLabel>
        <rules>
            <name>Jefe_Producto_Distinto_Asesor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jefe_Producto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jefe_Producto.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asesor.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Destinatario_Notificacion_Jefe</targetReference>
            </connector>
            <label>Jefe producto distinto asesor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Tipo_Notificacion</name>
        <label>Tiene tipo notificación</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Sin tipo de notificación</defaultConnectorLabel>
        <rules>
            <name>Tipo_Notificacion_Disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Notificacion_Asesor</targetReference>
            </connector>
            <label>Tipo notificación disponible</label>
        </rules>
    </decisions>
    <description>VN-RQ106: según feedback de María del 2026-06-02, Salesforce solo notifica solicitud enviada a Tesorería, Producto aprueba reserva y Producto rechaza reserva. Las demás notificaciones del PDF ProyectoEnvioCorreoReserva quedan fuera de este Flow porque serán enviadas por Helios/otro programa. No implementa Error PDF ni Error integración por alcance Diego/Softland/PDF real.</description>
    <formulas>
        <name>EmailAddressesAsesorYJefeProducto</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!Get_Jefe_Producto.Email})), {!Get_Jefe_Producto.Id} &lt;&gt; {!Get_Asesor.Id}), {!Get_Asesor.Email} + &apos;,&apos; + {!Get_Jefe_Producto.Email}, {!Get_Asesor.Email})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Estatus__c}), &apos;Reserva rechazada&apos;, &apos;Vehículo No Reservado- &apos; + {!Get_Oportunidad.Name}, &apos;Vehículo reservado&apos;, &apos;Vehículo reservado – &apos; + {!Get_Oportunidad.Name}, &apos;VN-RQ106: actualización de anticipo&apos;)</expression>
    </formulas>
    <formulas>
        <name>EmailSubjectTesoreria</name>
        <dataType>String</dataType>
        <expression>&apos;Validación de ingreso requerida – &apos; + IF(ISBLANK({!Get_Cliente.Name}), {!Get_Oportunidad.Name}, {!Get_Cliente.Name}) + &apos; – &apos; + TEXT({!$Record.Monto__c}) + &apos; &apos; + TEXT({!$Record.CurrencyIsoCode})</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;La solicitud &apos; + {!$Record.Name} + &apos; de la oportunidad &apos; + {!Get_Oportunidad.Name} + &apos; cambió a &apos; + TEXT({!$Record.Estatus__c}) + &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Estatus__c}), &apos;Reserva rechazada&apos;, &apos;Vehículo No Reservado&apos;, &apos;Vehículo reservado&apos;, &apos;Vehículo reservado&apos;, &apos;Actualización de anticipo&apos;)</expression>
    </formulas>
    <interviewLabel>VN-RQ106 Notificaciones Anticipo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VN-RQ106 Notificaciones Anticipo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asesor</name>
        <label>Get asesor</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Jefe_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oportunidad.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cliente</name>
        <label>Get cliente</label>
        <locationX>182</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asesor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oportunidad.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get custom notification type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_Destinatario_Notificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redmotors_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jefe_Producto</name>
        <label>Get jefe producto</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oportunidad.JefeSucursal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oportunidad</name>
        <label>Get oportunidad</label>
        <locationX>182</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Anticipo__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!Get_Asesor.Name},&lt;/p&gt;&lt;p&gt;La solicitud VN-RQ106 {!$Record.Name} de la oportunidad {!Get_Oportunidad.Name} cambió a &lt;strong&gt;{!$Record.Estatus__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Monto: {!$Record.Monto__c}&lt;br/&gt;Tipo de ingreso: {!$Record.Tipo_Ingreso__c}&lt;br/&gt;Referencia: {!$Record.Referencia_Comprobante__c}&lt;/p&gt;&lt;p&gt;Comentarios: {!$Record.Comentarios_Aprobacion_Rechazo__c}&lt;/p&gt;&lt;p&gt;Revise el anticipo para continuar el proceso.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTesoreria</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Estimado equipo de Tesorería,&lt;/p&gt;&lt;p&gt;El asesor &lt;strong&gt;{!Get_Asesor.Name}&lt;/strong&gt; ha enviado una nueva solicitud de anticipo para validación.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Anticipo:&lt;/strong&gt; {!$Record.Name}&lt;br/&gt;&lt;strong&gt;Oportunidad:&lt;/strong&gt; {!Get_Oportunidad.Name}&lt;br/&gt;&lt;strong&gt;Asesor:&lt;/strong&gt; {!Get_Asesor.Name}&lt;br/&gt;&lt;strong&gt;Monto:&lt;/strong&gt; {!$Record.Monto__c}&lt;br/&gt;&lt;strong&gt;Tipo de ingreso:&lt;/strong&gt; {!$Record.Tipo_Ingreso__c}&lt;br/&gt;&lt;strong&gt;Referencia:&lt;/strong&gt; {!$Record.Referencia_Comprobante__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Comentarios del asesor:&lt;/strong&gt; {!$Record.Comentarios_Aprobacion_Rechazo__c}&lt;/p&gt;&lt;p&gt;Por favor revise y procese la solicitud en Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
