force-app/main/default/flows/Work_Order_from_Quote_Selective.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>aprobar_articulo</name>
        <label>aprobar articulo</label>
        <locationX>138</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>recorrer_items.Enviado_a_la_orden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrer_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Aseguradora_y_tipo_cliente</name>
        <label>Asigna Aseguradora y tipo cliente</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TipoCliente1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aseguradora</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Aseguradora1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datos_Opp.BMW_Aseguradora__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrdenTrabajo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_ot_reserva_false</name>
        <label>asigna ot reserva false</label>
        <locationX>50</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Datos_Opp.modificadaDeQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ligar_la_OT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asigna_ot_reserva_true</name>
        <label>asigna ot reserva true</label>
        <locationX>314</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Datos_Opp.modificadaDeQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ligar_la_OT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_tipo_gasto_Cliente</name>
        <label>Asigna tipo gasto Cliente</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TipoCliente1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrdenTrabajo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_Wolis_a_crear</name>
        <label>Asigna Wolis a crear</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>WoliACrear.Bodega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.BMW_Bodega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.Alias_Articulo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.BMW_Alias__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.PrecioVenta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iddeOT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.aprobado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.porcentajeDescuento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.Trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.Product2.tipoProducto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WoliACrear.creadaPresupuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuevasWolis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WoliACrear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>aprobar_articulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>RMOTOBAI</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMOTOBAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_la_Ot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>RMBAVARIAN</description>
        <name>RMBAVARIAN</name>
        <label>RMBAVARIAN</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>RMOTOBAI</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMBAVARIAN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_la_Ot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_la_OT_en_la_OPP</name>
        <label>set la OT en la OPP</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Datos_Opp.WorkOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iddeOT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>buscar_los_items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>OrdenaWOLI</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>OrdenaWOLI</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>buscar_los_items</collectionReference>
        <connector>
            <targetReference>FiltradoQuLi</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>decide_creada_ot</name>
        <label>decide creada ot</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>asigna_ot_reserva_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>creada_ot_reserva_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datos_Opp.modificadaDeQuote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_ot_reserva_false</targetReference>
            </connector>
            <label>creada ot reserva true</label>
        </rules>
    </decisions>
    <decisions>
        <name>revisar_Empresa_Factura</name>
        <label>revisar Empresa Factura</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>RMBAVARIAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Obtener_empresa_factura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datos_Opp.BMW_Compania__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otobai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>Obtener empresa factura</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_campania_es_aseguradora</name>
        <label>Si campania es aseguradora</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Asigna_tipo_gasto_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aseguradora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_campa_a_de_oportunidad.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaña Aseguradora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_Aseguradora_y_tipo_cliente</targetReference>
            </connector>
            <label>Aseguradora</label>
        </rules>
    </decisions>
    <decisions>
        <name>territorio_no_vacio</name>
        <label>territorio no vacio</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Error_de_ServiceTerritory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_esta_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datos_Opp.BMW_TallerDeServicio__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>revisar_Empresa_Factura</targetReference>
            </connector>
            <label>no esta vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_items</name>
        <label>tiene items</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>decide_creada_ot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>si_tiene_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListProductos.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorrer_items</targetReference>
            </connector>
            <label>si tiene items</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_Opp</name>
        <label>tiene Opp</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>OrdenTrabajo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datos_de_Quote.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Opp</targetReference>
            </connector>
            <label>Si tiene Opp</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order from Quote Selective {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order from Quote Selective</label>
    <loops>
        <name>recorrer_items</name>
        <label>recorrer items</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <collectionReference>ListProductos.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Wolis_a_crear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_WOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_WOLIs</name>
        <label>Crea WOLIs</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Actualiza_qli</targetReference>
        </connector>
        <inputReference>NuevasWolis</inputReference>
    </recordCreates>
    <recordCreates>
        <description>al tener los datos procedemos a crearla</description>
        <name>Crear_la_Ot</name>
        <label>Crear la Ot</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignRecordIdToReference>iddeOT</assignRecordIdToReference>
        <connector>
            <targetReference>set_la_OT_en_la_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Datos_de_Quote.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Datos_Opp.BMW_PlacaDeVehiculoOElVIN__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BMW_Aseguradora__c</field>
            <value>
                <elementReference>Aseguradora1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Datos_Opp.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilometros__c</field>
            <value>
                <elementReference>Datos_Opp.BMW_PlacaDeVehiculoOElVIN__r.Kilometros__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Datos_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Datos_de_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Datos_Opp.BMW_TallerDeServicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>empresaFactura__c</field>
            <value>
                <elementReference>RMOTOBAI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tipoDeGasto__c</field>
            <value>
                <elementReference>TipoCliente1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>buscar_los_items</name>
        <label>buscar los items</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrdenaWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Datos_de_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Datos_de_Quote</name>
        <label>Datos de Quote</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tiene_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Datos_Opp</name>
        <label>Datos Opp</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_campa_a_de_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Datos_de_Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_campa_a_de_oportunidad</name>
        <label>Obtiene campaña de oportunidad</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_campania_es_aseguradora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Datos_Opp.Campana__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_qli</name>
        <label>Actualiza qli</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>decide_creada_ot</targetReference>
        </connector>
        <inputReference>buscar_los_items</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ligar_la_OT</name>
        <label>ligar la OT</label>
        <locationX>182</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>ir_a_WO</targetReference>
        </connector>
        <inputReference>Datos_Opp</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_de_ServiceTerritory</name>
        <label>Error de ServiceTerritory</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;ERROR: Debe asignar un territorio de servicio a la Oportunidad relacionada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FiltradoQuLi</name>
        <label>FiltradoQuLi</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>tiene_items</targetReference>
        </connector>
        <fields>
            <name>textSeleccione</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Seleccione productos a migrar&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ListProductos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>buscar_los_items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Codigo_producto__c&quot;,&quot;guid&quot;:&quot;column-dae0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Codigo producto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;nombreProducto__c&quot;,&quot;guid&quot;:&quot;column-3fb1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;nombreProducto&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BMW_TipoDeArticulo__c&quot;,&quot;guid&quot;:&quot;column-2470&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tipo de articulo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo de Artículo&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-524a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ir_a_WO</name>
        <label>ir a WO</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_creado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;OT creada exitosamente﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;&lt;em&gt;Sí desea ver la OT creada de click al siguiente botón&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>irAOT</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>iddeOT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Ir a OT</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrdenTrabajo</name>
        <label>OrdenTrabajo</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>territorio_no_vacio</targetReference>
        </connector>
        <fields>
            <name>TextoAyuda</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;En esta sección puede crear una orden de trabajo.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Datos_de_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Aseguradora1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddeOT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NuevasWolis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RMOTOBAI</description>
        <name>RMOTOBAI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RMOTOBAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipoCliente1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cliente</stringValue>
        </value>
    </variables>
    <variables>
        <name>WoliACrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
